<div class="all-detail-container mt-30" *ngIf="orderType == 'Total'">
  <div class="">
    <div class="d-flex align-items-center mb-20">
      <mat-icon style="cursor: pointer;" (click)="routelocation?.back()">keyboard_backspace</mat-icon>
      <div class="ml-12 darkBlackText">Total Order</div>
    </div>
    <div class="all-details-tab-container">
      <div style="padding:24px" class="admin-user-wrapper">
        <div class="mt-30 admin-user-container" *ngFor="let data of planPaymentData;let i=index">
          <mat-accordion>
            <mat-expansion-panel expanded="false" [expanded]="panelOpenState === i" (opened)="panelOpenState=i">
              <mat-expansion-panel-header>
                <mat-panel-title class="text-blue left-border fw-600">
                  Order ID - {{data.orders.orderId}} | Order Date - {{data.orders.createdOn | date:'d MMM y'}} |
                  {{data.orders.orderLines?.[0]?.productDetails?.planType}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class=" subContainer" style="padding:15px;">
                <mat-accordion>
                  <mat-expansion-panel (opened)="SecondpanelOpenState = true" (closed)="SecondpanelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title class="text-blue left-border">
                        Order Details
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="subContainer" style="padding: 15px;">
                      <div class="row">
                        <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                          <div class="light-text mb-4">Order ID</div>
                          <div class="dark-text">{{data?.orders?.orderId}}</div>
                        </div>
                        <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                          <div class="light-text mb-4">Created On</div>
                          <div class="dark-text"> {{data?.orders?.createdOn | date:'dd MMM y'}}</div>
                        </div>
                        <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                          <div class="light-text mb-4">Order Status</div>
                          <div class="dark-text">{{data?.orders?.status | titlecase }}</div>
                        </div>
                        <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                          <div class="light-text mb-4">Order Items </div>
                          <div class="dark-text">{{data?.orders?.orderLines?.length || 'NA'}}</div>
                        </div>
                        <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                          <div class="light-text mb-4">Maker Comment</div>
                          <div class="dark-text">{{data?.orders?.makerComment || 'NA'}}</div>
                        </div>
                        <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                          <div class="light-text mb-4">Checker Comment</div>
                          <div class="dark-text">{{data?.orders?.checkerComment || 'NA'}}</div>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                  <br>
                  <div *ngFor="let orderPaymentDetails of data.orders.paymentDetails">
                    <mat-expansion-panel (opened)="SecondpanelOpenState = true" (closed)="SecondpanelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title class="text-blue left-border">
                          Payment Details
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="">
                        <div class=" subContainer" style="padding: 15px;">
                          <div class="row">
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Payment Transaction ID</div>
                              <div class="dark-text">{{data?.orders?.paymentDetails[0].pid}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Payment Status</div>
                              <div class="dark-text"> {{data?.orders?.status == 'CREATED' ? 'Pending' :
                                data?.orders?.status | titlecase}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Currency</div>
                              <div class="dark-text">{{data?.orders?.paymentDetails[0]?.currency}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Payment Mode</div>
                              <div class="dark-text">{{orderPaymentDetails?.modeOfPayment?.replace('_',' ')}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Total Price</div>
                              <div class="dark-text">{{orderPaymentDetails?.totalPrice |number :'1.2-2'}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Discount</div>
                              <div class="dark-text">{{orderPaymentDetails?.couponCode}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Effective Price</div>
                              <div class="dark-text">{{data?.orders?.effectivePrice |number :'1.2-2'}}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                    <br>
                  </div>
                  <!-- for postpaid i == 0 will be display -->
                  <div *ngIf="data.orders.orderLines[0]?.productDetails?.planType == 'POSTPAID'">
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title class="text-blue left-border">
                          Item 1 - {{data.orders.orderLines[0]?.productDetails?.planName}}
                          ({{data.orders.orderLines[0]?.productDetails?.productType == 'SUBSCRIPTION_PLAN' ?
                          'Subscription' : 'VAS'
                          }})
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <ng-template matExpansionPanelContent>
                        <!-- if plantype is postpaid then there is a one productdetail with multiple transaction details -->
                        <div class="subContainer" style="padding: 0px 15px;">
                          <div class="row">
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Product ID</div>
                              <div class="dark-text">{{data.orders.orderLines[0].productDetails?.id}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Product Name</div>
                              <div class="dark-text" style="word-wrap: break-word;">
                                {{data.orders.orderLines[0].productDetails?.planName}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Product Type</div>
                              <div class="dark-text" style="word-wrap: break-word;">
                                {{data.orders.orderLines[0].productDetails?.productType?.replace('_',' ')}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Plan Type</div>
                              <div class="dark-text">{{data.orders.orderLines[0].productDetails?.planType}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Quantity</div>
                              <div class="dark-text">{{data.orders.orderLines[0].quantity}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Price</div>
                              <div class="dark-text">{{data.orders.orderLines[0].price |number :'1.2-2'}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Duration</div>
                              <div class="dark-text" style="word-wrap: break-word;">
                                {{data.orders.orderLines[0].productDetails?.duration}}
                                {{data.orders.orderLines[0].productDetails?.durationType}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Status</div>
                              <div class="dark-text">{{data.orders.orderLines[0].productDetails?.status}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Benefit</div>
                              <div class="dark-text" style="display:inline"
                                *ngFor="let bene of data.orders.orderLines[0].productDetails?.productBenefits;let i = index">
                                <span>{{bene.value}}<span
                                    *ngIf="data.orders.orderLines[0].productDetails?.productBenefits.length > i+1">|</span></span>
                              </div>
                            </div>
                          </div>
                          <div class="row" *ngFor="let transactionpostdata of data?.orders?.transactionPostpaidList">
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Transaction ID</div>
                              <div class="dark-text">{{transactionpostdata?.transactionId || 'NA'}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Transaction Charges</div>
                              <div class="dark-text">{{transactionpostdata?.chargableAmount |number :'1.2-2'}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">LC Issuance Bank</div>
                              <div class="dark-text" style="word-wrap: break-word;">
                                {{transactionpostdata?.lCIssuanceBank || 'NA'}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">LC Value</div>
                              <div class="dark-text" style="word-wrap: break-word;">
                                {{transactionpostdata?.lCValue || 'NA'}}</div>
                            </div>
                          </div><br>
                        </div>
                      </ng-template>
                    </mat-expansion-panel><br>
                  </div>
                  <!-- for prepaid -->
                  <div *ngIf="data.orders.orderLines?.[0]?.productDetails?.planType == 'PREPAID'">
                    <div *ngFor="let orderLinesData of data.orders.orderLines;let i=index">
                      <mat-expansion-panel [expanded]="step === i" (opened)="step=i">
                        <mat-expansion-panel-header>
                          <mat-panel-title class="text-blue left-border">
                            Item {{i+1}} - {{orderLinesData?.productDetails?.planName}}
                            ({{orderLinesData?.productDetails?.productType == 'SUBSCRIPTION_PLAN' ? 'Subscription' :
                            'VAS'
                            }})
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                          <!-- if plantype is prepaid then there is a multiple productdetail along with single transaction detail -->
                          <div class="subContainer" style="padding: 0px 15px;">
                            <div class="row">
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                                <div class="light-text mb-4">Product ID</div>
                                <div class="dark-text">{{orderLinesData?.productDetails?.id}}</div>
                              </div>
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                                <div class="light-text mb-4">Product Name</div>
                                <div class="dark-text" style="word-wrap: break-word;">
                                  {{orderLinesData?.productDetails?.planName}}</div>
                              </div>
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                                <div class="light-text mb-4">Product Type</div>
                                <div class="dark-text" style="word-wrap: break-word;">
                                  {{orderLinesData?.productDetails?.productType?.replace('_',' ')}}</div>
                              </div>
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                                <div class="light-text mb-4">Plan Type</div>
                                <div class="dark-text">{{orderLinesData?.productDetails?.planType}}</div>
                              </div>
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                                <div class="light-text mb-4">Quantity</div>
                                <div class="dark-text">{{orderLinesData?.quantity}}</div>
                              </div>
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                                <div class="light-text mb-4">Price</div>
                                <div class="dark-text">{{orderLinesData?.price |number :'1.2-2'}}</div>
                              </div>
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                                <div class="light-text mb-4">Duration</div>
                                <div class="dark-text" style="word-wrap: break-word;">
                                  {{orderLinesData?.productDetails?.duration}}
                                  {{orderLinesData?.productDetails?.durationType}}</div>
                              </div>
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                                <div class="light-text mb-4">Status</div>
                                <div class="dark-text">{{orderLinesData?.productDetails?.status}}</div>
                              </div>
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                                <div class="light-text mb-4">Benefit</div>
                                <div class="dark-text" style="display:inline"
                                  *ngFor="let bene of orderLinesData.productDetails?.productBenefits;let i = index">
                                  <span>{{bene.value}}<span
                                      *ngIf="orderLinesData.productDetails?.productBenefits.length > i+1">|</span></span>
                                </div>
                              </div>
                            </div>
                            <br>
                          </div>
                        </ng-template>
                      </mat-expansion-panel><br>
                    </div>
                  </div>

                </mat-accordion>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
    </div>
</div>
<!-- PENDING ORDER -->
<div class="all-detail-container mt-30" *ngIf="orderType != 'Total'">
  <div class="">
    <div class="d-flex align-items-center mb-20">
      <mat-icon style="cursor: pointer;" (click)="routelocation?.back()">keyboard_backspace</mat-icon>
      <div class="ml-12 darkBlackText col-md-9">Pending Order</div>
      <div class="col-md-1"
        *ngIf="planPaymentData[0]?.orders?.status == 'CREATED' && myRights.includes('PAYMENT_MARK_DONE')">
        <button mat-raised-button class="approveBtn"
          (click)="comment(planPaymentData[0]?.orders?.orderId,planPaymentData[0]?.orders?.paymentDetails[0]?.pid,planPaymentData[0]?.orders?.paymentDetails[0]?.orderToken,'MAKER_APPROVED')">Approve</button>
      </div>
      <div class="col-md-1"
        *ngIf="planPaymentData[0]?.orders?.status == 'CREATED' && myRights.includes('PAYMENT_MARK_DONE')">
        <button mat-raised-button class="rejectBtn"
          (click)="comment(planPaymentData[0]?.orders?.orderId,planPaymentData[0]?.orders?.paymentDetails[0]?.pid,planPaymentData[0]?.orders?.paymentDetails[0]?.orderToken,'REJECTED')">Reject</button>
      </div>
    </div>

    <div class="all-details-tab-container">
      <div style="padding:24px" class="admin-user-wrapper">
        <div class="mt-30 admin-user-container" *ngFor="let data of planPaymentData;let i=index">
          <mat-accordion>
            <mat-expansion-panel expanded="false" [expanded]="panelOpenState === i" (opened)="panelOpenState=i">
              <mat-expansion-panel-header>
                <mat-panel-title class="text-blue left-border fw-600">
                  Order ID - {{data.orders.orderId}} | Order Date - {{data.orders.createdOn | date:'d MMM y'}} |
                  {{data.orders.orderLines?.[0]?.productDetails?.planType}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class=" subContainer" style="padding:15px;">
                <mat-accordion>
                  <mat-expansion-panel (opened)="SecondpanelOpenState = true" (closed)="SecondpanelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title class="text-blue left-border">
                        Order Details
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="subContainer" style="padding: 15px;">
                      <div class="row">
                        <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                          <div class="light-text mb-4">Order ID</div>
                          <div class="dark-text">{{data?.orders?.orderId}}</div>
                        </div>
                        <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                          <div class="light-text mb-4">Created On</div>
                          <div class="dark-text"> {{data?.orders?.createdOn | date:'dd MMM y'}}</div>
                        </div>
                        <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                          <div class="light-text mb-4">Order Status</div>
                          <div class="dark-text">{{data?.orders?.status | titlecase }}</div>
                        </div>
                        <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                          <div class="light-text mb-4">Order Items </div>
                          <div class="dark-text">{{data?.orders?.orderLines?.length || 'NA'}}</div>
                        </div>
                        <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                          <div class="light-text mb-4">Maker Comment</div>
                          <div class="dark-text">{{data?.orders?.makerComment || 'NA'}}</div>
                        </div>
                        <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                          <div class="light-text mb-4">Checker Comment</div>
                          <div class="dark-text">{{data?.orders?.checkerComment || 'NA'}}</div>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                  <br>
                  <div *ngFor="let orderPaymentDetails of data.orders.paymentDetails">
                    <mat-expansion-panel (opened)="SecondpanelOpenState = true" (closed)="SecondpanelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title class="text-blue left-border">
                          Payment Details
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="">
                        <div class=" subContainer" style="padding: 15px;">
                          <div class="row">
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Payment Transaction ID</div>
                              <div class="dark-text">{{data?.orders?.paymentDetails[0].pid}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Payment Status</div>
                              <div class="dark-text"> {{data?.orders?.status == 'CREATED' ? 'Pending' :
                                data?.orders?.status | titlecase}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Currency</div>
                              <div class="dark-text">{{data?.orders?.paymentDetails[0]?.currency}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Payment Mode</div>
                              <div class="dark-text">{{orderPaymentDetails?.modeOfPayment?.replace('_',' ')}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Total Price</div>
                              <div class="dark-text">{{orderPaymentDetails?.totalPrice |number :'1.2-2'}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Discount</div>
                              <div class="dark-text">{{orderPaymentDetails?.couponCode}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Effective Price</div>
                              <div class="dark-text">{{data?.orders?.effectivePrice |number :'1.2-2'}}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </div><br>
                  <!-- for postpaid i == 0 will be display -->
                  <div *ngIf="data.orders.orderLines[0]?.productDetails?.planType == 'POSTPAID'">
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title class="text-blue left-border">
                          Item 1 - {{data.orders.orderLines[0]?.productDetails?.planName}}
                          ({{data.orders.orderLines[0]?.productDetails?.productType == 'SUBSCRIPTION_PLAN' ?
                          'Subscription' : 'VAS'
                          }})
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <ng-template matExpansionPanelContent>
                        <!-- if plantype is postpaid then there is a one productdetail with multiple transaction details -->
                        <div class="subContainer" style="padding: 0px 15px;">
                          <div class="row">
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Product ID</div>
                              <div class="dark-text">{{data.orders.orderLines[0].productDetails?.id}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Product Name</div>
                              <div class="dark-text" style="word-wrap: break-word;">
                                {{data.orders.orderLines[0].productDetails?.planName}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Product Type</div>
                              <div class="dark-text" style="word-wrap: break-word;">
                                {{data.orders.orderLines[0].productDetails?.productType?.replace('_',' ')}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Plan Type</div>
                              <div class="dark-text">{{data.orders.orderLines[0].productDetails?.planType}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Quantity</div>
                              <div class="dark-text">{{data.orders.orderLines[0].quantity}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Price</div>
                              <div class="dark-text">{{data.orders.orderLines[0].price |number :'1.2-2'}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Duration</div>
                              <div class="dark-text" style="word-wrap: break-word;">
                                {{data.orders.orderLines[0].productDetails?.duration}}
                                {{data.orders.orderLines[0].productDetails?.durationType}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Status</div>
                              <div class="dark-text">{{data.orders.orderLines[0].productDetails?.status}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Benefit</div>
                              <div class="dark-text" style="display:inline"
                                *ngFor="let bene of data.orders.orderLines[0].productDetails?.productBenefits;let i = index">
                                <span>{{bene.value}}<span
                                    *ngIf="data.orders.orderLines[0].productDetails?.productBenefits.length > i+1">|</span></span>
                              </div>
                            </div>
                          </div>
                          <div class="row" *ngFor="let transactionpostdata of data?.orders?.transactionPostpaidList">
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Transaction ID</div>
                              <div class="dark-text">{{transactionpostdata?.transactionId || 'NA'}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">Transaction Charges</div>
                              <div class="dark-text">{{transactionpostdata?.chargableAmount |number :'1.2-2'}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">LC Issuance Bank</div>
                              <div class="dark-text" style="word-wrap: break-word;">
                                {{transactionpostdata?.lCIssuanceBank || 'NA'}}</div>
                            </div>
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                              <div class="light-text mb-4">LC Value</div>
                              <div class="dark-text" style="word-wrap: break-word;">
                                {{transactionpostdata?.lCValue || 'NA'}}</div>
                            </div>
                          </div><br>
                        </div>
                      </ng-template>
                    </mat-expansion-panel><br>
                  </div>
                  <!-- for prepaid -->
                  <div *ngIf="data.orders.orderLines?.[0]?.productDetails?.planType == 'PREPAID'">
                    <div *ngFor="let orderLinesData of data.orders.orderLines;let i=index">
                      <mat-expansion-panel [expanded]="step === i" (opened)="step=i">
                        <mat-expansion-panel-header>
                          <mat-panel-title class="text-blue left-border">
                            Item {{i+1}} - {{orderLinesData?.productDetails?.planName}}
                            ({{orderLinesData?.productDetails?.productType == 'SUBSCRIPTION_PLAN' ? 'Subscription' :
                            'VAS'
                            }})
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                          <!-- if plantype is prepaid then there is a multiple productdetail along with single transaction detail -->
                          <div class="subContainer" style="padding: 0px 15px;">
                            <div class="row">
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                                <div class="light-text mb-4">Product ID</div>
                                <div class="dark-text">{{orderLinesData?.productDetails?.id}}</div>
                              </div>
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                                <div class="light-text mb-4">Product Name</div>
                                <div class="dark-text" style="word-wrap: break-word;">
                                  {{orderLinesData?.productDetails?.planName}}</div>
                              </div>
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                                <div class="light-text mb-4">Product Type</div>
                                <div class="dark-text" style="word-wrap: break-word;">
                                  {{orderLinesData?.productDetails?.productType?.replace('_',' ')}}</div>
                              </div>
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                                <div class="light-text mb-4">Plan Type</div>
                                <div class="dark-text">{{orderLinesData?.productDetails?.planType}}</div>
                              </div>
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                                <div class="light-text mb-4">Quantity</div>
                                <div class="dark-text">{{orderLinesData?.quantity}}</div>
                              </div>
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                                <div class="light-text mb-4">Price</div>
                                <div class="dark-text">{{orderLinesData?.price |number :'1.2-2'}}</div>
                              </div>
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                                <div class="light-text mb-4">Duration</div>
                                <div class="dark-text" style="word-wrap: break-word;">
                                  {{orderLinesData?.productDetails?.duration}}
                                  {{orderLinesData?.productDetails?.durationType}}</div>
                              </div>
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                                <div class="light-text mb-4">Status</div>
                                <div class="dark-text">{{orderLinesData?.productDetails?.status}}</div>
                              </div>
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                                <div class="light-text mb-4">Benefit</div>
                                <div class="dark-text" style="display:inline"
                                  *ngFor="let bene of orderLinesData.productDetails?.productBenefits;let i = index">
                                  <span>{{bene.value}}<span
                                      *ngIf="orderLinesData.productDetails?.productBenefits.length > i+1">|</span></span>
                                </div>
                              </div>
                            </div>
                            <br>
                          </div>
                        </ng-template>
                      </mat-expansion-panel><br>
                    </div>
                  </div>
                </mat-accordion>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #callAPIDialog>
  <div class="common-popup">
    <div class="header">
      Confirm Action
      <mat-icon class="cpointer" (click)="closeComment()">close</mat-icon>
    </div>
    <div class="main-container">
      <p class="f-16">Are you sure you want to proceed with the action ?</p>
      <div class="col-md-12">
        <mat-form-field class="w100">
          <textarea matInput rows="5" placeholder="Your Comment" [(ngModel)]="commentValue">
                  </textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="text-center button-style d-flex">
          <div class="col-md-2 mt-10">
            <button mat-raised-button class="primary-btn" (click)="action()">Yes</button>
          </div>
          <div class="col-md-2 mt-10" style="margin-left: 10px;">
            <button mat-stroked-button class="f-16 w100" (click)="closeComment()">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>