.heading {
    background-color: var(--yellow);
    color: var(--white);
    padding: 15px;
    position: relative;
    .circle-icon {
        position: absolute;
        right: 8px;
        top: 5px;
        cursor: pointer;
    }
}
::ng-deep {
    .mat-icon {
        width: inherit !important;
        height: inherit !important;           
    }
}
.img-container {
    margin-top: 40px;
    margin-bottom: 20px;
    img {
        width: 65px;
    }        
}   
.error-msg {
    span {
        font-size: 14px;
        font-family: 'Lato', sans-serif !important;
        color: var(--dgrey);
    }
} 
::ng-deep {
   .update-btn {
    margin-top: 10px;
    text-align: center;
    button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
        width: 100px !important;
    }
   }
   .mat-mdc-form-field {
    width: 100% !important;
   }
}