<div class="AddFactor">
    <div class="Close">
        <div class="row">
            <div class="col-md-6 f-22 fontBold heading">
                Add Factor
            </div>
            <div class="col-md-6">
                <span class="circle-icon" (click)="close()">
                    <mat-icon mat-dialog-close>
                        <img src="../../../../../assets/images/icons/Icon-close.svg">
                    </mat-icon>
                </span>
            </div>
        </div>
    </div>
    <div class="text-center cpopup">
        <div class="mt-30 row d-flex justify-content-center align-items-center">
            <div class=" px-5 py-2 col-md-12 m-auto">
            <form [formGroup]="manageForm">
                <div class="row">
                <!-- Factor Name Field -->
                    <div class="col-md-6  pd-r-0">
                        <mat-form-field appearance="outline" class="w100">
                            <mat-label>Factor Name</mat-label>
                            <input type="text" matInput formControlName="companyName">
                            <mat-error *ngIf="manageForm.controls['companyName'].hasError('required')">Factor Name required</mat-error>
                        </mat-form-field>
                    </div>
                <!-- Factor Country Field -->
                    <div class="col-md-6  pd-r-0">
                        <mat-form-field appearance="outline" class="w100">
                            <mat-label>Factor Country</mat-label>
                            <mat-select formControlName="country" >
                              <mat-option *ngFor="let item of countries" [value]="item.countryName">{{item.countryName }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="manageForm.controls['country'].hasError('required')">Factor Country required</mat-error>
                          </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <!-- First Name Field -->
                        <div class="col-md-3  pd-r-0">
                            <mat-form-field appearance="outline" class="w100">
                                <mat-label>First Name</mat-label>
                                <input type="text" matInput formControlName="firstName" (keypress)="textOnly($event)">
                                <mat-error *ngIf="manageForm.controls['firstName'].hasError('required')">first Name required</mat-error>
                            </mat-form-field>
                        </div>
                    <!-- Last Name Field -->
                        <div class="col-md-3  pd-r-0">
                            <mat-form-field appearance="outline" class="w100">
                                <mat-label>Last Name</mat-label>
                                <input type="text" matInput formControlName="lastName"  (keypress)="textOnly($event)">
                                <mat-error *ngIf="manageForm.controls['lastName'].hasError('required')">Last Name required</mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Email ID Field -->
                        <div class="col-md-3  pd-r-0">
                            <mat-form-field appearance="outline" class="w100">
                                <mat-label>Email ID</mat-label>
                                <input type="text" matInput formControlName="email" >
                                <mat-error *ngIf="manageForm.controls['email'].invalid || manageForm.controls['email'].hasError('required')">Email ID required</mat-error>
                            </mat-form-field>
                        </div>
                    <!-- Mobile Number Field -->
                        <div class="col-md-3  pd-r-0">
                            <mat-form-field appearance="outline" class="w100">
                                <mat-label>Mobile Number</mat-label>
                                <input type="text" matInput formControlName="mobileNo" minlength=10 maxlength=10 (keypress)="isNumberKey($event)">
                                <mat-error *ngIf="manageForm.controls['mobileNo'].hasError('required')">Mobile Number required</mat-error>
                            </mat-form-field>
                        </div>
                </div>
                <!--Additional Details-->
                <div><br>
                    <form [formGroup]="manageSubFormArray">
                    <div class="row" style="padding:0px">
                        <div class="col-md-10">
                          <h6 class="heading f-16 fontBold dgrey">Add Additional Details</h6><br>
                        </div>
                        <div class="col-md-2" style="padding:0px">
                            <button mat-raised-button class="primary-btn f-14 w-100" (click)="additionalUser()">+ Add</button>

                        </div>
                      </div><br>
                    <div formArrayName="details"
                    *ngFor="let item of manageSubFormArray.get('details')['controls']; let i = index;">

                    <div [formGroupName]="i">
                        <div class="row">
                            <!-- First Name Field -->
                            <div class="col-md-3  pd-r-0">
                                <mat-form-field appearance="outline" class="w100">
                                    <mat-label>First Name</mat-label>
                                    <input type="text" matInput formControlName="firstName" (keypress)="textOnly($event)">
                                </mat-form-field>
                            </div>
                             <!-- Last Name Field -->
                            <div class="col-md-3  pd-r-0">
                                <mat-form-field appearance="outline" class="w100">
                                    <mat-label>Last Name</mat-label>
                                    <input type="text" matInput formControlName="lastName" (keypress)="textOnly($event)">
                                </mat-form-field>
                            </div>
                            <!-- Email ID Field -->
                            <div class="col-md-3  pd-r-0">
                                <mat-form-field appearance="outline" class="w100">
                                    <mat-label>Email ID</mat-label>
                                    <input type="email" matInput formControlName="email" email>
                                </mat-form-field>
                            </div>
                        <!-- Last Name Field -->
                            <div class="col-md-2  pd-r-0">
                                <mat-form-field appearance="outline" class="w100">
                                    <mat-label>Mobile Number</mat-label>
                                    <input type="text" matInput formControlName="mobileNo" minlength=10 maxlength=10 (keypress)="isNumberKey($event)">
                                </mat-form-field>
                            </div>
                          <div class="col-md-1 icon">
                            <span (click)="deleteUser(i)"><i class="fa fa-trash-o fa-lg"
                                aria-hidden="true"></i></span>
                          </div>
                        </div>
                    </div>

                  </div>
                </form>
                </div>

                <div class="row ">
                    <div class="col-md-5 m-auto mt-20">
                    <app-button [name]="'Save'" [class]="'primary-btn f-16 w-100'" class="btnResize" (click)="submit()"></app-button>
                    </div>
                </div>
            </form> 
            </div>  
         </div>
    </div>
</div>