<div style="padding: 20px 10px;">
  <div class="row">
      <div class="col-md-2">
          <span class="f-22 fontBold dgrey">Referrer</span>
      </div>
      <div  class="col-md-5" style="width:46%"></div>
    <div class="col-md-2">
      <div class="filterDropdown mt-10"> 
          <mat-form-field appearance="outline" >
          <mat-select (selectionChange)="onStatusChange($event)" [ngModel]="status">
              <mat-option value="ALL">All</mat-option>
              <mat-option value="ACTIVE">Active</mat-option>
              <mat-option value="PENDING">Pending</mat-option>
              <mat-option value="REJECTED">Rejected</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
  </div>
  <div class="col-md-2 mt-10" style="margin-left: 5px;">
    <mat-form-field appearance="outline" class="w100">
      <mat-label>Search User ID</mat-label>
      <input type="text" matInput [formControl]="searchTerm"  oninput="this.value = this.value.trim()" [matAutocomplete]="auto" (keydown.space)="$event.preventDefault()">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let searchTerm of searchDataList"  [value]="searchTerm" (onSelectionChange)="getDataByUserId(searchTerm)">
          {{searchTerm}}
        </mat-option>
      </mat-autocomplete>
  </mat-form-field>
  </div>
    </div>
      
    <div class="mt-30 table-container">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef > User ID </th>
                <td mat-cell *matCellDef="let element">
                  {{element.personalDetails.username}}
                </td>
              </ng-container>
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef > First Name </th>
          <td mat-cell *matCellDef="let element">
            {{element.personalDetails.firstName}}
          </td>
        </ng-container>
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef > Last Name </th>
            <td mat-cell *matCellDef="let element">
              {{element.personalDetails.lastName}}
            </td>
          </ng-container>
          
          <ng-container matColumnDef="mobileNumber">
            <th mat-header-cell *matHeaderCellDef >Mobile</th>
            <td mat-cell *matCellDef="let element">
                {{element.personalDetails.mobileNumber}}
            </td>
          </ng-container>
          <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef >Email</th>
              <td mat-cell *matCellDef="let element">
                  {{element.personalDetails.email}}
              </td>
            </ng-container>
            <ng-container matColumnDef="Country">
              <th mat-header-cell *matHeaderCellDef >Country</th>
              <td mat-cell *matCellDef="let element">
                  {{element.personalDetails.country}}
              </td>
            </ng-container>
            <ng-container matColumnDef="companyName">
              <th mat-header-cell *matHeaderCellDef >Company Name</th>
              <td mat-cell *matCellDef="let element">
                {{element.businessDetails.companyName}}
              </td>
            </ng-container>
            <ng-container matColumnDef="KYC">
              <th mat-header-cell *matHeaderCellDef >KYC</th>
              <td mat-cell *matCellDef="let element;let i = index">
                <ng-container *ngIf="element.kycDetails.length <= 0">
                  Not Uploaded
                </ng-container>  
                <ng-container *ngIf="element.kycDetails.length > 0">
                  <td style="color:blue;cursor: pointer;" (click)="getKycDetails(element.personalDetails?.username)">
                    <!-- {{element.kycDetails.length <= 0 ? 'Not Uploaded' : (element.kycDetails[0]?.documentList[0]?.kycStatus == 'PENDING' || element.kycDetails[1]?.documentList[0]?.kycStatus == 'PENDING') ? 'Pending' : (element.kycDetails[0]?.documentList[0]?.kycStatus == 'MAKER_APPROVED' || element.kycDetails[1]?.documentList[0]?.kycStatus == 'MAKER_APPROVED') ? 'Pending' : (element.kycDetails[0]?.documentList[0]?.kycStatus == 'REJECTED' || element.kycDetails[1]?.documentList[0]?.kycStatus == 'REJECTED')? 'Pending':'Approved'}} -->
                  <!-- {{element.kycDetails[0]?.documentList[0]?.kycStatus == 'ACTIVE' && element.kycDetails[1]?.documentList[0]?.kycStatus == 'ACTIVE' ? 'Approved' : 'Pending'}} -->
                  {{ (element.kycDetails[0]?.documentList[0]?.kycStatus == 'ACTIVE' && element.kycDetails[1]?.documentList[0]?.kycStatus == 'ACTIVE') ? 'Active' : (element.kycDetails[0]?.documentList[0]?.kycStatus == 'REJECTED' || element.kycDetails[1]?.documentList[0]?.kycStatus == 'REJECTED') ? 'Rejected' : 'Pending' }}
                  </td>
                </ng-container> 
              </td>
            </ng-container>
            <ng-container matColumnDef="Total Reference">
              <th mat-header-cell *matHeaderCellDef >Total Reference</th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.totalReferences == 0">
                  0
                </ng-container>  
                <ng-container *ngIf="element.totalReferences != 0">
                  <td  style="color:blue;cursor: pointer;" (click)="getTotalReference(element.personalDetails?.username,'ALL')"> 
                    {{element.totalReferences}}
                  </td>
                </ng-container> 
              </td>
              <!-- <td mat-cell *matCellDef="let element">
                {{element.totalReferences}}
              </td> -->
            </ng-container>
            <ng-container matColumnDef="Approved Reference">
              <th mat-header-cell *matHeaderCellDef >Approved Reference</th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.approvedReferences == 0">
                  0
                </ng-container>  
                <ng-container *ngIf="element.approvedReferences != 0">
                  <td  style="color:blue;cursor: pointer;" (click)="getApprovedReference(element.personalDetails?.username,'ACTIVE')"> 
                    {{element.approvedReferences}}
                  </td>
                </ng-container> 
              </td>
            </ng-container>
            <ng-container matColumnDef="Rejected Reference">
              <th mat-header-cell *matHeaderCellDef >Rejected Reference</th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.rejectedReferences == 0">
                  0
                </ng-container>  
                <ng-container *ngIf="element.rejectedReferences != 0">
                  <td  style="color:blue;cursor: pointer;" (click)="getRejectedReference(element.personalDetails?.username,'REJECTED')"> 
                    {{element.rejectedReferences}}
                  </td>
                </ng-container> 
              </td>
            </ng-container>
            <ng-container matColumnDef="Pending Reference">
              <th mat-header-cell *matHeaderCellDef >Pending Reference</th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.pendingReferences == 0">
                  0
                </ng-container>  
                <ng-container *ngIf="element.pendingReferences != 0">
                  <td  style="color:blue;cursor: pointer;" (click)="getPendingReference(element.personalDetails?.username,'PENDING')"> 
                    {{element.pendingReferences}}
                  </td>
                </ng-container> 
              </td>
            </ng-container>
            <!-- <ng-container matColumnDef="kycStatus">
              <th mat-header-cell *matHeaderCellDef >KYC</th>
              <td mat-cell *matCellDef="let element;let i = index" style="color:blue;cursor: pointer;"(click)="getKycDetails(element.personalDetails.username)">
                  {{(element.kycDetails[0].documentList[0].kycStatus == 'PENDING' || element.kycDetails[1].documentList[0].kycStatus == 'PENDING') ? 'Pending' : (element.kycDetails[0].documentList[0].kycStatus == 'MAKER_APPROVED' || element.kycDetails[1].documentList[0].kycStatus == 'MAKER_APPROVED') ? 'Pending' : (element.kycDetails[0].documentList[0].kycStatus == 'REJECTED' || element.kycDetails[1].documentList[0].kycStatus == 'REJECTED') ? 'Rejected' : 'Approved'}}
              </td>
            </ng-container> -->
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef >View</th>
            <td mat-cell *matCellDef="let element">
                  <i class="fa fa-eye" style="cursor:pointer" (click)="viewDetails(element.personalDetails?.username)"></i> 
                <mat-menu #menu="matMenu">
                  <!-- (click)="edit(element.id)" -->
                        <!-- <button mat-menu-item 
                        class="f-12 fontRegular dgrey" (click)="view(element)">View/Edit</button> -->
                </mat-menu> 
               </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
      
      </table>
    </div>
    <div class="row">
      <div class="col-md-2">
        <mat-paginator  (page)= "onPageChange($event)" [pageSizeOptions]="[5, 10, 20, 30]">
        </mat-paginator>
      </div>
      <div class="col-md-10">
          <div class="pagination" style="float: right;">
              <div class="f-12 fontBold grey mx-3"> {{getPage()+' ' }} of {{page?.totalElements}}</div>
              <mat-icon class="pointer" (click)="pagePrevious()" [style.color]="page?.index === 0 ?'#292929a1':'#EB7203'"
                  [style.pointer-events]="page?.index === 0?'none':'auto'">
                  arrow_back_ios
              </mat-icon>
              <mat-icon class="pointer" (click)="pageNext()" [style.pointer-events]="last===page?.totalElements?'none':'auto'"
                  [style.color]="last===page?.totalElements ?'#292929a1':'#EB7203'"
                  [style.pointer-events]="last===page?.totalElements ?'none':'auto'" style="margin-left: 10px;">
                  arrow_forward_ios
              </mat-icon>
          </div>
       </div>
    </div>
    </div>
