.back{
    text-align: end;
}
.inline-radio{
    display: contents;
}
.mat-mdc-option{
    font-size:smaller !important;
}
.small{
    font-size:smaller !important;
}
.pd-r-0{
    padding-right:0px;
}
.back{
    text-align: end;
}
.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

// .pd-b-2{
//     padding-bottom:2%;
// }