<div class="general-popup">
    <!-- <div class="logo">
        <img src="../../../../assets/images/icons/login-logo.png">
    </div> -->
    <div class="header">
        Change password
        <mat-icon class="cpointer" (click)="close()">close</mat-icon>
    </div>
    <form [formGroup]="passwordForm" class="px-2 py-3">
    <div class="col-md-10 m-auto main-container" >
        <div class="mt-10 pwd-field">
            <mat-form-field appearance="outline" class="w100 newInput">
                <mat-label>Enter current password</mat-label>
                <input [type]="showPassword?'text':'password'"
                    formControlName = "currentPassword"
                    matInput>
                <mat-icon matSuffix (click)="togglePasswordVisibility()">
                    {{showPassword?'visibility':'visibility_off'}}
                </mat-icon>
                <mat-error *ngIf="passwordForm.controls['currentPassword'].hasError('required')">
                    Current Password is required
                </mat-error>
                <!-- <mat-error *ngIf="passwordForm.controls['currentPassword'].hasError('minlength')">
                    Minimum 8 characters
                </mat-error> -->

            </mat-form-field>
        </div>
        <div class="mt-10 pwd-field">
            <mat-form-field appearance="outline" class="w100 newInput">
                <mat-label>Enter new password</mat-label>
                <input [type]="showNewPassword?'text':'password'"
                    formControlName = "newPassword"
                    matInput>
                <mat-icon matSuffix (click)="togglePasswordVisibility2()">
                    {{showNewPassword?'visibility':'visibility_off'}}
                </mat-icon>
                <mat-error *ngIf="passwordForm.controls['newPassword'].hasError('required')">
                    New Password is required
                </mat-error>
                <!-- <mat-error *ngIf="passwordForm.controls['newPassword'].hasError('minlength')">
                    Minimum 8 characters
                </mat-error> -->

            </mat-form-field>
        </div>
        <div class="mt-10 pwd-field">
            <mat-form-field appearance="outline" class="w100 newInput">
                <mat-label>Confirm password</mat-label>
                <input [type]="confirmPassword?'text':'password'"
                    formControlName = "confNewPassword"
                    matInput>
                <mat-icon matSuffix (click)="togglePasswordVisibility3()">
                    {{confirmPassword?'visibility':'visibility_off'}}
                </mat-icon>
                <mat-error *ngIf="passwordForm.controls['confNewPassword'].hasError('required')">
                    Confirm Password is required
                </mat-error>
                <mat-error *ngIf="passwordForm.controls['confNewPassword'].invalid&&!passwordForm.controls['confNewPassword'].hasError('required')">
                    Passwords does not match
                </mat-error>
                <!-- <mat-error *ngIf="passwordForm.controls['confNewPassword'].hasError('minlength')">
                    Minimum 8 characters
                </mat-error> -->
            </mat-form-field>
        </div>
    </div>
    <div class="submit-btn text-center">
		<div class="col-md-4 m-auto">
			<button mat-stroked-button class="f-16 w100" (click)="submit()">Submit</button>
		</div>
	</div>
    </form>
</div>
