<div class="popup">
            <div class="heading d-flex ">
                Quote Accepted
            </div>
            <div class="row" style="margin: 0; padding: 20px">
                <div class="content_text">
                  <div class="sub_title text-center mb-20" >
                      <p>Congratulations!</p>
                  </div>
          
                </div>
                <div  class="sub_title " style="line-height: 21px;">Bank Details</div>
                <div class="row">
                    <div class="col-sm-3 sub_title lite-text" >
                        Bank :
                    </div>
                    <div class="col-4 sub_title lite-text" >
                        {{quatationId.bankName}},{{quatationId.countryName}} 
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 sub_title lite-text" >
                        Swift Code :
                    </div>
                    <div class="col-sm-3 sub_title lite-text" >
                        {{quatationId.swiftCode}} 
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 sub_title lite-text" >
                        Branch : 
                    </div>
                    <div class="col-sm-3 sub_title lite-text" >
                        {{quatationId.branchName}} 
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 sub_title lite-text" >
                        Country :
                    </div>
                    <div class="col-sm-3 sub_title lite-text" >
                        {{quatationId.countryName}} 
                        
                    </div>
                </div>
                <div class="sub_title lite-text mb-20 mt-20">
                    Thank you for accepting the quote. For further support please connect with us at tradesupport@360tf.trade
                </div>
                <div class="sub_title lite-text mb-20">
                    Details are saved in the Transaction Details section.
                </div>
                <div class="d-flex justify-content-end">
                  <div class="save-btn-section col-md-3">
                      <button mat-button class="save-btn  f-12 fontBold dgrey " (click)="submit()" >OK</button>
                  </div> 
                </div>
              </div>
  </div>
