<div class="header-wrapper">
    <div class="logo">
        <img src="../../../../assets/images/icons/login-logo.png" />
    </div>
    <div class="hide-div"></div>
    <div class="user-wrapper white-bg" >
      <div class="pending-class fw-600" *ngIf="showPostpaidBanner" 
            (click)="openNotification()"
        ><mat-icon>warning</mat-icon>Click here to pay</div>
        <div class="d-flex" (click)="options.click()">
        <div class="user">
            <img src="../../../../assets/images/icons/user.png" />
        </div>
        <div class="user-txt  align-items-center">
            <div class="grey fontRegular f-14">{{userDetails ? userDetails.firstName : ''}} {{userDetails ? userDetails.lastName : ''}}</div>
            <div class="f-11 fontRegular grey ">( {{subscriberType}} )</div>
            <div class="d-flex credit" *ngIf="planDetails">
              <img src="../../../../assets/images/icons/credit.png" />
              <p class="f-11 fontRegular blueText" style="margin-bottom: 0px;">{{planDetails?.availableCredits||0}} Credits</p>
          </div>
        </div>
        <!-- <div class="dots">
            <img src="../../../../assets/images/icons/3dots.png" />
        </div> -->
        <div #options class="dots" [matMenuTriggerFor]="menu" style="pointer-events: none;">
          <img src="../../../../assets/images/icons/3dots.png" />
        </div>
    </div>
    <mat-menu #menu="matMenu" xPosition="after" *ngIf="isMasterUser">
      <button mat-menu-item *ngIf="checkAutomatedBank()" (click)="myProfile()">My profile</button>
      <button mat-menu-item *ngIf="checkAutomatedBank()" (click)="viewCreditTransaction()">Credits and Transactions</button>
      <button mat-menu-item *ngIf="checkAutomatedBank()" (click)="manageUser()">Manage User</button>
      <button mat-menu-item *ngIf="checkAutomatedBank()" (click)="addBank()">Add Bank</button>
      <!-- <button mat-menu-item *ngIf="checkAutomatedBank()" (click)="refer()">Refer</button> -->
      <button mat-menu-item *ngIf="checkAutomatedBank()" (click)="cp()">Change Password</button>
      <button mat-menu-item *ngIf="checkAutomatedBank()" (click)="openSubscription()">Subscription</button>
      <button mat-menu-item (click)="support()">Support</button>
      <button mat-menu-item (click)="tnc()">Terms and Condition </button>
      <button mat-menu-item (click)="close()">Logout</button>
    </mat-menu>
    <mat-menu #menu="matMenu" xPosition="after" *ngIf="!isMasterUser">
      <button mat-menu-item *ngIf="checkAutomatedBank()" (click)="myProfile()">My profile</button>
      <button mat-menu-item *ngIf="checkAutomatedBank()" (click)="viewCreditTransaction()">Credits and Transactions</button>
      <!-- <button mat-menu-item *ngIf="checkAutomatedBank()" (click)="refer()">Refer</button> -->
      <button mat-menu-item *ngIf="checkAutomatedBank()" (click)="cp()">Change Password</button>
      <button mat-menu-item (click)="support()">Support</button>
      <button mat-menu-item (click)="tnc()">Terms and Condition </button>
      <button mat-menu-item (click)="close()">Logout</button>
    </mat-menu>
    <!-- <div class="dropdown-style">
   </div> -->
</div>
</div>