@import '../../../components/chips-dropdown/chips-dropdown.component.scss';
.users-detail-container {
    // padding: 30px 25px 23px 24px;

    .ml-12 {
        margin-left: 12px;
    }

    .mb-20 {
        margin-bottom: 20px;
    }


    .darkBlackText {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #292929;
    } 

    .admin-users-container {
        height: 73vh;
        background-color: #F8F9FD;
        padding: 14px !important;
        border-radius: 8px !important;
        border: 2px solid #fff !important;
        .col-md-2{
            width: 25% !important;
            border-radius: 0% !important;
        }
        .custom-label{
            font-size: 12px;
            transform: translateY(-10px) !important;
        }
        .mat-mdc-text-field-wrapper{
            background-color: white !important;
        }
        .bttn{
            border: 1px solid #EB7203;
            margin-left: 18px;
        }
        .hear{
            text-align: end;
            justify-content: end ;
        }
        .mt-15 {
            margin-top: 8px !important;
        }

        .mb-4 {
            margin-bottom: 4px !important;
        }

        .text-blue {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #292929;
            position: relative;
            padding-left: 11px;
        }

        .light-text {
            font-family: 'Lato' !important;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #727272;
        }

        .dark-text {
            font-family: 'Lato' !important;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #292929;
            margin-top: 8px;
        }



        .pointer {
            cursor: pointer;
        }

        @media(max-width:766px) {
            .admin-users-wrapper {
                .admin-user-container {
                    .display-none-mb {
                        display: none !important;
                    }
                }

            }
        }

        @media (min-width: 1400px) {
            .admin-users-wrapper {
                .admin-users-container {
                    .col-xxl-2 {
                        width: 20%;
                    }
                }
            }
        }

    }
    
}
.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label{
    top: 10px !important;
}

.chip {
    ::ng-deep {
        .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
            border: 1px solid #D0D0D0;
            border-radius: 0px;
        }
        .mat-mdc-form-field-icon-suffix>.mat-icon {
            color: #EB7203 !important;
        }
        .mat-mdc-select-arrow {
            display: none !important;
        }
        .mat-mdc-select-trigger{
            height: 21px
        }
    }
    ::ng-deep .mdc-notched-outline {
        span {
            margin-left: 4px !important;
        }
    }
   
}

.mat-mdc-standard-chip.mdc-evolution-chip--with-trailing-action .mdc-evolution-chip__action--primary {
    padding-left: 10px !important;
}

.mat-mdc-form-field-icon-prefix>.mat-icon, .mat-mdc-form-field-icon-suffix>.mat-icon{
    padding-left: 8px !important;
}

.search-box {
    margin: 0 20px;
    img {
        position: absolute;
        left: -30px;
        top: 7px;
    }
    &::before {
        content: "";
        height: 16px;
        width: 1px;
        background-color: #696969;
        position: absolute;
        left: -6px;
        top: 7px;
        
    }
    ::ng-deep {
       
        .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }
        .mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
            background: #EB7203 !important;
            background-color: #EB7203 !important;
        }
        .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
            padding-top: 2px !important;
            padding-bottom: 0 !important;
        }
        .mat-mdc-form-field-flex {
            height: 32px !important;
        }
        ::ng-deep .mdc-notched-outline {
            *{
              border: none;
            }
        }
        .mat-mdc-text-field-wrapper {
            background-color: #F2F2F2 !important; 
            border-radius: 7px;
            border: 1px solid #D0D0D0;
            margin-top: 10px;
        }
        .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
            margin-left: 25px !important;                
            
        }
       
        .mat-mdc-form-field-input-control {
            font-size: 0.8em;
        }
    }
}
.newDrop{
    display: flex !important;
    ::ng-deep{
        .mdc-text-field {
            background-color: #fff ;
          }
        .mdc-text-field {
            border: 1px solid #D0D0D0;
          }
          label{
            font-size:11px;
            color:#727272;
          }
        .mdc-text-field--outlined
        {
           border-radius: 0 0 0 0 ;
        }
        .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading{
            border:0px ;
        }
        .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__trailing{
            border:0px ;
        }
        .mdc-notched-outline__notch{
            border:0px ;
        }
        .mat-mdc-select-arrow{
            opacity: 0;
        }
        .mat-mdc-text-field-wrapper.mdc-text-field--outlined
        .mat-mdc-form-field-infix {
        display: flex ;
      }
      .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
        padding-top: 8px  !important;
        padding-bottom: 8px !important;
    }
    }
}
.newInput{
    ::ng-deep{
        .mdc-text-field {
            background-color: #fff ;
          }
          .mdc-text-field {
            border: 1px solid #D0D0D0;
          }
          label{
            font-size:11px;
            color:#727272;
          }
        .mdc-text-field--outlined
        {
           border-radius: 0 0 0 0 ;
        }
        .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading{
            border-radius:0px ;
        }
        .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__trailing{
            border-radius:0px ;
        }
        .mdc-notched-outline__notch{
            border-radius:0px ;
        }
        .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
            padding-top: 16px  !important;
            padding-bottom: 16px !important;
        }

    }
    .divider {
        width: 1px;
        height: 100%;
        background-color: #ccc;
        margin: 0 10px;
      }
}
.Mobiledrop{
    width: 35% !important;
    ::ng-deep{
        .mdc-text-field {
            background-color: #fff ;
          }
        .mdc-text-field {
            border-left: 1px solid #D0D0D0;
            border-bottom: 1px solid #D0D0D0;
            border-right:white;
          }
          label{
            font-size:11px;
            color:#727272;
          }
        .mdc-text-field--outlined
        {
           border-radius: 0 0 0 0 ;
           padding: 0px 0px 0px 25px;
        }
        .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading{
            border:0px ;
        }
        .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__trailing{
            border:0px ;
        }
        .mdc-notched-outline__notch{
            border:0px ;
        }
        .mat-mdc-select-arrow{
            opacity: 0;
        }
        .mat-mdc-text-field-wrapper.mdc-text-field--outlined
        .mat-mdc-form-field-infix {
        display: flex ;
      }
      .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
        padding-top: 16px  !important;
        padding-bottom: 16px !important;
    }
    }
}
.MobileInput{
    width: 65%  !important;
    ::ng-deep{
        .mdc-text-field {
            background-color: #fff ;
          }
          .mdc-text-field {
            border-bottom: 1px solid #D0D0D0;
            border-right: 1px solid #D0D0D0;
          }
          label{
            font-size:11px;
            color:#727272;
          }
        .mdc-text-field--outlined
        {
           border-radius: 0 0 0 0 ;
           padding:0 0 0 15px;
        }
        .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading{
            border-radius:0px ;
        }
        .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__trailing{
            border-radius:0px ;
        }
        .mdc-notched-outline__notch{
            border-radius:0px ;
        }
        .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
            padding-top: 16px  !important;
            padding-bottom: 16px !important;
        }

    }
}
.user-cont {
    ::ng-deep {
        .mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
            background-color: #fff !important;
        }
    }
}
@media(max-width:870px){
    .users-detail-container {
        padding: 0px 40px 24px 0px;
    }
}