<div style="padding: 20px 10px;">
    <div class="row">
        <div class="col-md-10">
            <span class="f-22 fontBold dgrey">Grant Payment</span>
        </div>
    </div>
    <!-- <div>
        <select (change)="onSubscriberTypeChange($event.target)">
            <option value="CUSTOMER">CUSTOMER</option>
            <option value="BANK">BANK</option>
            <option value="BANK_AS_UNDERWRITER">BANK AS UNDERWRITER</option>
          </select>
          </div> -->

    <div class="mt-30 table-container">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="User Id">
                <th mat-header-cell *matHeaderCellDef>User Id</th>
                <td mat-cell *matCellDef="let element">
                    {{element.personalDetails.username}}
                </td>
            </ng-container>
            <ng-container matColumnDef="First Name">
                <th mat-header-cell *matHeaderCellDef>First Name</th>
                <td mat-cell *matCellDef="let element">
                    {{element.personalDetails.firstName}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Last Name">
                <th mat-header-cell *matHeaderCellDef>Last Name</th>
                <td mat-cell *matCellDef="let element">
                    {{element.personalDetails.lastName}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let element">
                    {{element.personalDetails.email}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Mobile">
                <th mat-header-cell *matHeaderCellDef>Mobile</th>
                <td mat-cell *matCellDef="let element">
                    {{element.personalDetails.mobileNumber}}
                </td>
            </ng-container>
            <!-- <ng-container matColumnDef="Plan and Payment">
                <th mat-header-cell *matHeaderCellDef>Plan and Payment</th>
                <td mat-cell *matCellDef="let element">
                    {{element.plans[0]?.planType}}
                </td>
            </ng-container> -->
            <ng-container matColumnDef="Business Country">
                <th mat-header-cell *matHeaderCellDef>Business Country</th>
                <td mat-cell *matCellDef="let element">
                    {{element.businessDetails.addressDetails.registeredCountry}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">
                    {{element.orders.status}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                    <i (click)="comment(element.orders.orderId,element.orders.paymentDetails[0].pid,element.orders.paymentDetails[0].modeOfPayment,'COMPLETED',element.orders.paymentDetails[0].orderToken,'CHECKER',element.personalDetails.username)" *ngIf="(element.orders.status =='MAKER_APPROVED') && element.orders.makerApprovedBy != loginuserName" class="fa fa-check-circle" matTooltip="Approve" style="color: forestgreen; cursor:pointer"></i>
                    <i (click)="comment(element.orders.orderId,element.orders.paymentDetails[0].pid,element.orders.paymentDetails[0].modeOfPayment,'REJECTED',element.orders.paymentDetails[0].orderToken,'CHECKER',element.personalDetails.username)" *ngIf="(element.orders.status =='MAKER_APPROVED') && element.orders.makerApprovedBy != loginuserName" class="fa fa-times-circle" matTooltip="Reject" style="color: red; cursor:pointer"></i>
                    <i *ngIf="element.orders.status =='MAKER_APPROVED' && element.orders.makerApprovedBy == loginuserName" class="fa fa-lock" matTooltip="You are not authorized to perform this action" style="color: forestgreen; cursor:pointer"></i>
                </td>
            </ng-container>
            <tr class="mat-row " *matNoDataRow>
                <td class="mat-cell text-center " [attr.colspan]="displayColumns.length">
                    No Records Found.
                </td>
            </tr>



            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
        </table>

    </div>
    <div class="row">
        <div class="col-md-2">
          <mat-paginator  (page)= "onPageChange($event)" [pageSizeOptions]="[5, 10, 20, 30]">
          </mat-paginator>
        </div>
        <div class="col-md-10">
            <div class="pagination" style="float: right;">
                <div class="f-12 fontBold grey mx-3"> {{getPage()+' ' }} of {{page?.totalElements}}</div>
                <mat-icon class="pointer" (click)="pagePrevious()" [style.color]="page?.index === 0 ?'#292929a1':'#EB7203'"
                    [style.pointer-events]="page?.index === 0?'none':'auto'">
                    arrow_back_ios
                </mat-icon>
                <mat-icon class="pointer" (click)="pageNext()" [style.pointer-events]="last===page?.totalElements?'none':'auto'"
                    [style.color]="last===page?.totalElements ?'#292929a1':'#EB7203'"
                    [style.pointer-events]="last===page?.totalElements ?'none':'auto'" style="margin-left: 10px;">
                    arrow_forward_ios
                </mat-icon>
            </div>
         </div>
      </div>
</div>

<ng-template #callAPIDialog>
    <div class="text-center">
        <div class="heading">Add Comment
            <span class="circle-icon">
                <mat-icon (click)="closeComment()" mat-dialog-close>
                    <img src="../../../assets/images/icons/Icon-close.svg">
                </mat-icon>
            </span>
        </div>
        <div class="" style="padding: 15px;">
            <img src="../../../assets/images/icons/logo.png" alt="" style="height:30px;width:50px">
        </div>
        <div style="padding: 0 20px 20px 20px; text-align: left;">
            <!-- Add Message: -->
            <div style="text-align: center;">
                <mat-form-field>
                    <textarea matInput maxlength="255" rows="4" [(ngModel)]="commentValue"></textarea>
                    <mat-hint>Max 255 character</mat-hint>
                    <!-- <mat-error>Max 255 character</mat-error> -->
                </mat-form-field>
            </div>
            <div class="update-btn">
                <app-button [name]="'Submit'" [class]="'primary-btn f-16'" [type]="'submit'"
                    (click)="submitComment()"></app-button>
            </div>
        </div>
    </div>
</ng-template>