<div style="padding: 20px 10px;">
    <div class="row">
        <div class="col-md-8">
            <span class="f-22 fontBold dgrey">Discount Coupons</span>
        </div>
        <div class="col-md-2">
            <div class="filterDropdown">
                <mat-form-field appearance="outline">
                    <mat-select (selectionChange)="onStatusChange($event)" [ngModel]="status">
                        <mat-option value="ALL">All</mat-option>
                        <mat-option value="ACTIVE">Active</mat-option>
                        <mat-option value="INACTIVE">Inactive</mat-option>
                        <mat-option value="PENDING">Pending</mat-option>
                        <mat-option value="REJECTED">Rejected</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-2" *ngIf="myRights.includes('DISCOUNT_MGMT_CREATE')">
            <app-button [name]="'New Coupon'" [class]="'primary-btn f-16 w-100'" class="btnResize"
                (click)="newCoupon()"></app-button>
        </div>
    </div>

    <div class="mt-30 table-container">
        <table mat-table [dataSource]="dataSource" matSort>
            <!-- <mat-paginator #paginator [pageSizeOptions]="[5,10,20,30]" showFirstLastButtons></mat-paginator> -->

            <ng-container matColumnDef="Coupon Code">
                <th mat-header-cell *matHeaderCellDef> Coupon Code </th>
                <td mat-cell *matCellDef="let element">
                    {{element.couponCode}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Fix Amount">
                <th mat-header-cell *matHeaderCellDef>Fix Amount </th>
                <td mat-cell *matCellDef="let element">
                    {{element.fixAmount | amount}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element">
                    {{element.status}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let element">
                    {{element.quantity}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Consumed Coupons">
                <th mat-header-cell *matHeaderCellDef>Consumed Coupons</th>
                <td mat-cell *matCellDef="let element">
                    {{element.consumedCoupons}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Discount Percentage">
                <th mat-header-cell *matHeaderCellDef>Discount Percentage</th>
                <td mat-cell *matCellDef="let element">
                    {{element.discountPercentage | amount}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Max. Discount">
                <th mat-header-cell *matHeaderCellDef>Max. Discount</th>
                <td mat-cell *matCellDef="let element">
                    {{element.maxDiscount | amount}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Currency">
                <th mat-header-cell *matHeaderCellDef>Currency</th>
                <td mat-cell *matCellDef="let element">
                    {{element.currency}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <i class="fa fa-eye" style="cursor:pointer" (click)=viewDetails(element.id) matTooltip="View"></i>
                </td>
            </ng-container>
            <tr class="mat-row " *matNoDataRow>
                <td class="mat-cell text-center " [attr.colspan]="displayColumns.length">
                    No Records Found.
                </td>
            </tr>



            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
        </table>
    </div>
    <div class="row">
        <div class="col-md-2">
            <mat-paginator (page)="onPageChange($event)" [pageSizeOptions]="[5, 10, 20, 30]">
            </mat-paginator>
        </div>
        <div class="col-md-10">
            <div class="pagination" style="float: right;">
                <div class="f-12 fontBold grey mx-3"> {{getPage()+' ' }} of {{page?.totalElements}}</div>
                <mat-icon class="pointer" (click)="pagePrevious()"
                    [style.color]="page?.index === 0 ?'#292929a1':'#EB7203'"
                    [style.pointer-events]="page?.index === 0?'none':'auto'">
                    arrow_back_ios
                </mat-icon>
                <mat-icon class="pointer" (click)="pageNext()"
                    [style.pointer-events]="last===page?.totalElements?'none':'auto'"
                    [style.color]="last===page?.totalElements ?'#292929a1':'#EB7203'"
                    [style.pointer-events]="last===page?.totalElements ?'none':'auto'" style="margin-left: 10px;">
                    arrow_forward_ios
                </mat-icon>
            </div>
        </div>
    </div>
</div>