<div class="success px-5 py-5" >
    <div class="congratulation-wrapper white-bg text-center">
        <div>
            <div>
                <img src="../../../../../assets/images/factoring/Congratulatins.svg" />
            </div>
            <div class="f-22 fontBold blueText mt-40">
                Success
            </div>
            <div class="f-16 fontRegular fw-600 dgrey mt-20">
                Congratulations! Your {{from}} details has been successfully submitted
            </div>
            <div class="text-center px-4 px-2  m-auto">
                <div class="mt-40 text-center col-md-3 m-auto">
                    <button [class]="'primary-btn f-16 mt-3'"
                        style="border:0px;border-radius:5px;"
                        (click)="close()"
                    >OK</button>
                </div>
            </div>
        </div>
    </div>
</div>