<div class="quote-page col-md-8 m-auto" style="background-color: #fff">
  <div class="main-title f-20 fontBold dgey mt-20 mb-3 d-flex align-items-center">
    <mat-icon (click)="goBack()" class="me-1">keyboard_backspace</mat-icon>
    <b>Edit Details</b>
  </div>
  <div class="px-3 py-3">
    <div class="col-md-11 m-auto" style="background-color: #efecea">
      <div class="px-4 py-4">
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex align-items-center">
              <div class="f-12 fw-600 dgrey">Product</div>
              <div
                class="f-12 fw-400 grey"
                style="margin-left: 4px; word-break: break-word"
              >
                {{ productName }}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex align-items-center">
              <div class="f-12 fw-600 dgrey">Transaction ID</div>
              <div
                class="f-12 fw-400 grey"
                style="margin-left: 4px; word-break: break-word"
              >
                {{ transactionDetails?.transactionId }}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex align-items-center">
              <div class="f-12 fw-600 dgrey">Amount</div>
              <div
                class="f-12 fw-400 grey"
                style="margin-left: 4px; word-break: break-word"
              >
                {{ transactionDetails?.lCValue|number:'1.2-2' }}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex align-items-center">
              <div class="f-12 fw-600 dgrey">Currency</div>
              <div
                class="f-12 fw-400 grey"
                style="margin-left: 4px; word-break: break-word"
              >
                {{ transactionDetails?.lCCurrency }}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex align-items-center">
              <div class="f-12 fw-600 dgrey">Tenor</div>
              <div
                class="f-12 fw-400 grey"
                style="margin-left: 4px; word-break: break-word"
              >
                {{
                  transactionDetails?.usanceDays
                    ? transactionDetails?.usanceDays
                    : 0
                }}
                days
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex align-items-center">
              <div class="f-12 fw-600 dgrey" *ngIf="productName!='AVALISATION'">Issuance Bank</div>
              <div class="f-12 fw-600 dgrey" *ngIf="productName=='AVALISATION'">AB</div>
              <div
                class="f-12 fw-400 grey"
                style="margin-left: 4px; word-break: break-word"
              >
                {{ transactionDetails?.lCIssuanceBank }}
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="productName=='AVALISATION'">
          <div class="col-md-6">
            <div class="d-flex align-items-center">
              <div class="f-12 fw-600 dgrey">Type of Bill</div>
              <div
                class="f-12 fw-400 grey"
                style="margin-left: 4px; word-break: break-word"
              >
                {{ transactionDetails?.billType }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-11 m-auto" *ngIf="quoteForm">
      <form [formGroup]="quoteForm" class="mt-20">
        <!-- Confirmation Charges Section -->
        <div class="row">
          <div
            class="col-md-6"
            *ngIf="product == 'CONFIRMATION' || product == 'CONFIRMANDDISCOUNT'"
          >
            <div class="mt-20 fw-700 f-14">Confirmation Commission p.a</div>
          </div>
          <div class="col-md-6" *ngIf="product == 'BANKGUARANTEE'">
            <div class="mt-20 fw-700 f-14">BG Commission p.a</div>
          </div>
          <div
            class="col-md-6"
            *ngIf="
              product == 'BANKGUARANTEE' ||
              product == 'CONFIRMATION' ||
              product == 'CONFIRMANDDISCOUNT'
            "
          >
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Percentage</mat-label>

              <input
                type="text"
                class="f-14"
                matInput
                formControlName="confirmationCommision"
                (paste)="pasteHandler($event)"
                (keypress)="numberInputHandler($event,'confirmationCommision')"
              />
              <mat-error *ngIf="quoteForm.controls['confirmationCommision'].hasError('required')">Percentage required</mat-error>
            </mat-form-field>
          </div>
          <div
            class="col-md-6"
            *ngIf="
              product == 'CONFIRMATION' ||
              product == 'CONFIRMANDDISCOUNT'
            "
          >
            <mat-radio-group
              aria-label="Select an option"
              class="f-12"
              formControlName="confCharge"
            >
              <mat-radio-button value="1" class="f-12"
                >Confirmation charges applicable from date of issuance till
                negotiation date</mat-radio-button
              >
              <mat-radio-button value="2" class="f-12"
                >Confirmation charges applicable from date of issuance till date
                of maturity
                <img
                  matTooltip="A date on which a bill of exchange or deferred payment undertaking under a documentary credit is to be paid by the party."
                  src="../../../../../../assets/images/icons/Icon-info.svg"
                />
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <div
            class="col-md-6"
            *ngIf="
              product == 'BANKGUARANTEE'
            "
          >
            <mat-radio-group
              aria-label="Select an option"
              class="f-12"
              formControlName="bankCharge"
            >
              <mat-radio-button value="1" class="f-12"
                >Commission applicable from date of issuance till expiry date</mat-radio-button
              >
              <mat-radio-button value="2" class="f-12"
                >Commission applicable from date of issuance till claim expiry date 
                <img
                  src="../../../../../../assets/images/icons/Icon-info.svg"
                />
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <!-- Applicable Benchmark Section -->
        <div
          class="row"
          *ngIf="
            product == 'DISCOUNTING' ||
            product == 'CONFIRMANDDISCOUNT' ||
            product == 'REFINANCE' ||
            product == 'BANKER' ||
            product == 'BILLAVALISATION'
          "
        >
          <div class="col-md-6">
            <div class="mt-20 fw-700 f-14">Applicable Benchmark (if any)</div>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Percentage</mat-label>

              <input
                type="text"
                class="f-14"
                matInput
                formControlName="applicableBenchmark"
                (paste)="pasteHandler($event)"
                (keypress)="numberInputHandler($event,'applicableBenchmark')"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <textarea
                matInput
                formControlName="commentsBenchmark"
                placeholder="Comments for applicable benchmark(optional): Eg: 6 months libor,1 month Euribor"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="product == 'BANKER'">
          <div class="col-md-6">
            <div class="mt-20 fw-700 f-14">
              Banker's Acceptance Interest p.a ( spread over benchmark)
            </div>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Percentage</mat-label>

              <input
                type="text"
                class="f-14"
                matInput
                formControlName="bankAcceptCharges"
                (paste)="pasteHandler($event)"
                (keypress)="numberInputHandler($event,'bankAcceptCharges')"
              />
              <mat-error *ngIf="quoteForm.controls['bankAcceptCharges'].hasError('required')">Percentage required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- Discouunting Charges -->
        <div
          class="row"
          *ngIf="
            product == 'DISCOUNTING' ||
            product == 'CONFIRMANDDISCOUNT' ||
            product == 'BILLAVALISATION'
          "
        >
          <div
            class="col-md-6"
            *ngIf="product == 'DISCOUNTING' || product == 'CONFIRMANDDISCOUNT'"
          >
            <div class="mt-20 fw-700 f-14">
              Discounting Interest p.a ( spread over benchmark)
            </div>
          </div>
          <div class="col-md-6" *ngIf="product == 'BILLAVALISATION'">
            <div class="mt-20 fw-700 f-14">
              Discount Interest p.a ( spread over benchmark)
            </div>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Percentage</mat-label>

              <input
                type="text"
                class="f-14"
                matInput
                formControlName="discountingCharges"
                (paste)="pasteHandler($event)"
                (keypress)="numberInputHandler($event,'discountingCharges')"
              />
              <mat-error *ngIf="quoteForm.controls['discountingCharges'].hasError('required')">Percentage required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- Negotiation Charges (Fixed) -->
        <div
          class="row"
          *ngIf="
            product == 'DISCOUNTING' ||
            product == 'CONFIRMANDDISCOUNT' ||
            product == 'BANKER'
          "
        >
          <div class="col-md-6">
            <div class="mt-20 fw-700 f-14">*Negotiation Charges (Fixed)</div>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Amount</mat-label>

              <input
                type="text"
                class="f-14"
                matInput
                formControlName="negotiationChargesFixed"
                [value]="formatAmount(quoteForm.controls['negotiationChargesFixed'].value)"
                (paste)="onPaste($event)" (keydown)="onKeyDown($event)" (blur)="onBlur('negotiationChargesFixed')"
                (input)="quoteForm.controls['negotiationChargesFixed'].setValue(parseAmount($event))"
              />
              <mat-error *ngIf="quoteForm.controls['negotiationChargesFixed'].hasError('required')">Negotiation Charges required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- Negotiation Charges (%) -->
        <div
          class="row"
          *ngIf="
            product == 'DISCOUNTING' ||
            product == 'CONFIRMANDDISCOUNT' ||
            product == 'BANKER'
          "
        >
          <div class="col-md-6">
            <div class="mt-20 fw-700 f-14">*Negotiation Charges (%)</div>
            <span class="f-12" style="margin-left: 10px;">*Higher of the two will be considered</span>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Percentage</mat-label>

              <input
                type="text"
                class="f-14"
                matInput
                formControlName="negotiationChargesPerct"
                (paste)="pasteHandler($event)"
                (keypress)="numberInputHandler($event,'negotiationChargesPerct')"
              />
              <mat-error *ngIf="quoteForm.controls['negotiationChargesPerct'].hasError('required')">Percentege required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- Refinancing Interest Field -->
        <div class="row" *ngIf="product == 'REFINANCE'">
          <div class="col-md-6">
            <div class="mt-20 fw-700 f-14">
              Refinancing Interest p.a ( spread over benchmark)
            </div>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Percentage</mat-label>

              <input
                type="text"
                class="f-14"
                matInput
                formControlName="refinancingCharges"
                (paste)="pasteHandler($event)"
                (keypress)="numberInputHandler($event,'refinancingCharges')"
              />
              <mat-error *ngIf="quoteForm.controls['refinancingCharges'].hasError('required')">Percentege required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- Other Charges Section -->
        <div class="row">
          <div class="col-md-6">
            <div class="mt-20 fw-700 f-14">Other Charges (if any)</div>
          </div>
          <!-- Other Charges Amount -->
          <div class="col-md-6">
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Amount</mat-label>

              <input
                type="text"
                class="f-14"
                matInput
                formControlName="otherCharges"
                [value]="formatAmount(quoteForm.controls['otherCharges'].value)"
                (paste)="onPaste($event)" (keydown)="onKeyDown($event)" (blur)="onBlur('otherCharges')"
                (input)="quoteForm.controls['otherCharges'].setValue(parseAmount($event))"
              />
            </mat-form-field>
          </div>
          <!-- Type of Charge -->
          <div class="col-md-6"></div>
          <div class="col-md-6" *ngIf="product != 'BANKER'">
            <mat-form-field appearance="outline">
              <textarea
                matInput
                formControlName="typeOfCharge"
                placeholder="Specify the type of charge (Swift, P&T, etc)"
              ></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-6" *ngIf="product == 'BANKER'">
            <mat-form-field appearance="outline">
              <textarea
                matInput
                formControlName="typeOfCharge"
                placeholder="Customer needs to pay standard swift transfer charges"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
        <!-- Minimum Transaction Charges -->
        <div class="row">
          <div class="col-md-6">
            <div class="mt-20 fw-700 f-14">
              Minimum Transaction Charges (if any)
            </div>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Amount</mat-label>

              <input
                type="text"
                class="f-14"
                matInput
                formControlName="minimumTransactionCharge"
                [value]="formatAmount(quoteForm.controls['minimumTransactionCharge'].value)"
                (paste)="onPaste($event)" (keydown)="onKeyDown($event)" (blur)="onBlur('minimumTransactionCharge')"
                (input)="quoteForm.controls['minimumTransactionCharge'].setValue(parseAmount($event))"
              />
            </mat-form-field>
          </div>
        </div>
        <!-- Bank Quote Validity -->
        <div class="row">
          <div class="col-md-6">
            <div class="mt-20 fw-700 f-14">
              Bank Quote Validity
              <img
                matTooltip="Date before which the customer should accept your quote"
                src="../../../../../../assets/images/icons/Icon-info.svg"
              />
            </div>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w100">
              <mat-label>DD/MM/YYYY</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="bankQuoteValidity"
                [min]="getToday()"
                (paste)="pasteHandler($event)"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="quoteForm.controls['bankQuoteValidity'].hasError('required')">Bank Quote Validity required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- Other Terms and Conditions Field -->
        <div class="row">
          <div class="col-md-6">
            <div class="mt-20 fw-700 f-14">Other terms and conditions</div>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <textarea
                matInput
                formControlName="othertnc"
                placeholder="Discounting commission applicable from the date of discounting until the maturity date of bill(s.)"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="mt-20 fw-700 f-14">Disclaimer: The benchmark/taxes as applicable shall be levied as of transaction date, actual quote from the bank may differ to that extent.</div>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-md-6 text-center m-auto pt-30">
            <app-button
              [name]="'UPDATE DETAILS'"
              [class]="'primary-btn f-16 w100'"
              (click)="save()"
            >
            </app-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
