<div class="row">
  <div class="search-box col-md-3">
    <mat-form-field appearance="outline" class="w-100">
      <input matInput type="text" placeholder="Search in table" (keyup)="applyFilter($event)" />
      <img src="../../../../../assets/images/adminV2/carbon_search.svg" />
    </mat-form-field>
  </div>
  <!-- <div class="col-md-1 filter-text" (click)="filter()">
    <img src="../../../../../../../assets/images/adminV2/filter.png"> Filter
    <sup *ngIf="numberOfFilters > 0">{{ numberOfFilters }}</sup>
  </div> -->

  <div class="multiple-drop col-md-3" *ngIf="commonDropdown">
      <mat-form-field appearance="outline" style="margin-right: 10px;" class="selectFactor chip">
        <mat-icon matSuffix class="icon-drop">keyboard_arrow_down</mat-icon>
        <mat-select class="f-12" placeholder="Select RM for multiple"
          (selectionChange)="onUserSelectionChange($event.value)">
          <div class="search-boxes">
            <mat-form-field appearance="outline" class="w-100" style="height: 32px">
              <input matInput type="text" placeholder="Search">
              <img src="../../../../../assets/images/adminV2/search-normal.svg" />
            </mat-form-field>
          </div>
          <mat-option #matOption *ngFor="let data of selectRMList;let j = index"
            [value]="data.firstName">{{data.firstName}} {{data.lastName}}</mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <div class="cPointer filter-divs assign col-md-1" *ngIf="commonDropdown">
    <span class="submitbttn" (click)="onSubmitMultiple()">Assign</span>
  </div>
  
  <ng-container>
    <div class="d-flex justify-end" [ngClass]="{'col-md-4': commonDropdown, 'col-md-9': !commonDropdown}">
      <div class="row">
        <div class=" transactionType" *ngIf="tableStructure?.transaction?.showTransType">
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [(ngModel)]="tableStructure.transaction.selectedTransactionType" placeholder="Transaction Type"
              (selectionChange)="transactionTypeChange($event)">
              <mat-option *ngFor="let item of tableStructure?.transaction?.transactionsOption" [value]="item.value">
                {{ item.viewValue }}
              </mat-option>
            </mat-select>
            <img src="../../../../../assets/images/adminV2/darrow.svg" />
          </mat-form-field>
        </div>
        <div class="transactionType" *ngIf="tableStructure?.applicableEntity?.showapplicableEntity">
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [(ngModel)]="tableStructure.applicableEntity.showapplicableEntityType" placeholder="Entity Type"
              (selectionChange)="applicableTypeChange($event)">
              <mat-option *ngFor="let item of tableStructure?.applicableEntity?.applicableEntityOption"
                [value]="item.value">
                {{ item.viewValue }}
              </mat-option>
            </mat-select>
            <img src="../../../../../assets/images/adminV2/darrow.svg" />
          </mat-form-field>
        </div>
        <div class="col-md-6 d-flex justify-content-between" *ngIf="tableStructure?.compareDate">
          <div class="dateStyle">
            {{
            range.value.start
            ? (range.value.start | date : "yyyy-MM-dd")
            : "yyyy-mm-dd"
            }}<img src="../../../../../assets/images/adminV2/uit_calender.svg" (click)="picker.open()" />
          </div>
          <div class="dateStyle">
            {{
            range.value.end
            ? (range.value.end | date : "yyyy-MM-dd")
            : "yyyy-mm-dd"
            }}<img src="../../../../../assets/images/adminV2/uit_calender.svg" (click)="picker.open()" />
          </div>
          <mat-form-field appearance="outline" style="max-width: 0px; opacity: 0">
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
              <input matStartDate formControlName="start" placeholder="Start date" />
              <input matEndDate formControlName="end" placeholder="End date" />
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker (closed)="dateChange($event)"></mat-date-range-picker>
          </mat-form-field>
        </div>
      </div>
    </div>
  </ng-container>

</div>
<div class="table-wrapper">
  <table mat-table [dataSource]="tableStructure.dataSource" class="mat-elevation-z8 f-12" style="min-width: max-content" matSort
    (matSortChange)="announceSortChange($event)" matSortDisableClear>
    <ng-container *ngFor="let col of tableStructure.displayColumns" [matColumnDef]="col">
      <container-element [ngSwitch]="col">
        <ng-container *ngSwitchCase="'more'">
          <th mat-header-cell *matHeaderCellDef style="padding-right: 4px;">
            <img src="../../../../../assets/images/adminV2/more-filter.svg" #matMenuTriggerFilter
              [matMenuTriggerFor]="columnMenu" (menuOpened)="onMenuOpened()" (menuClosed)="onMenuClosed()" />
          </th>
          <td mat-cell *matCellDef="let element" style="padding: 0px 8px 0px 8px;"></td>
        </ng-container>
        <ng-container *ngSwitchCase="'select'">
          <th mat-header-cell *matHeaderCellDef>Select
            <!-- <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox> -->
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox type="checkbox" (change)="onCheckboxChange($event, element)"
              [checked]="element.checked"></mat-checkbox>
          </td>
        </ng-container>
        <ng-container *ngSwitchCase="'Select RM'">
          <th mat-header-cell *matHeaderCellDef>Select RM</th>
          <td mat-cell *matCellDef="let element;let i = index">

            <mat-form-field appearance="outline" style="margin-top: 2%;" class="selectFact chip newDrop"
              *ngIf="!commonDropdown">
              <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
              <mat-select class="f-12" [placeholder]="element?.Action?.name || 'Choose RM'" (click)="select(element)" [value]="element.Action.name"
                (selectionChange)="onUserSelectionChange($event.value)">
                <div class="search-boxes">
                  <mat-form-field appearance="outline" class="w-100">
                    <input matInput type="text" placeholder="Search">
                    <img src="../../../../../assets/images/adminV2/search-normal.svg" />
                  </mat-form-field>
                </div>
                <mat-option #matOption *ngFor="let data of selectRMList;let j = index"
                  [value]="data.firstName">{{ data.firstName }}  {{ data.lastName }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="margin-top: 2%;" class="selectFact" *ngIf="commonDropdown">
              <mat-select class="f-12" (click)="select(element)" [disabled]="true">
                <mat-option #matOption [value]="selectedIds" *ngFor="let data of selectRMList;let j = index"
                  [value]="data.firstName">{{ data.firstName }}  {{ data.lastName }}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container *ngSwitchCase="'Action'">
          <th mat-header-cell *matHeaderCellDef>
            <div style="display: flex" class="filter-div">Action</div>
          </th>
          <td mat-cell *matCellDef="let element">
            <div [ngSwitch]="element['Action'].from">
              <div *ngSwitchCase="'rm_list'">
                <ng-container *ngTemplateOutlet="rm_list;context:{element:element}"></ng-container>
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container *ngSwitchCase="'User Type'">
          <th mat-header-cell *matHeaderCellDef>
            <div style="display: flex" class="filter-div">User Type</div>
          </th>
          <td mat-cell *matCellDef="let element">{{element['User Type'] == 'BANK' ? 'BAAC' : element['User Type'] == 'BANK_AS_UNDERWRITER' ? 'BAAU' : element['User Type'] == 'CUSTOMER' ? 'CUSTOMER' : 'REFERRER'}}</td>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <th mat-header-cell *matHeaderCellDef>
            <div style="display: flex" class="filter-div">
              {{ namingColumn(col) }}
              <div class="img-style">
                <img src="../../../../../assets/images/adminV2/fluent_arrow.svg" mat-sort-header />
                <!-- <img src="../../../../../assets/images/adminV2/filter.svg" #matMenuTriggerFilter
                  [matMenuTriggerFor]="filterMenu" [matMenuTriggerData]="{ filter: col }" /> -->
                <div class="img-notification" *ngIf="isFilterApplied(col)">
                  <span>{{ isFilterApplied(col) }}</span>
                </div>
              </div>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">{{ element[col] }}</td>
        </ng-container>
      </container-element>
    </ng-container>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="10" style="text-align: center">
        No Record Found.
      </td>
    </tr>

    <tr mat-header-row *matHeaderRowDef="tableStructure.displayColumns"></tr>
    <tr #tableRow mat-row *matRowDef="let row; columns: tableStructure.displayColumns"
      [ngClass]="checkSelection(row) ? 'highlight' : ''"></tr>
  </table>
</div>
<div class="pagination_section">
  <mat-paginator #paginator hidden [length]="tableStructure.page.length" [pageSize]="tableStructure.page.pageSize"
    [pageSizeOptions]="[ 10, 25, 50,100]" [showFirstLastButtons]="true" [ngTemplateOutlet]="customPaginator"
    (page)="paginationEmitter($event)" [ngTemplateOutletContext]="{
      length: tableStructure.page.length,
      pageSize: tableStructure.page.pageSize,
      pageIndex: tableStructure.page.pageIndex
    }">
  </mat-paginator>
</div>

<ng-template #customPaginator let-length="length" let-pageSize="pageSize" let-pageIndex="pageIndex">
  <div class="paginator-container mt-10 row">
    <div class="paginator-page-size f-12 col-md-3">
      Rows Per Page
      <mat-form-field appearance="outline">
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
        <mat-select [(value)]="paginator.pageSize" (selectionChange)="
          changeEntriesSize($event)
          ">
          <mat-option *ngFor="let option of paginator.pageSizeOptions" [value]="option">{{ option }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="paginator-buttons col-md-2" *ngIf="tableStructure.page.length>paginator.pageSize">
      <div>
        <button mat-icon-button [disabled]="paginator.pageIndex === 0" (click)="paginator.previousPage()">
          <mat-icon style="line-height:inherit">chevron_left</mat-icon>
        </button>
        <div class="paginator-range">
          {{ pageIndex * pageSize + 1 }} - {{ ((pageIndex + 1) * pageSize) > paginator.length
          ?paginator.length:((pageIndex + 1) * pageSize)}} Of
          {{ paginator.length }}
        </div>
        <button mat-icon-button [disabled]="
            paginator.pageIndex >= paginator.length / paginator.pageSize - 1
          " (click)="paginator.nextPage()">
          <mat-icon style="line-height:inherit">chevron_right</mat-icon>
        </button>
      </div>
    </div>
    <!-- <div class="assign" *ngIf="commonDropdown">
        <button mat-raised-button class="primary-btn f-12" style="width: 200px; margin-top: 1%; margin-left: 2%;"
          (click)="onSubmitMultiple()">Assign</button>
    </div> -->
    <!-- </div> -->
  </div>
</ng-template>

<mat-menu #columnMenu="matMenu" class="menuColumnFilter">
  <div>
    <p class="pstyle">Select the columns</p>
    <div class="data-sec">
      <ng-container *ngFor="let item of selectedColumns; let i = index" #menuItems>
        <mat-checkbox style="display: block" [checked]="item.selected" (click)="$event.stopPropagation()"
          (change)="onColumnSelect($event, item)" (keydown)="onMenuKeyDown($event, i)">{{ namingColumn(item.name)
          }}</mat-checkbox>
      </ng-container>
    </div>
    <div class="addPd">
      <button mat-raised-button class="primary-btn f-18" (click)="saveColumnFilter()">
        Save
      </button>
    </div>
  </div>


</mat-menu>

<mat-menu #filterMenu="matMenu" (click)="$event.stopPropagation()" class="menuColumnFilter">
  <ng-template matMenuContent let-filter="filter">
    <container-element [ngSwitch]="namingColumn(filter)">
      <div>
        <ng-template ngSwitchCase="Country">
          <p class="pstyle">Filter {{ namingColumn(filter) }}</p>
          <div class="data-sec">
            <input matInput type="text" placeholder="search" (click)="
                getCountries$(filter).filterCountries$($event);
                $event.stopPropagation()
              " (input)="getCountries$(filter).filterCountries$($event)" />
            <ng-container *ngFor="
                let item of getCountries$(filter)?.countries$ | async;
                let i = index
              " #menuItems>
              <mat-checkbox style="display: block" [checked]="item.selected" (click)="$event.stopPropagation()"
                (change)="getCountries$(filter)?.countrySelected($event, item)">{{ item.name }}</mat-checkbox>
            </ng-container>
          </div>
          <div class="addPd2">
            <span class="clear-filter" (click)="getCountries$(filter)?.clearFilters()" style="cursor: pointer">Clear
              Filters</span>
            <button mat-raised-button (click)="getCountries$(filter)?.applyFilters()"
              class="primary-btn f-18 filter-btn">
              Filter
            </button>
          </div>
        </ng-template>
        <ng-template ngSwitchDefault>
          <p class="pstyle">Filter {{ namingColumn(filter) }}</p>
          <div class="data-sec">
          </div>
          <div class="addPd2">
            <span class="clear-filter" (click)="getCountries$(filter)?.clearFilters()" style="cursor: pointer">Clear
              Filters</span>
            <button mat-raised-button (click)="getCountries$(filter)?.applyFilters()"
              class="primary-btn f-18 filter-btn">
              Filter
            </button>
          </div>
        </ng-template>
      </div>
    </container-element>
  </ng-template>
</mat-menu>

<ng-template #rm_list let-element="element">
  <div class="cPointer filter-divs">
    <span class="submitbttn" (click)="onSubmit()" *ngIf="!commonDropdown">Assign</span>
  </div>
</ng-template>