<div class="vas-popup">
    <div class="heading">
       Add User
        <span (click)="close()"><mat-icon>close</mat-icon></span>
    </div>
    <div class="row" style="margin: 0; padding: 20px;">
       You've successfully invited an additional user to join 360tf. You will be notified once the invitee comletes the sign up process.
       
        <div class="text-center button-style d-flex" >
            <div class="col-md-2 mt-10">                
                <button mat-raised-button class="primary-btn" (click)="ok()">Ok</button>                   
            </div>
        </div> 
    
    </div> 
</div>