<div class="common-popup">
    <div class="header">
        Confirm Action
        <mat-icon class="cpointer" (click)="close()">close</mat-icon>
    </div>
    <div class="main-container">
        <p class="f-16">{{this.data?.message}}</p>
        <div class="col-md-12">
            <mat-form-field class="w100">
                <textarea matInput rows="5" placeholder="Your Comment"  [formControl]="form">
                </textarea>
            </mat-form-field>
        </div>   
        <div class="row">
            <div class="text-center button-style d-flex" >
                <div class="col-md-2 mt-10">                
                    <button mat-raised-button class="primary-btn" (click)="submit()">Yes</button>                   
                </div>
                <div class="col-md-2 mt-10" style="margin-left: 10px;">                
                    <button mat-stroked-button class="f-16 w100" (click)="close()">No</button>
                </div>
            </div> 
        </div>
    </div>
</div>