<div class="view-transaction" style="padding: 20px 10px;">
  <div class="mt-30 px-5 py-2 m-auto">
    <!-- <span class="f-22 fontBold dgrey">
            View Transaction
        </span> -->
    <span class="f-14 fontBold dgrey cpointer back d-flex align-items-center" (click)="back()">
      <mat-icon>keyboard_backspace</mat-icon>
      <div class="" style="margin-top:5px">Back</div>
    </span>
    <ng-container [ngSwitch]="viewType">
      <ng-container *ngSwitchCase="'active'">
        <div class="boxShadow">
          <div class="transaction" style="margin-top: 30px;">
            <div class="row d-flex">
              <div class="col-md-12">
                <div class="yellow-txt f-14 fontBold">Transaction ID</div>
                <div class="label-text">{{transactionId}}</div>
              </div>
              <!-- <div class="col-md-1" *ngIf="transactionDetails?.transactionStatus!=='REJECTED'&&transactionDetails?.transactionStatus!=='CANCELLED'"> -->
              <div class="col-md-1">
                <div class="imgDiv" (click)="editTransaction()">
                  <img src="../../../../../assets/images/icons/action-edit.svg" />
                </div>
              </div>
            </div>

          </div>
          <ng-container *ngTemplateOutlet="default"></ng-container>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'accepted'">
        <div class="boxShadow">
          <div class="transaction" style="margin-top: 30px;">
            <div class="row d-flex">
              <div class="col-md-11">
                <div class="yellow-txt f-14 fontBold">Transaction ID</div>
                <div class="label-text">{{transactionId}}</div>
              </div>
              <!-- <div class="col-md-1">
                                <div class="imgDiv" (click)="editTransaction()">
                                    <img src="../../../../../assets/images/icons/action-edit.svg" />
                                </div>
                            </div> -->
              <div class="col-md-1 cpointer underline yellow-txt" (click)="clone()">
                Clone
              </div>
            </div>

          </div>
          <ng-container *ngTemplateOutlet="default"></ng-container>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'rejected'">
        <div class="boxShadow">
          <div class="transaction" style="margin-top: 30px;">
            <div class="row d-flex">
              <div class="col-md-10">
                <div class="yellow-txt f-14 fontBold">Transaction ID</div>
                <div class="label-text">{{transactionId}}</div>
              </div>
              <div class="col-md-1 cpointer underline yellow-txt" (click)="reopen()">Reopen</div>
              <div class="col-md-1 cpointer underline yellow-txt" (click)="clone()">
                Clone
              </div>

            </div>

          </div>
          <ng-container *ngTemplateOutlet="default"></ng-container>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'expired'">
        <div class="boxShadow">
          <div class="transaction" style="margin-top: 30px;">
            <div class="row d-flex justify-content-between">
              <div class="col-md-10">
                <div class="yellow-txt f-14 fontBold">Transaction ID</div>
                <div class="label-text">{{transactionId}}</div>
                <div class="imgDiv" (click)="editTransaction()" *ngIf="showEdit">
                  <img src="../../../../../assets/images/icons/action-edit.svg" />
                </div>
              </div>

              <!-- <div class="col-md-1 cpointer underline yellow-txt" (click)="reopen()">Reopen</div> -->
              <div class="col-md-1 cpointer underline yellow-txt" (click)="clone()">
                Clone
              </div>
            </div>
            <!-- <div class="col-md-1" *ngIf="transactionDetails?.transactionStatus!=='REJECTED'&&transactionDetails?.transactionStatus!=='CANCELLED'">
                            <div class="imgDiv" (click)="editTransaction()">
                                <img src="../../../../../assets/images/icons/action-edit.svg" />
                            </div>
                        </div> -->
          </div>
          <ng-container *ngTemplateOutlet="default"></ng-container>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'close'">
        <div class="boxShadow">
          <div class="transaction" style="margin-top: 30px;">
            <div class="row d-flex">
              <div class="col-md-11">
                <div class="yellow-txt f-14 fontBold">Transaction ID</div>
                <div class="label-text">{{transactionId}}</div>
              </div>

              <div class="col-md-1 cpointer underline yellow-txt" (click)="clone()">
                Clone
              </div>
            </div>

          </div>
          <ng-container *ngTemplateOutlet="default"></ng-container>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'cancelled'">
        <div class="boxShadow">
          <div class="transaction" style="margin-top: 30px;">
            <div class="row d-flex">
              <div class="col-md-10">
                <div class="yellow-txt f-14 fontBold">Transaction ID</div>
                <div class="label-text">{{transactionId}}</div>
              </div>
              <!-- <div class="col-md-1 cpointer underline yellow-txt fw-600"(click)="reopen()">Reopen</div>
                            <div class="col-md-1 cpointer underline yellow-txt fw-600" (click)="clone()">
                                Clone
                            </div> -->
            </div>
          </div>
          <ng-container *ngTemplateOutlet="default"></ng-container>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'pending'">
        <div class="boxShadow">
          <div class="transaction" style="margin-top: 30px;">
            <div class="row d-flex">
              <div class="col-md-11">
                <div class="yellow-txt f-14 fontBold">Transaction ID</div>
                <div class="label-text">{{transactionId}}</div>
              </div>
              <div class="col-md-1">
                <div class="imgDiv" (click)="editTransaction()">
                  <img src="../../../../../assets/images/icons/action-edit.svg" />
                </div>
              </div>
            </div>
          </div>
          <ng-container *ngTemplateOutlet="default"></ng-container>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #default>
  <div class="mt-20" style="padding: 10px;">
    <span class="f-14 fontBold blueText" style="margin-top: 20px;">Applicant </span>
    <div class="row ">
      <!-- <div class="col-md-3" *ngIf="transactionDetails?.userType=='Applicant'&&subscriber!='BANK'">
                <div class="label-text">Name</div>
                <div class="info">{{getGroupCompany(transactionDetails?.subsidaryId)}}</div>
            </div> -->
      <div class="col-md-3" *ngIf="subscriber!='BANK'">
        <div class="label-text">Name</div>
        <div class="info">
          {{transactionDetails?.applicantName?transactionDetails?.applicantName:getGroupCompany(transactionDetails?.subsidaryId)}}
        </div>
      </div>
      <div class="col-md-3" *ngIf="subscriber=='BANK'">
        <div class="label-text">Name</div>
        <div class="info">{{transactionDetails?.applicantName}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.applicantCountry">
        <div class="label-text">Country</div>
        <div class="info">{{transactionDetails?.applicantCountry}}</div>
      </div>
      <div class="col-md-3"
        *ngIf="!(transactionDetails?.userType=='Applicant')||transactionDetails?.applicantContactPerson">
        <div class="label-text">Contact Person</div>
        <div class="info">{{transactionDetails?.applicantContactPerson}}</div>
      </div>
      <div class="col-md-3"
        *ngIf="!(transactionDetails?.userType=='Applicant')||transactionDetails?.applicantContactPersonEmail">
        <div class="label-text">Email Id</div>
        <div class="info">{{transactionDetails?.applicantContactPersonEmail}}</div>
      </div>
    </div>
    <div class="f-14 fontBold blueText mt-10">Beneficiary Details </div>
    <div class="row ">
      <!-- <div class="col-md-3" *ngIf="!(transactionDetails?.userType=='Applicant')">
                <div class="label-text">Beneficiary Name</div>
                <div class="info">{{getGroupCompany(transactionDetails?.subsidaryId)}}</div>
            </div> -->
      <div class="col-md-3">
        <div class="label-text">Name</div>
        <div class="info">
          {{transactionDetails?.beneName?transactionDetails?.beneName:getGroupCompany(transactionDetails?.subsidaryId)}}
        </div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.beneCountry">
        <div class="label-text">Country</div>
        <div class="info">{{transactionDetails?.beneCountry}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.userType=='Applicant'">
        <div class="label-text">Contact Person</div>
        <div class="info">{{transactionDetails?.beneContactPerson}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.userType=='Applicant'">
        <div class="label-text">Email Id</div>
        <div class="info">{{transactionDetails?.beneContactPersonEmail}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.beneBankName">
        <div class="label-text">Bank</div>
        <div class="info">{{transactionDetails?.beneBankName}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.beneSwiftCode">
        <div class="label-text">Swift Code</div>
        <div class="info">{{transactionDetails?.beneSwiftCode}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.beneBankCountry">
        <div class="label-text">Bank Country</div>
        <div class="info">{{transactionDetails?.beneBankCountry}}</div>
      </div>
    </div>
    <div class="f-14 fontBold blueText mt-10">Product Details </div>
    <div class="row ">
      <div class="col-md-3" *ngIf="transactionDetails?.lCIssuanceBank">
        <div class="label-text">{{transactionDetails?.requirementType!='AVALISATION'?'Issuance Bank':'Avalising Bank'}}
        </div>
        <div class="info">{{transactionDetails?.lCIssuanceBank }}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.lCIssuanceBranch">
        <div class="label-text">{{transactionDetails?.requirementType!='AVALISATION'?'Issuance Bank Branch':'Avalising
          Bank Branch'}}</div>
        <div class="info">{{transactionDetails?.lCIssuanceBranch}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.swiftCode">
        <div class="label-text">Issuance Bank Swift Code</div>
        <div class="info">{{transactionDetails?.swiftCode}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.lCIssuanceCountry">
        <div class="label-text">Issuance Bank Country</div>
        <div class="info">{{transactionDetails?.lCIssuanceCountry}}</div>
      </div>
      <div class="col-md-3">
        <div class="label-text">Product</div>
        <div class="info">{{productName}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.lCCurrency">
        <div class="label-text">Currency</div>
        <div class="info">{{transactionDetails?.lCCurrency}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.lCValue">
        <div class="label-text">Amount</div>
        <div class="info">{{transactionDetails?.lCValue|number:'1.2-2'}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.lCIssuingDate">
        <div class="label-text">{{transactionDetails?.requirementType!='AVALISATION'?' Bill Issuance Date':'Bill
          Issuance date'}}</div>
        <div class="info">{{transactionDetails?.lCIssuingDate |date:'dd-MM-yyyy'}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.lcMaturityDate">
        <div class="label-text">Bill Maturity Date</div>
        <div class="info">{{transactionDetails?.lcMaturityDate |date:'dd-MM-yyyy'}}</div>
      </div>
      <!-- Multiple Maturity Date -->
      <!-- <div class="col-md-3" *ngIf="transactionDetails?.tenorFile">
                <div class="label-text">Multiple Maturity Date</div>
                <div class="info">{{transactionDetails?.tenorFile |date:'dd-MM-yyyy'}}</div>
            </div> -->
      <div class="col-md-3" *ngIf="transactionDetails?.lastShipmentDate">
        <div class="label-text">Last shipment Date</div>
        <div class="info">{{transactionDetails?.lastShipmentDate |date:'dd-MM-yyyy'}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.negotiationDate">
        <div class="label-text">Negotiation Date</div>
        <div class="info">{{transactionDetails?.negotiationDate |date:'dd-MM-yyyy'}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.bgExpiryDate">
        <div class="label-text">BG Expiry Date</div>
        <div class="info">{{transactionDetails?.bgExpiryDate |date:'dd-MM-yyyy'}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.claimExpiryDate">
        <div class="label-text">Claim Expiry Date</div>
        <div class="info">{{transactionDetails?.claimExpiryDate |date:'dd-MM-yyyy'}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.validity">
        <div class="label-text">Transaction Validity *</div>
        <div class="info">{{transactionDetails?.validity |date:'dd-MM-yyyy'}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.goodsType">
        <div class="label-text">Goods/Service</div>
        <div class="info">{{transactionDetails?.goodsType}}</div>
      </div>

      <div class="col-md-3" *ngIf="transactionDetails?.otherGoodsType">
        <div class="label-text">Goods type</div>
        <div class="info">{{transactionDetails?.otherGoodsType}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.bgType">
        <div class="label-text">BG Type</div>
        <div class="info">{{transactionDetails?.bgType}}</div>
      </div>
      <!-- Other Type of BG -->
      <div class="col-md-3" *ngIf="transactionDetails?.otherBGType&&transactionDetails?.bgType.toLowerCase()=='others'">
        <div class="label-text">Type of BG</div>
        <div class="info">{{transactionDetails?.otherBGType}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.billType">
        <div class="label-text">Bill Type</div>
        <div class="info">{{transactionDetails?.billType}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.requirementType=='AVALISATION'">
        <div class="label-text">Usance(days)</div>
        <div class="info">{{transactionDetails?.usanceDays}}</div>
      </div>


      <ng-container *ngIf="transactionDetails?.requirementType!='AVALISATION'">
        <div class="col-md-3" *ngIf="transactionDetails?.usanceDays&&transactionDetails?.requirementType!='REFINANCE'">
          <div class="label-text">{{transactionDetails?.requirementType!='REFINANCING'?'Usance(days)':'Tenor'}}</div>
          <div class="info">{{transactionDetails?.usanceDays}}</div>
        </div>
        <div class="col-md-3" *ngIf="transactionDetails?.paymentTerms">
          <div class="label-text">{{transactionDetails?.requirementType!='BANKGUARANTEE'?'Payment terms':'Claim
            Period'}}</div>
          <div class="info">{{transactionDetails?.paymentTerms}}</div>
        </div>
        <div class="col-md-3" *ngIf="transactionDetails?.financingPeriod">
          <div class="label-text">Financing Period</div>
          <div class="info">{{transactionDetails?.financingPeriod}}</div>
        </div>
        <div class="col-md-3" *ngIf="transactionDetails?.originalTenorDays">
          <div class="label-text">Original Usance(Tenor)of LC</div>
          <div class="info">{{transactionDetails?.originalTenorDays}}</div>
        </div>
        <div class="col-md-3" *ngIf="transactionDetails?.refinancingPeriod">
          <div class="label-text">Refinancing Period</div>
          <div class="info">{{transactionDetails?.refinancingPeriod}}</div>
        </div>
        <div class="col-md-3" *ngIf="transactionDetails?.lcMaturityDate">
          <div class="label-text">LC Maturity Date</div>
          <div class="info">{{transactionDetails?.lcMaturityDate |date:'dd-MM-yyyy'}}</div>
        </div>

        <div class="col-md-3" *ngIf="transactionDetails?.requirementType=='REFINANCE'">
          <div class="label-text">Multiple Maturity Date File Upload</div>
          <div class="info cpointer" *ngIf="!transactionDetails?.refinanceLcUpload">-</div>
          <div class="info cpointer" style="text-decoration: underline;color: blue;"
            *ngIf="transactionDetails?.refinanceLcUpload" (click)="openMaturityDateFile()">View File</div>
        </div>
      </ng-container>
    </div>
    <!-- <div class="f-14 fontBold blueText mt-10" >Tenor</div>
        <div class="row " style="margin-bottom: 30px;"  *ngIf="transactionDetails?.requirementType!='AVALISATION'">
            <div class="col-md-3" *ngIf="transactionDetails?.usanceDays">
                <div class="label-text">{{transactionDetails?.requirementType!='REFINANCING'?'Usance(days)':'Tenor'}}</div>
                <div class="info">{{transactionDetails?.usanceDays}}</div>
            </div>
            <div class="col-md-3" *ngIf="transactionDetails?.paymentTerms">
                <div class="label-text">{{transactionDetails?.requirementType!='BANKGUARANTEE'?'Payment terms':'Claim Period'}}</div>
                <div class="info">{{transactionDetails?.paymentTerms}}</div>
            </div>
            <div class="col-md-3" *ngIf="transactionDetails?.financingPeriod">
                <div class="label-text">Financing Period</div>
                <div class="info">{{transactionDetails?.financingPeriod}}</div>
            </div>
            <div class="col-md-3" *ngIf="transactionDetails?.originalTenorDays">
                <div class="label-text">Original Usance(Tenor)of LC</div>
                <div class="info">{{transactionDetails?.originalTenorDays}}</div>
            </div>
            <div class="col-md-3" *ngIf="transactionDetails?.refinancingPeriod">
                <div class="label-text">Refinancing Period</div>
                <div class="info">{{transactionDetails?.refinancingPeriod}}</div>
            </div>
            <div class="col-md-3" *ngIf="transactionDetails?.lcMaturityDate">
                <div class="label-text">LC Maturity Date</div>
                <div class="info">{{transactionDetails?.lcMaturityDate |date:'dd-MM-yyyy'}}</div>
            </div>

            <div class="col-md-3" *ngIf="transactionDetails?.requirementType=='REFINANCE'">
                <div class="label-text">Multiple Maturity Date File Upload</div>
                <div class="info cpointer" *ngIf="!transactionDetails?.refinanceLcUpload">-</div>
                <div class="info cpointer" style="text-decoration: underline;color: blue;" *ngIf="transactionDetails?.refinanceLcUpload"
                    (click)="openMaturityDateFile()"
                >View File</div>
            </div>
        </div> -->
    <div class="f-14 fontBold blueText mt-10" *ngIf="transactionDetails?.requirementType=='REFINANCE'">Beneficary
      Details of Last Transaction </div>
    <div class="row" style="margin-bottom: 30px;" *ngIf="transactionDetails?.requirementType=='REFINANCE'">
      <div class="col-md-3" *ngIf="transactionDetails?.lcNumber">
        <div class="label-text">LC Number</div>
        <div class="info">{{transactionDetails?.lcNumber}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.lastBankCountry">
        <div class="label-text">Country of Beneficiary Bank</div>
        <div class="info">{{transactionDetails?.lastBankCountry}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.lastBeneBank">
        <div class="label-text">Beneficiary Bank</div>
        <div class="info">{{transactionDetails?.lastBeneBank}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.lastBeneSwiftCode">
        <div class="label-text">Beneficiary Bank Swift Code</div>
        <div class="info">{{transactionDetails?.lastBeneSwiftCode}}</div>
      </div>
    </div>
    <div class="f-14 fontBold blueText mt-10" *ngIf="transactionDetails?.requirementType!='BANKGUARANTEE'">Shipment
      Details </div>
    <div class="row ">
      <div class="col-md-3" *ngIf="transactionDetails?.loadingCountry">
        <div class="label-text">Country of port of loading</div>
        <div class="info">{{transactionDetails?.loadingCountry}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.loadingPort">
        <div class="label-text">Port of loading</div>
        <div class="info">{{transactionDetails?.loadingPort}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.dischargeCountry">
        <div class="label-text">Country of port of discharge</div>
        <div class="info">{{transactionDetails?.dischargeCountry}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.dischargePort">
        <div class="label-text">Port of discharge</div>
        <div class="info">{{transactionDetails?.dischargePort}}</div>
      </div>
      <div class="col-md-3" *ngIf="transactionDetails?.finalDestinationOfGoods">
        <div class="label-text">Final Destination of Goods</div>
        <div class="info">{{transactionDetails?.finalDestinationOfGoods}}</div>
      </div>
    </div>
    <div class="f-14 fontBold blueText mt-10">Other Details </div>
    <div class="row">

      <div class="col-md-3" *ngIf="transactionDetails?.chargesType">
        <div class="label-text">Charges On</div>
        <div class="info">{{transactionDetails?.chargesType}}</div>
      </div>
      <div class="col-md-3">
        <div class="label-text">ESG Compliant</div>
        <div class="info">{{convertBoolean(transactionDetails?.isESGComplaint)}}</div>
      </div>
      <div class="col-md-3">
        <div class="label-text">Invoice Upload</div>
        <div class="info cpointer" *ngIf="!transactionDetails?.invoiceUpload">-</div>
        <div class="info cpointer" style="text-decoration: underline;color: blue;"
          *ngIf="transactionDetails?.invoiceUpload" (click)="openFile()">File</div>
      </div>
    </div>
  </div>

  <div class="mb-4" *ngIf="transactionDetails?.transactionStatus==='ACTIVE'">
    <div class="col-md-6 text-center m-auto pt-30" style="padding-bottom:30px">
      <app-button [name]="'CANCEL TRANSACTION'" [class]="'primary-btn f-16 w100'" (click)="cancel()">
      </app-button>
    </div>
  </div>
  <!-- <div class="mb-4" *ngIf="transactionDetails?.transactionStatus==='REJECTED'">
        <div class="col-md-6 text-center m-auto pt-30" style="padding-bottom:30px">
            <app-button
              [name]="'REOPEN'"
              [class]="'primary-btn f-16 w100'"
              (click)="reopen()"
            >
            </app-button>
          </div>
    </div> -->
</ng-template>
