
<div class="subscription-detail-popup-wrapper">
    <div class="heading">Transaction Pending</div>
    <div class="f-16 mt-10 popup-body px-4">
        <p>
            The account details where the  payment needs to be made
            has been sent to your registered emailID. Kindly make the 
            payment and wait for approval. It usually takes up 48hours
            to approve the payment. For more clarification contact us 
            at tradesupport@360tf.trade.
        </p>
        <div class="d-flex  w-100 justify-content-end mb-20">
            <button class="submit-btn" style="width:auto" (click)="closePopup()">OK</button>
        </div>
    </div>
</div>
