<div class="popup">
    <div class="heading">
        Reject Transaction
        <span (click)="close(false)"><mat-icon>close</mat-icon></span>
    </div>
    <div class="row" style="margin: 0; padding: 20px;" [formGroup]="form">
        <div class="content_text">
            <p class="f-14">Select your reason for rejecting the transaction</p>
            <div>
  
        </div>
        <div class="">
            <mat-form-field class="w100" appearance="outline">
				<mat-label>Select Reason</mat-label>

				<input
					type="text"
					class="f-14"
					matInput
					[matAutocomplete]="reasonReject"
					formControlName="reason"
                    (input)="reasonChange($event)"
					(change)="checkAutocomplteExists($event,'reason')"
				/>
				<mat-icon matSuffix>keyboard_arrow_down</mat-icon>
				<mat-autocomplete
					autoActiveFirstOption
					#reasonReject="matAutocomplete"
				>
					<mat-option
						*ngFor="let item of filteredOptions"
						[value]="item"
					>
						{{ item }}
					</mat-option>
				</mat-autocomplete>
				<mat-error 
                    *ngIf="form.controls['reason'].hasError('required')"
                    >Reason for rejection required</mat-error>
			</mat-form-field>
        </div>
        <div class="fw-700">
            <p class="f-14">
              Disclaimer: The benchmark/taxes as applicable shall be levied as
              of transaction date, actual quote from the bank may differ to that
              extent.
            </p>
        </div>
            <div class="save-btn-section  col-6 m-auto" >
              <!-- <button mat-button class="close-btn  f-12 fontBold dgrey" (click)="no()">NO</button> -->
  
                <button mat-button class="save-btn  f-12 fontBold dgrey" (click)="yes()">SUBMIT</button>
            </div>
        </div>
    </div>
  </div>
  