<div class="sidebar-wrapper l-blue-bg" #autoAdjust>
  <mat-sidenav-container [ngClass]="(isOpen == true) ? 'toggle-open' : 'toggle-close'">
      <mat-sidenav #sideNav mode="side" opened class="col-md-2">
        <mat-nav-list>
          <li class="menu cpointer" *ngIf="!isOpen" style="padding-top: 20px;">
            <img src="../../../../assets/images/icons/hamburger-menu.png" (click)="openSidebar()">
          </li>
          <li class="row m0 openMenu" *ngIf="isOpen" style="padding-top: 20px; margin: 0 0 30px 0;">
            <div class="col-9 col-md-9 f-22 fontBold white-text">Menu</div>
            <div class="col-3 col-md-3 cpointer" (click)="closeSidebar()"><mat-icon>close</mat-icon></div>
          </li>
          <li (click)="goTo('Dashboard')" class="menuLi">
            <div class="d-flex justify-content-center">
              <div class="img-cont">
                <img src="../../../assets/images/factoring/sidebar-Dashboard.svg">
              </div>
              <div class="f-16 fontRegular white-text" *ngIf="isOpen">
                Dashboard
              </div>
            </div>
          </li>
          <li (click)="goTo('Active Transaction')" class="menuLi">
            <div class="d-flex justify-content-center">
              <div class="img-cont">
                <img src="../../../assets/images/factoring/sidabar-Active trans.svg">
              </div>
              <div class="f-16 fontRegular white-text" *ngIf="isOpen">
                Active Transaction
              </div>
            </div>
          </li>
          <li (click)="goTo('Previous Transaction')" class="menuLi">
            <div class="d-flex justify-content-center">
              <div class="img-cont">
                <img src="../../../assets/images/factoring/sidebar-Previous.svg">
              </div>
              <div class="f-16 fontRegular white-text" *ngIf="isOpen">
                Previous Transaction
              </div>
            </div>
          </li>
          <li (click)="goTo('Saved Transaction')" class="menuLi">
            <div class="d-flex justify-content-center">
              <div class="img-cont">
                <img src="../../../assets/images/factoring/sideba-Saved.svg">
              </div>
              <div class="f-16 fontRegular white-text" *ngIf="isOpen">
                Saved Transaction
              </div>
            </div>
          </li>
          <li class="menuLi" (click)="goTo('All Transactions')">
            <div class="d-flex justify-content-center">
              <div class="img-cont">
                <img src="../../../assets/images/factoring/sidebar-New trns.svg">
              </div>
              <div class="f-16 fontRegular white-text" *ngIf="isOpen">
                All Transactions
              </div>
            </div>
          </li>
          <li  class="menuLi" (click)="goTo('Customer Transactions')">
            <div class="d-flex justify-content-center">
              <div class="img-cont">
                <img src="../../../assets/images/factoring/sidebar-All trns.svg">
              </div>
              <div class="f-16 fontRegular white-text" *ngIf="isOpen">New Transactions</div>
            </div>
          </li>
  
          <div class="factoring" style="border-top: 1px solid #fff; padding-top: 30px;">
            <div class="factoring">
              <div class="f-16 fontRegular white-text" style="margin-bottom: 10px; padding-left: 10px;"
                *ngIf="isOpen">Corporate (Factoring)</div>
              <li (click)="goTo('New Transaction')" class="menuLi">
                <div class="d-flex justify-content-center">
                  <div class="img-cont">
                    <img src="../../../assets/images/factoring/sidebar-Dashboard.svg">
                  </div>
                  <div class="f-16 fontRegular white-text" *ngIf="isOpen">
                    New Transaction
                  </div>
                </div>
              </li>
  
              <li (click)="goTo('Transaction Preview')" class="menuLi">
                <div class="d-flex justify-content-center">
                  <div class="img-cont">
                    <img src="../../../assets/images/factoring/sidebar-Previous.svg">
                  </div>
                  <div class="f-16 fontRegular white-text" *ngIf="isOpen">
                    Transaction Preview
                  </div>
                </div>
              </li>
              <li (click)="goTo('Transaction Details')" class="menuLi">
                <div class="d-flex justify-content-center">
                  <div class="img-cont">
                    <img src="../../../assets/images/factoring/sidabar-Active trans.svg">
                  </div>
                  <div class="f-16 fontRegular white-text" *ngIf="isOpen">
                    All Transaction
                  </div>
                </div>
              </li>
            </div>
          </div>
        </mat-nav-list>
      </mat-sidenav>

      
      
      <mat-sidenav-content class="col-md-10">    
          <div>
            <app-header-bar></app-header-bar>
          </div>   
          <!-- <span  ng-class="{'disabled': true}" ng-click="grid.appScope.vm.onReportEdit(row)" title="span.disabled ? 'Invalid Report, please disregard' : 'Edit'" class="icon icon-edit icon-ic_n_edit ng-scope disabled" role="button" tabindex="0">button</span>    -->
          <!-- <div class="tabs" *ngIf="selectedMenu == 'Dashboard'">
              Dashboard
          </div>  
          <div class="tabs" *ngIf="selectedMenu == 'New Transaction'">
           <app-new-transaction></app-new-transaction>
          </div>     
          <div class="tabs" *ngIf="selectedMenu == 'Transactions'">
            <app-transactions></app-transactions>
         </div> 
         <div class="tabs" *ngIf="selectedMenu == 'Transaction Details'">
          <app-transaction-details-list></app-transaction-details-list>
       </div> 
       <div class="tabs" *ngIf="selectedMenu == 'Transaction Preview'">
          <app-transaction-preview></app-transaction-preview>
     </div>  -->
      <div class="tabs">
          <router-outlet></router-outlet>
      </div> 

      </mat-sidenav-content>
  </mat-sidenav-container>
</div>
