<div class="active-transaction">
    <div class="d-flex w-100 table-filters">
        <!-- <div class="col-md-10 search">
            <input type="text" placeholder="Search"
            [formControl]="searchInput"
            (input)="search($event)">
            <mat-icon>search</mat-icon>
        </div>
        <div class="col-md-2 search-option">
            <img src="../../../../../../assets/images/icons/filter.svg" (click)="filter()" />
            <img src="../../../../../../assets/images/icons/refresh.svg" (click)="reset()"/>
            <img src="../../../../../../assets/images/icons/download.svg" (click)="downloadCSV()"/>
        </div> -->
        <div class="search-bar "> 
            <form [formGroup]="searchForm">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput type="text" placeholder="Search"
                formControlName="searchInput"
                (input)="search($event)">
                  <mat-icon matPrefix>search</mat-icon>
              </mat-form-field>
            </form>
            </div>
            <div class=" search-option">
              <img
              (click)="filter()"
                src="../../../../../assets/images/icons/filter.svg"
              />
              <img
              (click)="reset()"
                src="../../../../../../assets/images/icons/refresh.svg"
              />
              <img
                (click)="downloadCSV()"
                src="../../../../../../assets/images/icons/download.svg"
              />
            </div>
    </div>
    <div class="row w100">
        <span class="f-22 fontBold dgrey mt-30 mb-3">Active Transactions</span>
        <div class="mt-30 table-container" >
            <!-- <app-table 
            [dataSource]="newDataSource" 
            [displayedColumns]="displayColumns"  
            [pageData]="page" 
            [viewComment]="true" 
            [showDownload]="true" 
            [viewEdit]="true"
            [totalItems]="dataLength"
            (editSelected)="editSelected($event)"
            (downloadSelected)="downloadSelected($event)"
            (pagePreviousHandler)="pagePrevious($event)"
            (pageNextHandler)="pageNext($event)"
            ></app-table> -->
            <table mat-table [dataSource]="newDataSource">
                <ng-container *ngFor="let columns of displayColumns" matColumnDef="{{columns}}">
                    <th mat-header-cell *matHeaderCellDef>
                        
                        <ng-container >
                            {{columns}}
                        </ng-container>
    
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        
                        <div class="" *ngIf="columns!='Quotes recieved'&&columns!='Actions'&&columns!='Amount'">
                            {{element[columns]}}
                        </div>
                        <div class="" *ngIf="columns=='Amount'">
                            {{element[columns]|number:'1.2-2'}}
                        </div>
                        <div class="" *ngIf="columns==='Quotes recieved'"
                            [ngClass]="{'activeQuote':element[columns]>0}"
                            (click)="openQuotes(element['Transaction ID'],element[columns])"
                        >
                            {{element[columns]}}
                        </div>
                        <div class="d-flex" *ngIf="columns==='Actions'"
                        >
                        
                                <mat-icon *ngIf="element[columns]"  style="width: 20px;height: 23px" >lock_open</mat-icon>
                            <div class="" mat-button [matMenuTriggerFor]="menu">
                                <img src="../../../../../../assets/images/icons/3dots.png" style="width: 20px;height: 20px; cursor: pointer;" alt="">
                            </div>
                            
                            <mat-menu #menu>
                                <button mat-menu-item 
                                    class="f-12 fontRegular dgrey" 
                                    (click)="editSelected(element['Transaction ID'])"
                                >
                                    View/Edit
                                </button>
                                <button mat-menu-item 
                                    class="f-12 fontRegular dgrey"
                                    (click)="downloadSelected(element['Transaction ID'])" 
                                >
                                    Download
                                </button>
                            </mat-menu>
                        </div>
                    </td>
                </ng-container>

                <tr class="mat-row " *matNoDataRow>
                    <td class="mat-cell text-center " [attr.colspan]="displayColumns.length">
                        No Records Found.
                    </td>
                </tr>
                <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
            </table>
        </div>
        <div class="d-flex align-items-center ">
            <div class=" pageSizeChange justify-content-start d-flex">
                <mat-paginator  (page)= "onPageChange($event)" [pageSizeOptions]="[5, 10, 20, 30]"
                *ngIf="totalItems>5">
                </mat-paginator>
            </div>
            <div class="pagination mt-10 justify-content-end"  *ngIf="newDataSource?.length>0">
            
            <div class="f-12 fontBold grey mx-3"> {{getPage()+' ' }} of {{page?.totalElements}}</div>
            <mat-icon class="pointer" (click)="pagePrevious()" [style.color]="page?.index === 0 ?'#292929a1':'#EB7203'"
                [style.pointer-events]="page?.index === 0?'none':'auto'">
                arrow_back_ios
            </mat-icon>
            <mat-icon class="pointer" (click)="pageNext()"
                [style.pointer-events]="last===page?.totalElements?'none':'auto'"
                [style.color]="last===page?.totalElements ?'#292929a1':'#EB7203'"
                [style.pointer-events]="last===page?.totalElements ?'none':'auto'" style="margin-left: 10px;">
                arrow_forward_ios
            </mat-icon>
    
        </div>
        </div>
        
    </div>
</div>
