<div style="padding: 20px 10px;" class="new-secondary-transaction-preview-wrapper">
    <div class="f-22 fontBold dgrey text-center">Preview</div>
    <h6 class="title text-center mb-32" style="color: #8E8E8E;">
        Preview and confirm your details.
    </h6>
    <div class="mt-30 preview-transaction-container">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title class="dgrey fontBold f-16 ">
                        Applicant & Beneficiary Details
                    </mat-panel-title>
                    <mat-panel-description class="justify-content-end">
                        <img (click)="editTransaction()" src="../../../../../../../assets/images/icons/action-edit.svg"
                            alt="">
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="mt-20 mb-32">
                    <div class="">
                        <div class="row text-center">
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Applicant Name</div>
                                <div class="info">Ginesh</div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Applicant Country</div>
                                <div class="info">India</div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Beneficiary Name</div>
                                <div class="info">jp</div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Applicable Law</div>
                                <div class="info">UK</div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Beneficiary Country</div>
                                <div class="info">india</div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Obligor BAnk</div>
                                <div class="info">sbi</div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Country</div>
                                <div class="info">India</div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel class="mt-10" (opened)="secondPanelOpenState = true"
                (closed)="secondPanelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title class="dgrey fontBold f-16 ">
                        Transaction Details
                    </mat-panel-title>
                    <mat-panel-description class="justify-content-end">
                        <img (click)="editTransaction()" src="../../../../../../../assets/images/icons/action-edit.svg"
                            alt="">
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="mt-20 mb-32">
                    <div class="">
                        <div class="row text-center">
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Underlying Transaction</div>
                                <div class="info">Confrimation</div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Amount</div>
                                <div class="info">1000</div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Currency</div>
                                <div class="info">INR</div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Target Booking Date</div>
                                <div class="info">10/04/2023</div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Transaction Maturity date of underlying transaction</div>
                                <div class="info">10/04/2023</div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Tenor</div>
                                <div class="info">1</div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Type of Goods</div>
                                <div class="info">Product</div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Quote Validity</div>
                                <div class="info">11/04/2023</div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Is Esg Complaint?</div>
                                <div class="info">False</div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Loading Goods</div>
                                <div class="info">India</div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Port of Loading</div>
                                <div class="info">Bombay</div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Discharge Goods</div>
                                <div class="info">India</div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Port of Discharge</div>
                                <div class="info">Bombay</div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Participation Basic</div>
                                <div class="info">Funded/Disclosed</div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel class="mt-10" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title class="dgrey fontBold f-16 ">
                        Pricing details
                    </mat-panel-title>
                    <mat-panel-description class="justify-content-end">
                        <img (click)="editTransaction()" src="../../../../../../../assets/images/icons/action-edit.svg"
                            alt="">
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="mt-20  mb-32">
                    <div class="">
                        <div class="row text-center">
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Commission scheme</div>
                                <div class="info"></div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Minimum participation amount</div>
                                <div class="info">2000</div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Offered Pricing</div>
                                <div class="info">200</div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Retention Amount</div>
                                <div class="info">582</div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Benchmark</div>
                                <div class="info">25</div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Obligor BAnk</div>
                                <div class="info">sbi</div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Any other Conditions</div>
                                <div class="info">Nope</div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel class="mt-10" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title class="dgrey fontBold f-16 ">
                        Select Bank
                    </mat-panel-title>
                    <mat-panel-description class="justify-content-end">
                        <img (click)="editTransaction()" src="../../../../../../../assets/images/icons/action-edit.svg"
                            alt="">
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="mt-20  mb-32">
                    <div class="">
                        <div class="row text-center">
                            <div class="col-md-3 col-sm-6">
                                <div class="label-text">Selected Bank</div>
                                <div class="info">360tf partner banks,</div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="row mt-30">
        <div class="col-md-8 m-auto">
            <div class="row">
                <div class="col-md-6 text-center m-auto button-style">
                    <div class="mt-10">
                        <button (click)="cancelTransaction()" mat-stroked-button class="f-16 w100 ">CANCEL
                            TRANSACTION</button>
                    </div>
                </div>
                <div class="col-md-6 text-center m-auto">
                    <div class="mt-10">
                        <app-button routerLink="/bank-underwriter/success" [name]="'CONFIRM'" [class]="'primary-btn f-16 w100'"
                            style="text-transform: uppercase;"></app-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>