
<app-header></app-header>
<div class="success mt-40 d-flex col-md-6 m-auto" style="height:60%" >
    <div class="congratulation-wrapper white-bg text-center w100">
        <div>
            <div class="">
                <img src="../../../../assets/images/icons/Icon-info.svg"
                width="60px" height="60px">
            </div>
            <div class="f-22 fontBold blueText mt-10">
                Failure
            </div>
            <div class="f-16 fontRegular fw-600 dgrey mt-20">
                Your payment has been canceled!
            </div>
            <div class="text-center col-md-6  m-auto">
                <div class="mt-40 text-center">
                    <div  
                        class="primary-btn f-16 w100 cpointer"
                        (click)="gotoDetails()"
                    >PROCEED</div>
                </div>
            </div>   
        </div>   
    </div>
</div>