<div class="popup">
    <div class="heading">
        More options
        <span (click)="close()"><mat-icon>close</mat-icon></span>
    </div>
    <div class="row" style="margin: 0; padding: 20px;">
        <div class="content_text">
            <div class="download_container">
                <img src="../../../../../../../assets/images/icons/download.svg">
                <span>Download report</span>
            </div>
            <div class="download_container mt-20">
                <img src="../../../../../../../assets/images/icons/refresh.svg">       
                <span>Refresh</span>
            </div>
        </div>
    </div>   
</div>