<div class="view-transaction" style="padding: 20px 10px;">
    <div class="mt-30 px-5 py-2 m-auto">
        <!-- <span class="f-22 fontBold dgrey">
            View Transaction
        </span> -->
        <span class="f-14 fontBold dgrey cpointer back d-flex align-items-center" (click)="back()">
            <mat-icon>keyboard_backspace</mat-icon> Back
        </span>
        <div class="boxShadow">
            <div class="transaction d-flex" style="margin-top: 30px;">
                <div class="col-md-11">
                    <div class="yellow-txt f-14 fontBold">Transaction ID</div>
                    <div class="label-text">CU0041213546541213</div>
                </div>
                <div class="col-md-1" style="text-align: center;">
                    <div class="imgDiv" (click)="editTransaction()">
                        <img src="../../../../../assets/images/icons/action-edit.svg" />
                    </div>                
                </div>
            </div>
            
    
            <div class="mt-20" style="padding: 10px;">
                <!-- <span class="f-14 fontBold blueText" style="margin-top: 20px;">Applicant </span> -->
                <div class="row mt-10">
                    <div class="col-md-3">
                        <div class="label-text">Applicant name</div>
                        <div class="info">Ajay</div>
                    </div>
                    <div class="col-md-3">
                        <div class="label-text">Country</div>
                        <div class="info">India</div>
                    </div>
                    <div class="col-md-3">
                        <div class="label-text">Contact Person</div>
                        <div class="info">Person</div>
                    </div>
                    <div class="col-md-3">
                        <div class="label-text">Email Id</div>
                        <div class="info">asjh@gmail.com</div>
                    </div>
                </div>
                <!-- <span class="f-14 fontBold blueText" style="margin-top: 20px;">Beneficiary Details </span> -->
                <div class="row mt-10">
                    <div class="col-md-3">
                        <div class="label-text">Beneficiary name</div>
                        <div class="info">Ajay</div>
                    </div>
                    <div class="col-md-3">
                        <div class="label-text">Country</div>
                        <div class="info">India</div>
                    </div>
                    <div class="col-md-3">
                        <div class="label-text">Contact Person</div>
                        <div class="info">Person</div>
                    </div>
                    <div class="col-md-3">
                        <div class="label-text">Email Id</div>
                        <div class="info">asjh@gmail.com</div>
                    </div>
                    <div class="col-md-3">
                        <div class="label-text">Bank</div>
                        <div class="info">HDFC</div>
                    </div>
                    <div class="col-md-3">
                        <div class="label-text">Swift Code</div>
                        <div class="info">HDFC016545</div>
                    </div>
                    <div class="col-md-3">
                        <div class="label-text">Bank Country</div>
                        <div class="info">India</div>
                    </div>
                </div>
                              
            </div>
        </div>
        

    </div>
</div>
