<div class="popup">
  <div class="heading">
      {{title}}
      <span (click)="close(false)"><mat-icon>close</mat-icon></span>
  </div>
  <div class="row" style="margin: 0; padding: 20px;">
      <div class="content_text">
          <p>Are you sure want to {{mode}} this {{type}} ?</p>
          <div>

      </div>
          <div class="save-btn-section" style="margin-top: 50px;">
            <button mat-button class="close-btn  f-12 fontBold dgrey" (click)="close(false)">NO</button>

              <button mat-button class="save-btn  f-12 fontBold dgrey" (click)="close(true)">YES</button>
          </div>
      </div>
  </div>
</div>
