
.tnc-wrapper{
    // height: 60vh;
    // overflow-y: scroll;
    .heading {
        width: 100%;
        font: normal normal bold 20px/24px Lato;
        letter-spacing: 0.4px;
        color: #FFFFFF;
        opacity: 1;
        background-color: var(--yellow);
        text-align: center;
        padding: 15px;
        span {
            position: absolute;
            border: 2px solid #fff;
            border-radius: 50px;
            width: 30px;
            height: 30px;
            right: 10px;
            top: 12px;
            .mat-icon {
                padding-top: 2px;
            }
        }
    }
    .renderHtml{
        height: 60vh;
        overflow-y: scroll;
    }
}
