<div class="white-bg support">
    <div class="f-22 fontBold dgrey m-auto" style="text-align: center; margin-top:30px !important;">Support</div>
    <div class="col-md-3 m-auto section-div">
       <img src="../../../../../assets/images/adminV2/support.png" />
    </div>
    <div class="f-16 dgrey fontRegular fw-600 text-center mt-30">Looking for any assistance?</div>
    <div class="f-16 dgrey fontRegular text-center mt-10">We are here to help you 24/7</div>
    <!-- <div class="col-md-3 m-auto stroke-btn" style="margin-top: 40px !important;pointer-events: none;">
        <button mat-stroked-button class="f-16 w100"><mat-icon> call</mat-icon>CALL US</button>
    </div> -->
    <div class="f-14 dgrey fontRegular text-center mt-20">Email us at
        <span class="yellow-txt">
        <a href="mailto:tradesupport@360tf.trade" class="yellow-txt" style="color:var(--yellow);text-decoration: none;">tradesupport@360tf.trade</a>
        </span>
    </div>
</div>
