<div class="vas-popup">
    <div class="heading">
        Refer to
        <span (click)="close()" class="cPointer"><mat-icon>close</mat-icon></span>
    </div>
    <div class="row" style="margin: 0; padding: 20px; margin-top: 5%;">
       <div class="form-container mt-10">
            <div class="imgstyle">
                <img src="../../../../../assets/images/factoring/Congratulatins.svg" />
            </div>
            <div>
                <p class="congrats">Congratulations!</p>
                <p class="success">Invite sent successfully</p>
            </div>
       </div>
    </div>   
</div>