<div class="" id="sendOtp">
    <img (click)="close()" src="../../../../../assets/images/icons/Icon-close_black.svg" class="close">

<div class="send-otp-component  px-4 py-4 d-flex flex-column justify-content-center align-items-center">
    <span class="circle-icon">
        <mat-icon mat-dialog-close>
            <img src="../../../../../assets/images/icons/Icon-close.svg">
        </mat-icon>
    </span>
    <div class="col-md-10">
        <div class="text-center apt15 otp">
            <img src="../../../../../assets/images/icons/otp.png" />

        </div>
        <div class="text-center px-4 py-4">
            <span class="blueText f-22 fontBold">Thank you for sharing access details</span>
            <div class="text-info">
                <p class="f-16 dgrey fontRegular mt-10">We have sent 5 digit passcode on your registered email address.
                </p>
            </div>
            <div class="mt-20">
                <ng-otp-input (onInputChange)="onMobileOtpChange($event)" [config]="config"
                    style="margin: auto;"></ng-otp-input>
            </div>
            <div class="mt-20">
                <div class="d-flex justify-content-end" >
                    <span (click)="resendOTP()" class="fontRegular f-14 cpointer" style="text-decoration: underline;">Resend OTP</span>
                </div>
            </div>
            <!-- <div class="fontRegular f-12 error mt-20" *ngIf="errorMessage2">{{errorMessage2}}</div> -->
            <div class="mt-20">
                <app-button [name]="'SUBMIT'" [class]="'primary-btn f-16 w100 fontBold'" type="submit" [type]="'button'"
                    (click)="verifyOTP()"> VERIFY OTP</app-button>
            </div>
            <div *ngIf="otpError" class="otpError">
                Show Error
            </div>
            <div class="info mt-30">
                <img src="../../../../../assets/images/icons/Icon-info.svg" />
                <div class="fontRegular f-11 dgrey info-text">Check your spam folder just in case our email has skipped
                    your inbox.</div>
            </div>
        </div>
    </div>
</div>

</div>