.mat-mdc-option{
    font-size:smaller !important;
}
.small{
    font-size:smaller !important;
}
.pd-r-0{
    padding-right:0px;
}
.back{
    text-align: end;
}
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }