<div class="update-pwd-component l-blue-bg">

    <div class="px-4 py-4 fp">
        <div class="logo">
            <img src="../../../../assets/images/icons/login-logo.png" />
        </div>
        <p class="white-text f-22 text-center fontBold mt-30">Set new password</p>
        <div class="f-20 text-center"></div>

        <form [formGroup]="passwordChangeForm">
            <div class="col-md-12 d-flex justify-content-center w100">
                <div class="row">
                    <div class="mt-20">
                        <mat-form-field appearance="outline">
                            <mat-label>New Password</mat-label>
                            <input [type]="showNewPassword?'text':'password'" matInput formControlName="newPassword">
                            <mat-icon matSuffix (click)="togglePasswordVisibility1()">
                                {{showNewPassword?'visibility':'visibility_off'}}
                            </mat-icon>
                            <mat-error *ngIf="form['newPassword'].hasError('required')">
                                Password is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mt-20">
                        <mat-form-field appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input [type]="showConfirmPassword?'text':'password'" matInput formControlName="confirmPassword"
                            >
                            <mat-icon matSuffix (click)="togglePasswordVisibility2()">
                                {{showConfirmPassword?'visibility':'visibility_off'}}
                            </mat-icon>
                            <mat-error *ngIf="form['confirmPassword'].hasError('required')">
                                Confirm Password is required
                            </mat-error>
                            <mat-error *ngIf="form['confirmPassword'].touched && form['confirmPassword'].invalid && form['newPassword'].touched">
                                Passsword and
                            Confirm Password didn't match. 
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mt-30">
                            <button mat-raised-button class="primary-btn f16 w100" (click)="submit()">SUBMIT</button>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>