<div class="select-product-container">
    <div class="text-center px-4 px-2 col-md-8 m-auto">
        <div class="mt-30 row d-flex justify-content-center align-items-center">
            <div class="col">
                <div class="p-2">
                    <app-cards [name]="'Factoring'" (selection)="selectedCard($event)" [imagePath]="imagePath"></app-cards>
                </div>
            </div>
        </div>
        <div class="mt-30 text-center">
            <app-button class="btnResize" [name]="'PROCEED'" [class]="'primary-btn f-16 w100'" [type]="'button'" (click)="proceed(selected)"></app-button>
        </div>
    </div>   
</div>
