.reveneue-main-container {
    background: #F8F9FD;
    border-radius: 8px;
    padding: 24px 40px 24px 40px;

    ::ng-deep {
        table .mat-mdc-header-cell {
            min-width: 168px;
            background-color: #F8F9FD !important;
            border-bottom: 0.4px solid #8e8e8e94 !important;
        }

        table .mdc-data-table__cell {
            background-color: #F8F9FD !important;
        }

        thead,
        tbody,
        tfoot,
        tr,
        td,
        th {
            background-color: #F8F9FD !important;
        }

        .mat-mdc-table {
            border-left: none !important;
            border-right: none !important;
            border-top: 0.4px solid #8e8e8e94 !important;
            border-bottom: 0.4px solid #8e8e8e94 !important;
        }

        .tabel-wraper {
            overflow-x: auto !important;
        }
    }

    ul {

        margin: 0 !important;
        padding: 24px 0px !important;
        display: flex;
        align-items: center;
        background: #FFFFFF;
        border: 2px solid rgba(204, 214, 236, 0.2);
        border-radius: 8px;

        li {
            margin-top: 10px;
            border-right: 0.4px solid #D0D0D0;
            padding-left: 35px;
            padding-right: 35px;

        }

        .paddingNone {
            padding-left: 0;
        }

        .borderNone {
            border-right: none;
        }

        .dullText {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 120%;
            color: #727272;
            margin-top: 4px;
        }

        .widthChange {
            width: 120px;
        }

    }
}

.headingText {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    color: #292929;
}

.dateStyle {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    color: #292929;

    align-items: start;
    display: flex;



}

.wrapper-Position {
    display: flex;
    ::ng-deep {
        .mat-mdc-text-field-wrapper {
            position: absolute;
        }
    }
}

.mb-12 {
    margin-bottom: 12px;
}

.ml-6 {
    margin-left: 6px;
}

.numberStyle {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #292929;
    min-width: 127px;

}

.cPointer {
    cursor: pointer;
}

@media(max-width:1470px) {
    ul {
        flex-wrap: wrap;
    }
}

.paginator-container {
    ::ng-deep {

        button,
        select {
            border: none;
            background: transparent;
        }

        .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
            padding-top: 0px;
        }

        .mat-mdc-form-field-icon-prefix>.mat-icon,
        .mat-mdc-form-field-icon-suffix>.mat-icon {
            margin-top: -17px;
            padding-top: 0;
        }

        .mat-mdc-text-field-wrapper {
            width: 120px;
            margin-left: 10px;
        }

        .paginator-page-size {
            display: flex;
            align-items: center;

            ::ng-deep {
                .mat-mdc-text-field-wrapper {
                    height: 25px !important;
                }

                .mat-mdc-form-field-subscript-wrapper {
                    display: none;
                }
            }
        }
    }
}

.pagination_section {
    ::ng-deep {
        .mat-icon {
            color: #ed7406;
        }

        .mat-mdc-select-arrow svg {
            display: none;
        }
    }
}

.paginator-buttons {
    display: flex;
    align-items: center;
}

.paginator-container {
    justify-content: space-between;
    display: flex !important;
    align-items: baseline !important;
    position: relative;
}

.paginator-range {
    font-size: 11px !important;
    margin-top: -6px;
}
@media(min-width:1470px) {
    .reveneue-main-container{
        ul{
            .widthChange {
                width: initial;
            }
        }
    }

}
@media screen and (max-width: 768px) {
    .paginator-container {
        align-items: inherit !important;
        
    }
    .reveneue-main-container{
        ::ng-deep {
            .mat-mdc-text-field-wrapper {
                width: 53px !important;
                margin-left: 0 !important;
                padding-left: 10px;
            }
        }
        ul li {
            border-right: none;
            margin-bottom: 20px;
        }
    }     
}