<div class="congratulation-wrapper white-bg text-center">
    <div>
        <div>
            <img src="../../../../../assets/images/factoring/Congratulatins.svg" />
        </div>
        <div class="f-22 fontBold blueText mt-40">
            Congratulation
        </div>
        <div class="f-16 fontRegular fw-600 dgrey mt-20">
            Your transaction has been successfully Placed!
        </div>
        <div class="text-center px-4 px-2 col-md-12 m-auto">
            <div class="mt-40 text-center">
                <app-button [name]="'TAKE ME TO DASHBOARD'" [class]="'primary-btn f-16 w100'" [type]="'button'" (click)="gotoTransact()"></app-button>
            </div>
        </div>   
    </div>   
</div>
