.forgot-pwd-component {
    height: 100vh;
    display: flex;
    .logo {
                margin: 10px;
                padding: 10px;
                text-align: center;
                background-color: var(--white);
                img {
                    height: 79px;
                }
            }
    .fp {
        background-color: var(--blue);
        width: 40%;
        margin: auto;
        border-radius: 5px;
    }
    ::ng-deep {
        .mdc-notched-outline {
            *{

            color: #fff !important;
            }
        }

        .mdc-text-field--outlined {
            border: 1px solid #fff;
            border-bottom-left-radius: 5px !important;
            border-bottom-right-radius: 5px !important;
        }
        .mat-mdc-form-field {
            width: 100% !important;
        }
        .mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
            background-color: var(--blue);
        }
       .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
            color: var(--white);
        }
        .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input, .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
            color: var(--white) !important;
        }
        input::placeholder {
            color: var(--white) !important;
        }
    }
}
@media screen and (max-width: 768px) { 
    .forgot-pwd-component{
        .fp {
            padding: 20px;
            width: 90%;
        }
    } 
}
