<div class="forgot-pwd-component l-blue-bg">

    <div class="px-4 py-4 fp">
        <div class="logo">
            <img src="../../../../assets/images/icons/login-logo.png" />
        </div>
        <p class="white-text f-22 text-center fontBold mt-30">Forgot Password</p>
        <div class="f-20 text-center"></div>

        <form action="">
            <div class="col-md-12 d-flex justify-content-center w100">
                <div class="row">
                    <div class="mt-20">
                        <app-inputtext [type]="'text'" (focusOutEvent)="updateValueText($event)" [required]="true" [name]="'User ID/ Email'"></app-inputtext>
                    </div>
                    <!-- <div class="mt-20">
                        <app-inputtext [type]="'password'" [required]="true" [name]="'New Password'" ></app-inputtext>
                    </div>
                    <div class="mt-20">
                        <app-inputtext [type]="'password'" [required]="true" [name]="'Confirm Password'" ></app-inputtext>
                    </div> -->
                    <div class="mt-30">
                        <app-button [name]="'SUBMIT'" [class]="'primary-btn f-16 w100'" [type]="'button'"
                            (click)="submit()"></app-button>
                    </div>
                    <div class="text-end" style="padding-bottom: 45px; margin-top: 10px; ">
                        <span (click)="back()" class="white-text fontRegular f-14 cpointer"
                            style="text-decoration: underline;">Back to Login</span>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>