.applicant-beneficiary-details {
	overflow: hidden;

	.mat-mdc-radio-group {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -8px;
		width: calc(100% + 16px);

		::ng-deep {
			.mdc-radio {
				padding: 0;
				transform: scale(0.7);
			}

			.mdc-radio__outer-circle {
				border: 1px solid #d8d8d8;
			}
		}

		.mat-mdc-radio-button {
			border: 1px solid var(--lblue2);
			padding: 5px 15px 5px 10px;
			margin: 2px 8px 10px;
			border-radius: 5px;
			background: #f8f9fd;
			width: auto;
			cursor: pointer;
		}

		@media screen and (max-width: 991px) {
			.mat-mdc-radio-button {
				width: calc(100% / 2 - 16px);
			}
		}
	}
}
