<div class="vas-popup">
    <div class="heading">
        Transaction Bifurcation for
        <span (click)="close()"><mat-icon>close</mat-icon></span>
    </div>
    <div class="row" style="margin: 0; padding: 20px;">
        <ul>
            <li style="margin-bottom: 10px;">
                <div class="heading-text">Accepted Transaction</div>
                <div class="description">
                    <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sd diam nonumy eirmod tempor.</li>
                    <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sd diam nonumy eirmod tempor.</li>
                </div>
            </li>
            <li style="margin-bottom: 10px;">
                <div class="heading-text">Rejected Transaction</div>
                <div class="description">
                    <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sd diam nonumy eirmod tempor.</li>
                    <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sd diam nonumy eirmod tempor.</li>
                </div>
            </li>
            <li style="margin-bottom: 10px;">
                <div class="heading-text">Expired Transaction</div>
                <div class="description">
                    <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sd diam nonumy eirmod tempor.</li>
                    <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sd diam nonumy eirmod tempor.</li>
                </div>
            </li>
        </ul>
    </div>   
</div>