<div class="white-bg cp">
    <!-- <div class="logo">
        <img src="../../../../assets/images/icons/login-logo.png">
    </div> -->
    <div class="f-22 fontBold dgrey m-auto heading" >
        Change password
        <span  class="cPointer" style="cursor: pointer;" (click)="close()"><mat-icon>close</mat-icon></span>
    </div>
    <form [formGroup]="passwordForm" class="px-2 py-3">
    <div class="col-md-6 m-auto section-div" >
        <div class="mt-10 pwd-field">
            <mat-form-field appearance="outline" class="w100">
                <mat-icon style="color: #7B95CE !important;">lock</mat-icon>
                <mat-label>Enter current password</mat-label>
                <input [type]="showPassword?'text':'password'"
                    formControlName = "currentPassword"
                    matInput>
                <mat-icon matSuffix (click)="togglePasswordVisibility()">
                    {{showPassword?'visibility':'visibility_off'}}
                </mat-icon>
                <mat-error *ngIf="passwordForm.controls['currentPassword'].hasError('required')">
                    Current Password is required
                </mat-error>

            </mat-form-field>
        </div>
        <div class="mt-10 pwd-field">
            <mat-form-field appearance="outline" class="w100">
                <mat-icon style="color: #7B95CE !important;">lock</mat-icon>
                <mat-label>Enter new password</mat-label>
                <input [type]="showNewPassword?'text':'password'"
                    formControlName = "newPassword"
                    matInput>
                <mat-icon matSuffix (click)="togglePasswordVisibility2()">
                    {{showNewPassword?'visibility':'visibility_off'}}
                </mat-icon>
                <mat-error *ngIf="passwordForm.controls['newPassword'].hasError('required')">
                    New Password is required
                </mat-error>

            </mat-form-field>
        </div>
        <div class="mt-10 pwd-field">
            <mat-form-field appearance="outline" class="w100">
                <mat-icon style="color: #7B95CE !important;">lock</mat-icon>
                <mat-label>Confirm password</mat-label>
                <input [type]="confirmPassword?'text':'password'"
                    formControlName = "confNewPassword"
                    matInput>
                <mat-icon matSuffix (click)="togglePasswordVisibility3()">
                    {{confirmPassword?'visibility':'visibility_off'}}
                </mat-icon>
                <mat-error *ngIf="passwordForm.controls['confNewPassword'].hasError('required')">
                    Confirm Password is required
                </mat-error>
                <mat-error *ngIf="passwordForm.controls['confNewPassword'].invalid&&!passwordForm.controls['confNewPassword'].hasError('required')">
                    Passwords does not match
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="submit-btn text-center" style="margin-top: 20px;">
		<div class="col-md-4 m-auto">
			<app-button
				[name]="'SUBMIT'"
				[class]="'primary-btn f-16 w100'"
				[type]="'button'"
                (click)="submit()"
			></app-button>
		</div>
	</div>
    </form>
</div>
