<div class="vas-popup">
    <div class="heading">
        Transaction Successful
        <span (click)="close()" class="cpointer"><mat-icon>close</mat-icon></span>
    </div>
   <div style="padding: 20px;" class="text-item f-16">
    Congratulations! You have Successfully subscribe to Postpaid Plan!
    <div class="d-flex justify-content-end " style="margin-top:70px">
        <div class="col-md-2 col-sm-3 widthButton">
            <app-button
            [name]="'OK'"
            [class]="'primary-btn f-16 w100 '"
        ></app-button>
        </div>
    </div>
   </div>
</div>
