:root{
    --white: #FFFFFF;
    --light-blue: #F8F9FD;
    --lblue2: #D9E5FF;
    --lblue3: #ECF1FC;
    --blue: #0032A0;
    --lblue:#D2DBFE;
    --grey: #727272;
    --dgrey: #292929;
    --lgrey: #707070;
    --overlay: #000000B3;
    --yellow: #EB7203;
    --l-grey: #8E8E8E;
    --l-grey2: #EFEEEE;
    --l-yellow: #F7ECE3;
}