<div class="all-detail-container mt-30 kyc" *ngIf="orderType == 'PENDING'">
  <div class="">
    <div class="d-flex align-items-center mb-20">
      <mat-icon style="cursor: pointer;" (click)="routelocation?.back()">keyboard_backspace</mat-icon>
      <div class="ml-12 darkBlackText">Group Company KYC details </div>
    </div>
    <div class="all-details-tab-container">
      <div style="padding:24px" class="admin-user-wrapper">
        <div class="mt-30 admin-user-container">
          <div *ngFor="let maindata of data;let i=index" class=" subContainer">
          <mat-accordion>
              <mat-expansion-panel [expanded]="panelOpenState === i" (opened)="panelOpenState=i" >
                <mat-expansion-panel-header (click)="expand(i);resetForm()">
                  <mat-panel-title class="text-blue left-border fw-600">
                    {{maindata.businessDetails.companyName}} - ({{maindata.businessDetails?.registrationType?.replaceAll('_',' ')}}) 
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="subContainer" style="padding:15px;">
                    <mat-expansion-panel (opened)="businesspanelOpenState = true" (closed)="businesspanelOpenState = false" >
                      <mat-expansion-panel-header (click)="expand(i);">
                        <mat-panel-title class="text-blue left-border fw-600">
                          Business KYC
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="subContainer" style="padding:15px;">
                        <div class="row" *ngFor="let businessKycList of maindata.kycDetails?.[0]?.documentList;let j = index">
                          <!-- <p class="fontBold f-12 mt-15" style="color:#fd7e14">KYC Detail {{j+1}}</p> -->
                          <div class="">
                            <div class="row">
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                                <div class="light-text mb-4">Country</div>
                                <div class="dark-text">{{businessKycList?.country}}</div>
                              </div>
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                                <div class="light-text mb-4">Document <img
                                    src="../../../../../assets/images/adminV2/carbon_document-view.svg"
                                    *ngIf="businessKycList?.url" (click)="viewDocument(businessKycList?.url,businessKycList?.documentType)" align="right">
                                </div>
                                <div class="dark-text">{{businessKycList?.documentName}}</div>
                              </div>
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                                <div class="light-text mb-4">Current Status</div>
                                <div class="dark-text">{{businessKycList?.kycStatus}}</div>
                              </div>
                              <!-- kyc is not pending and not the latest record -->
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15"
                                *ngIf="businessKycList?.kycStatus != 'PENDING' && j != 0 ">
                                <div class="light-text mb-4">Maker Comment</div>
                                <div class="dark-text">{{businessKycList?.makerComment}}</div>
                              </div>
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15"
                                *ngIf="businessKycList?.kycStatus != 'PENDING' && j != 0 ">
                                <div class="light-text mb-4">Checker Comment</div>
                                <div class="dark-text">{{businessKycList?.checkerComment}}</div>
                              </div>
                              <!-- for latest record and status is pending -->
                              <div class="col-xxl-4 col-xl-3 col-lg-4 col-md-6 col-12 mt-15"
                                *ngIf="!businessKycList?.makerComment && j == 0 && businessKycList?.kycStatus == 'PENDING' && myRights.includes('KYC_APPROVE')">
                                <!-- comment empty and latest record -->
                                <mat-form-field appearance="outline" class="w100 newInput">
                                  <mat-label>Comment*</mat-label>
                                  <input type="text" matInput [(ngModel)]="businessComment" (input)="comment('BUSINESS')">
                                </mat-form-field>
                              </div>
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15"
                                *ngIf="businessKycList?.makerComment && j == 0">
                                <!-- comment having values and latest record -->
                                <div class="light-text mb-4">Maker Comment</div>
                                <div class="dark-text">{{businessKycList?.makerComment}}</div>
                              </div>
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15"
                                *ngIf="businessKycList?.checkerComment && j == 0">
                                <!-- comment having values and latest record -->
                                <div class="light-text mb-4">Checker Comment</div>
                                <div class="dark-text">{{businessKycList?.checkerComment}}</div>
                              </div>
                            </div>
                            <!-- END for i == 0 and status is pending -->
        
                            <div class="row mt-10" style="justify-content: end;"
                              *ngIf="businessKycList?.kycStatus == 'PENDING' && j == 0 && myRights.includes('KYC_APPROVE')">
                              <!-- Business KYC approve -->
                              <div class="col-md-1 extra">
                                <button mat-raised-button class="approveBtn"
                                  (click)="kycBusinessAction(maindata.personalDetails?.id,'BUSINESS','MAKER_APPROVED',businessKycList?.id,maindata.businessDetails?.id)">Approve</button>
                              </div>
                              <div class="col-md-1 extra">
                                <button mat-raised-button class="rejectBtn" 
                                  (click)="kycBusinessAction(maindata.personalDetails?.id,'BUSINESS','REJECTED',businessKycList?.id,maindata.businessDetails?.id)">Reject</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      </mat-expansion-panel><br>
                      <mat-expansion-panel *ngIf="maindata.personalDetails?.subscriberType == 'CUSTOMER'" (opened)="financialpanelOpenState = true" (closed)="financialpanelOpenState = false">
                        <mat-expansion-panel-header (click)="expand(i);">
                          <mat-panel-title class="text-blue left-border fw-600">
                            Financials
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class=" subContainer" style="padding:15px;">
                          <div style="padding: 10px;">
                            <form [formGroup]="financial">
                              <div class="row mt-10">
                                <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15 newInput">
                                  <mat-form-field appearance="outline" class="w100">
                                    <mat-label>Customer Turnover(USD Mn)</mat-label>
                                    <input type="text" matInput formControlName="customerTurnover"
                                      (keypress)="phoneInputHandler($event);">
                                  </mat-form-field>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15 newInput">
                                  <mat-form-field appearance="outline" class="w100">
                                    <mat-label>Import Volume (USD Mn)</mat-label>
                                    <input type="text" matInput formControlName="importVolume">
                                  </mat-form-field>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15 newInput">
                                  <mat-form-field appearance="outline" class="w100">
                                    <mat-label>Export Volume (USD Mn)</mat-label>
                                    <input type="text" matInput formControlName="exportVolume">
                                  </mat-form-field>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15 newInput">
                                  <mat-form-field appearance="outline" class="w100">
                                    <mat-label>Estimated yearly LC Volume ($ Mn)</mat-label>
                                    <input type="text" matInput formControlName="estimatedYearlyLcVolume">
                                  </mat-form-field>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15 newInput">
                                  <mat-form-field appearance="outline" class="w100">
                                    <mat-label>Banks used currently for LC issuance</mat-label>
                                    <input type="text" matInput formControlName="banksUsedCurrentlyForLcIssuance">
                                  </mat-form-field>
                                </div>
                              </div>
                              <div class="row mt-10" style="justify-content: end;">
                                <!-- Financial maindata save -->
                                <div class="col-md-1">
                                  <button mat-raised-button class="approveBtn"
                                    (click)="saveFinancialForCustomer(maindata.personalDetails?.username,maindata.businessDetails?.id)" [disabled]="!myRights.includes('KYC_APPROVE')">Save</button>
                                </div>
                                <div class="col-md-1">
                                  <button mat-raised-button class="rejectBtn" (click)="resetForm()" [disabled]="!myRights.includes('KYC_APPROVE')">Cancel</button>
                                </div>
                              </div>
                            </form>
                            <br>
                          </div>
                        </div>
                      </mat-expansion-panel>
                      <br>
                      <mat-expansion-panel (opened)="bankpanelOpenState = true" (closed)="bankpanelOpenState = false">
                        <mat-expansion-panel-header (click)="expand(i)">
                          <mat-panel-title class="text-blue left-border fw-600">
                            Bank Details
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class=" subContainer" style="padding:15px;">
                          <div style="padding: 10px;">
                            <div class="row mt-10">
                              <!-- <div class="col-md-4" *ngIf="maindata.personalDetails?.subscriberType == 'CUSTOMER'">
                                <mat-form-field appearance="outline" class="w100">
                                    <mat-label>360tf Preferred Banks</mat-label>
                                    <mat-select [ngModel]="newBankList" formControlName="preferredBanks" multiple>
                                        <!-- <mat-option value="All" #matOption (click)="selectAll(matOption.selected)">All</mat-option> [disabled]="matOption.selected"--
                                        <mat-option *ngFor="let item of preferredBankList" [value]="item.id"  style="font-size:medium">{{item.bankName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div> -->
                              <div class="row">
                                <div class="col-md-4 chip">
                                  <!-- <mat-form-field appearance="outline" class="w100">
                                    <mat-label>360tf Preferred Banks</mat-label>
                                    <mat-select [(ngModel)]="newBankList" multiple>
                                        <mat-option *ngFor="let item of preferredBankList" [value]="item.id"  style="font-size:medium">{{item.bankName}}</mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                                <form [formGroup]="form" >
                                  <mat-form-field class="w100 newInput" appearance="outline" >
                                    <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                                    <!-- <span><img src="../../../../../assets/images/adminV2/darrow.svg" style="height:11px"/></span> -->
                                    <mat-label>360tf Preferred Banks</mat-label>
                                    <mat-select formControlName="newBankListControl" multiple >
                                      <mat-select-trigger>
                                        <mat-chip-listbox>
                                          <mat-chip *ngFor="let category of (form.controls['newBankListControl'].value)?.slice(0,2)" [removable]="true"
                                            (removed)="onCatRemoved(category)" [disabled]="!myRights.includes('KYC_APPROVE')">
                                            {{ category }}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                          </mat-chip>
                                          <span *ngIf="form.controls['newBankListControl'].value.length > 2">+{{form.controls['newBankListControl'].value.length - 2}} more</span>
                                        </mat-chip-listbox>
                                      </mat-select-trigger>
                                      <mat-option *ngFor="let item of preferredBankList" [value]="item.bankName" [disabled]="!myRights.includes('KYC_APPROVE')">
                                        {{ item.bankName }}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                 </form>
                                </div>
                                <div class="col-md-6 fileupload d-flex newInput uploadstyle">
                                  <!-- <input type="file" class="file-upload" onchange="console.log(event.target.files)">   -->
                                  <mat-form-field appearance="outline" style="width: 100% !important;">
                                    <mat-label>Other Banks</mat-label>
                                    <div class="myfilebrowser">
                                      <mat-toolbar>
                                        <!-- Readonly Input to show File names -->
                                        <input matInput style="font-size:14px;margin-top:11%" [(ngModel)]="myfilename" readonly
                                          name="file" />
                                        <span class="browse" style="margin-top:11%">Browse Files</span>
                                      </mat-toolbar>
                                      <!-- Fetch selected filed on change -->
                                      <input type="file" #UploadFileInput id="fileUpload" (change)="upload($event)"
                                        name="fileUpload" accept=".csv" [disabled]="!myRights.includes('KYC_APPROVE')"/>
                                    </div>
                                    <mat-hint class="f-12 yellow-txt" (click)="downloadSample()">Download sample file</mat-hint>
          
                                  </mat-form-field>
                                  <div style="margin-left: 20px; margin-top: 20px;">
                                    <button mat-stroked-button class="rejectBtn"
                                      (click)="uploadPreferredFile(maindata.businessDetails?.id)"
                                      [disabled]="!fileuploaded">Upload</button>
                                  </div>
          
                                </div>
                                <!-- <div class="col-md-4 mt-10" style="display:flex">
                              <input type="file" #UploadFileInput id="fileUpload"  name="fileUpload" (change)="upload($event)" accept=".csv"/> 
                              <span  class="material-icons deleteFile" *ngIf="fileuploaded"  (click)="removeSelectedFile()" >delete</span> 
                              <mat-hint (click)="downloadSample()">Download Sample file</mat-hint> 
                              <button mat-raised-button class="rejectBtn" (click)="uploadPreferredFile(maindata.personalDetails?.username)" [disabled]="!fileuploaded">Upload</button>
          
                            </div> -->
                              </div>
                              <div class="row mt-10" style="justify-content: end;">
                                <button mat-raised-button class="approveBtn"
                                  (click)="saveFinancialForBank(maindata.personalDetails?.username,maindata.businessDetails?.id)" [disabled]="!myRights.includes('KYC_APPROVE')">Save</button>
                              </div>
                            </div>
                            <div class="mt-10">
                              <table class="otherBankTable mt-10" *ngIf="maindata.businessDetails?.otherPreferredBanks">
                                <tr class="fontBold">
                                  <!-- <th>Sr No.</th> -->
                                  <th>Bank Name</th>
                                  <th>Country</th>
                                  <th>Contact Person Name</th>
                                  <th>Mobile No</th>
                                  <th>Email ID</th>
                                </tr>
                                <tr *ngFor="let otherBankData of maindata.businessDetails?.otherPreferredBanks; let i=index">
                                  <!-- <td>{{i+1}}</td> -->
                                  <td>{{otherBankData.bankName}}</td>
                                  <td>{{otherBankData.country}}</td>
                                  <td>{{otherBankData.contactPersonName}}</td>
                                  <td>{{otherBankData.contactPersonMobileNo}}</td>
                                  <td>{{otherBankData.email}}</td>
                                </tr>
                              </table>
                            </div><br>
          
                          </div>
          
                        </div>
                      </mat-expansion-panel>
                </div>
              </mat-expansion-panel><br> 
              
          </mat-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="all-detail-container mt-30 kyc" *ngIf="orderType != 'PENDING'">
  <div class="">
    <div class="d-flex align-items-center mb-20">
      <mat-icon style="cursor: pointer;" (click)="routelocation?.back()">keyboard_backspace</mat-icon>
      <div class="ml-12 darkBlackText">Group Company KYC details </div>
    </div>
    <div class="all-details-tab-container">
      <div style="padding:24px" class="admin-user-wrapper">
        <div class="mt-30 admin-user-container">
          <div *ngFor="let maindata of data;let i=index" class=" subContainer">
          <mat-accordion>
              <mat-expansion-panel [expanded]="panelOpenState === i" (opened)="panelOpenState=i" >
                <mat-expansion-panel-header (click)="expand(i)">
                  <mat-panel-title class="text-blue left-border fw-600">
                    {{maindata.businessDetails.companyName}} - ({{maindata.businessDetails?.registrationType?.replaceAll('_',' ')}}) 
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="subContainer" style="padding:15px;">
                    <mat-expansion-panel (opened)="businesspanelOpenState = true" (closed)="businesspanelOpenState = false">
                      <mat-expansion-panel-header (click)="expand(i)">
                        <mat-panel-title class="text-blue left-border fw-600">
                          Business KYC
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="subContainer" style="padding:15px;">
                        <div class="row" *ngFor="let businessKycList of maindata.kycDetails?.[0]?.documentList;let j = index">
                          <!-- <p class="fontBold f-12 mt-15" style="color:#fd7e14">KYC Detail {{j+1}}</p> -->
                          <div class="">
                            <div class="row">
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                                <div class="light-text mb-4">Country</div>
                                <div class="dark-text">{{businessKycList?.country}}</div>
                              </div>
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                                <div class="light-text mb-4">Document <img
                                    src="../../../../../assets/images/adminV2/carbon_document-view.svg"
                                    *ngIf="businessKycList?.url" (click)="viewDocument(businessKycList?.url,businessKycList?.documentType)" align="right">
                                </div>
                                <div class="dark-text">{{businessKycList?.documentName}}</div>
                              </div>
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15">
                                <div class="light-text mb-4">Current Status</div>
                                <div class="dark-text">{{businessKycList?.kycStatus}}</div>
                              </div>
                              <!-- kyc is not pending and not the latest record -->
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15"
                                *ngIf="businessKycList?.kycStatus != 'PENDING' && j != 0 ">
                                <div class="light-text mb-4">Maker Comment</div>
                                <div class="dark-text">{{businessKycList?.makerComment}}</div>
                              </div>
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15"
                                *ngIf="businessKycList?.kycStatus != 'PENDING' && j != 0 ">
                                <div class="light-text mb-4">Checker Comment</div>
                                <div class="dark-text">{{businessKycList?.checkerComment}}</div>
                              </div>
                              <!-- for latest record and status is pending -->
                              
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15"
                                *ngIf="businessKycList?.makerComment && j == 0">
                                <!-- comment having values and latest record -->
                                <div class="light-text mb-4">Maker Comment</div>
                                <div class="dark-text">{{businessKycList?.makerComment}}</div>
                              </div>
                              <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15"
                                *ngIf="businessKycList?.checkerComment && j == 0">
                                <!-- comment having values and latest record -->
                                <div class="light-text mb-4">Checker Comment</div>
                                <div class="dark-text">{{businessKycList?.checkerComment}}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      </mat-expansion-panel><br>
                      <mat-expansion-panel *ngIf="maindata.personalDetails?.subscriberType == 'CUSTOMER'" (opened)="financialpanelOpenState = true" (closed)="financialpanelOpenState = false">
                        <mat-expansion-panel-header (click)="expand(i);">
                          <mat-panel-title class="text-blue left-border fw-600">
                            Financials
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class=" subContainer" style="padding:15px;">
                          <div style="padding: 10px;">
                            <form [formGroup]="financial">
                              <div class="row mt-10">
                                <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15 newInput">
                                  <mat-form-field appearance="outline" class="w100">
                                    <mat-label>Customer Turnover(USD Mn)</mat-label>
                                    <input type="text" matInput formControlName="customerTurnover" value="maindata?.businessDetails?.customerTurnover" readonly>
                                  </mat-form-field>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15 newInput">
                                  <mat-form-field appearance="outline" class="w100">
                                    <mat-label>Import Volume (USD Mn)</mat-label>
                                    <input type="text" matInput formControlName="importVolume"  value="maindata?.businessDetails?.importVolume" readonly>
                                  </mat-form-field>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15 newInput">
                                  <mat-form-field appearance="outline" class="w100">
                                    <mat-label>Export Volume (USD Mn)</mat-label>
                                    <input type="text" matInput formControlName="exportVolume"  value="maindata?.businessDetails?.exportVolume" readonly>
                                  </mat-form-field>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15 newInput">
                                  <mat-form-field appearance="outline" class="w100">
                                    <mat-label>Estimated yearly LC Volume ($ Mn)</mat-label>
                                    <input type="text" matInput formControlName="estimatedYearlyLcVolume"  value="maindata?.businessDetails?.estimatedYearlyLcVolume" readonly>
                                  </mat-form-field>
                                </div>
                                <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-12 mt-15 newInput">
                                  <mat-form-field appearance="outline" class="w100">
                                    <mat-label>Banks used currently for LC issuance</mat-label>
                                    <input type="text" matInput formControlName="banksUsedCurrentlyForLcIssuance"  value="maindata?.businessDetails?.banksUsedCurrentlyForLcIssuance" readonly>
                                  </mat-form-field>
                                </div>
                              </div>
                            </form>
                            <br>
                          </div>
                        </div>
                      </mat-expansion-panel>
                      <br>
                      <mat-expansion-panel (opened)="bankpanelOpenState = true" (closed)="bankpanelOpenState = false">
                        <mat-expansion-panel-header (click)="expand(i)">
                          <mat-panel-title class="text-blue left-border fw-600">
                            Bank Details
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class=" subContainer" style="padding:15px;">
                          <div style="padding: 10px;">
                            <div class="row mt-10">
                              <!-- <div class="col-md-4" *ngIf="maindata.personalDetails?.subscriberType == 'CUSTOMER'">
                                <mat-form-field appearance="outline" class="w100">
                                    <mat-label>360tf Preferred Banks</mat-label>
                                    <mat-select [ngModel]="newBankList" formControlName="preferredBanks" multiple>
                                        <!-- <mat-option value="All" #matOption (click)="selectAll(matOption.selected)">All</mat-option> [disabled]="matOption.selected"--
                                        <mat-option *ngFor="let item of preferredBankList" [value]="item.id"  style="font-size:medium">{{item.bankName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div> -->
                              <div class="row">
                                <div class="col-md-4 chip">
                                  <!-- <mat-form-field appearance="outline" class="w100">
                                    <mat-label>360tf Preferred Banks</mat-label>
                                    <mat-select [(ngModel)]="newBankList" multiple>
                                        <mat-option *ngFor="let item of preferredBankList" [value]="item.id"  style="font-size:medium">{{item.bankName}}</mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                                <form [formGroup]="form">
                                  <mat-form-field class="w100 newInput" appearance="outline" >
                                    <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                                    <!-- <span><img src="../../../../../assets/images/adminV2/darrow.svg" style="height:11px"/></span> -->
                                    <mat-label>360tf Preferred Banks</mat-label>
                                    <mat-select formControlName="newBankListControl" multiple >
                                      <mat-select-trigger>
                                        <mat-chip-listbox>
                                          <mat-chip *ngFor="let category of (form.controls['newBankListControl'].value)?.slice(0,2)" [removable]="true"
                                            (removed)="onCatRemoved(category)" disabled>
                                            {{ category }}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                          </mat-chip>
                                          <span *ngIf="form.controls['newBankListControl'].value.length > 2">+{{form.controls['newBankListControl'].value.length - 2}} more</span>
                                        </mat-chip-listbox>
                                      </mat-select-trigger>
                                      <mat-option *ngFor="let item of preferredBankList" [value]="item.bankName" disabled>
                                        {{ item.bankName }}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                 </form>
                                </div>
                              </div>
                            </div>
                            <div class="mt-10">
                              <table class="otherBankTable mt-10" *ngIf="maindata.businessDetails?.otherPreferredBanks">
                                <tr class="fontBold">
                                  <!-- <th>Sr No.</th> -->
                                  <th>Bank Name</th>
                                  <th>Country</th>
                                  <th>Contact Person Name</th>
                                  <th>Mobile No</th>
                                  <th>Email ID</th>
                                </tr>
                                <tr *ngFor="let otherBankData of maindata.businessDetails?.otherPreferredBanks; let i=index">
                                  <!-- <td>{{i+1}}</td> -->
                                  <td>{{otherBankData.bankName}}</td>
                                  <td>{{otherBankData.country}}</td>
                                  <td>{{otherBankData.contactPersonName}}</td>
                                  <td>{{otherBankData.contactPersonMobileNo}}</td>
                                  <td>{{otherBankData.email}}</td>
                                </tr>
                              </table>
                            </div><br>
          
                          </div>
          
                        </div>
                      </mat-expansion-panel>
                </div>
              </mat-expansion-panel><br> 
          </mat-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<table id="excel-table" [hidden]="true">
  <tr>
    <th>bankName</th>
    <th>email</th>
    <th>contactPersonMobileNo</th>
    <th>contactPersonName</th>
    <th>country</th>
  </tr>
</table>
