<div style="padding: 20px 10px;">
  <span class="f-22 fontBold dgrey">New Request</span>

  <div class="mt-30 table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="Assignor_Seller">
        <th mat-header-cell *matHeaderCellDef> Assignor/Seller </th>
        <td mat-cell *matCellDef="let element">
          {{element.factoringTransaction.factoringUserType=='DEBTOR'?element.factoringTransaction.debtorToAssignor:element.factoringTransaction.groupComapany.companyName}}
        </td>
      </ng-container>
      <ng-container matColumnDef="Debotr_Buyer">
        <th mat-header-cell *matHeaderCellDef> Debotr/Buyer </th>
        <td mat-cell *matCellDef="let element">
          {{element.factoringTransaction.factoringUserType=='DEBTOR'?element.factoringTransaction.groupComapany.companyName:element.factoringTransaction.assignorToDebtor}}
        </td>
      </ng-container>
      <ng-container matColumnDef="Amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element">
          {{element.factoringTransaction.amount | amount}}
        </td>
      </ng-container>

      <ng-container matColumnDef="Invoice_Date">
        <th mat-header-cell *matHeaderCellDef>Invoice Date</th>
        <td mat-cell *matCellDef="let element">
          {{element.factoringTransaction.date}}
        </td>
      </ng-container>
      <ng-container matColumnDef="Due_Date">
        <th mat-header-cell *matHeaderCellDef>Due Date</th>
        <td mat-cell *matCellDef="let element">
          {{element.factoringTransaction.dueDate}}
        </td>
      </ng-container>
      <ng-container matColumnDef="Status" class="selectFact">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element; let i = index" style="width:0%">
          <mat-form-field appearance="outline" style="margin-top: 2%;" class="selectFact">
            <mat-select class="f-12" (selectionChange)="onSelect($event, i)" [(ngModel)]="element.Status">
              <mat-option value="Interested">Interested</mat-option>
              <mat-option value="Not Interested">Not Interested</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="Comment">
        <th mat-header-cell *matHeaderCellDef> Comment </th>
        <td mat-cell *matCellDef="let element" class="selectFact" style="width:0%">
          <mat-form-field appearance="outline" style="margin-top: 10%;" class="w100">
            <input type="text" matInput [(ngModel)]="element.Comment">
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="Pricing" class="selectFact">
        <th mat-header-cell *matHeaderCellDef> Pricing </th>
        <td mat-cell *matCellDef="let element; let i = index" style="width:0%">
          <mat-form-field appearance="outline" style="margin-top: 2%;" class="selectFact">
            <input type="text" #priceValue matInput (click)="onPricingClick(element.Status)"
              [(ngModel)]="element.Pricing" [disabled]="element.Status !== 'Interested'"
              [value]="(element.Status === 'Interested') ? ((advanceRateValue == '' || interestRateValue == '' || factoringCommissionValue == '') ? '' :  (advanceRateValue + ', ' + interestRateValue + ', ' + factoringCommissionValue)) : ''">
            <!-- <mat-hint class="mat-error" *ngIf="!element.Pricing && element.Status === 'Interested'"
              style="color:red" >Pricing required </mat-hint> -->
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="Submit">
        <th mat-header-cell *matHeaderCellDef> Submit </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button class="primary-btn f-12 w-100"
            (click)="onSubmit(element.id, element.Status,element.Comment)">Submit</button>
        </td>
      </ng-container>
      <ng-container matColumnDef="View">
        <th mat-header-cell *matHeaderCellDef> View </th>
        <td mat-cell *matCellDef="let element">
          <i class="fa fa-eye" style="cursor:pointer" (click)="viewDetails(element.id)"></i>
        </td>
      </ng-container>

      <tr class="mat-row " *matNoDataRow>
        <td class="mat-cell text-center " [attr.colspan]="displayColumns.length">
          No Records Found.
        </td>
      </tr>
      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
    </table>
  </div>
  <div class="pagination" style="float: right;">
    <div class="f-12 fontBold grey mx-3"> {{getPage()+' ' }} of {{page?.totalElements}}</div>
    <mat-icon class="pointer" (click)="pagePrevious()" [style.color]="page?.index === 0 ?'#292929a1':'#EB7203'"
      [style.pointer-events]="page?.index === 0?'none':'auto'">
      arrow_back_ios
    </mat-icon>

    <mat-icon class="pointer" (click)="pageNext()" [style.pointer-events]="last===page?.totalElements?'none':'auto'"
      [style.color]="last===page?.totalElements ?'#292929a1':'#EB7203'"
      [style.pointer-events]="last===page?.totalElements ?'none':'auto'" style="margin-left: 10px;">
      arrow_forward_ios
    </mat-icon>
  </div>
</div>

<ng-template #callAPIDialog>
  <div class="text-center">
    <div class="heading">Factoring Pricing Template for Factors
      <span class="circle-icon">
        <mat-icon (click)="closeComment()" mat-dialog-close>
          <img src="../../../assets/images/icons/Icon-close.svg">
        </mat-icon>
      </span>
    </div>
    <div style="padding: 10px 20px 20px 20px; text-align: left;">
      <!-- Add Message: -->
      <!-- ... -->
      <div class="row">
        <div class="col-md-4" style="text-align: left;" matTooltip="This will be Calculated on Invoice Value">Advance Rate (%): </div>
        <div class="col-md-7" style="text-align: right;">
          <mat-form-field>

            <input matInput type="number" min="0" placeholder="Advance Rate" 
              [(ngModel)]="advanceRateValue" (keypress)="isNumberKey($event)">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="text-align: left;" matTooltip="Annually">Interest Rate (pa) (%): </div>
        <div class="col-md-7" style="text-align: right;">
        <mat-form-field>
          <input matInput type="number" placeholder="Interest rate " [(ngModel)]="interestRateValue" min="0" (keypress)="isNumberKey($event)">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" style="text-align: left;" matTooltip="This will be Calculated on Invoice Value">Factoring Commission (%): </div>
      <div class="col-md-7" style="text-align: right;">
        <mat-form-field>
          <input matInput type="number" placeholder="Factoring Commission"
            [(ngModel)]="factoringCommissionValue" min="0" (keypress)="isNumberKey($event)">
        </mat-form-field>
      </div>
    </div>
    <div class="update-btn">
      <button mat-raised-button class="primary-btn f-12 w-100" (click)="okbutton()"> OK</button>
    </div>
  </div>
  </div>
</ng-template>
