.all-transaction {
    .col-md-9 {
        width: calc(100% - 16%) !important;
        margin-top: 6px;
    }
    .col-md-3 {
        width: 16% !important;
    }
    .search{
        display: flex;
        align-items: center;
    }
    .search-option img{
        margin-top: 8px;
        margin-right: 0px !important;
        margin-left: 5px !important;
    }
    .table-container {
        width: 100%;
        overflow-x: auto;
        // height: 345px;

        table .mat-mdc-header-cell {
            font-size: 12px;
            font-weight: bold;
            font-family: "Lato", sans-serif !important;
            background-color: var(--lblue3) !important;
            color: var(--dgrey);
        }

        table .mdc-data-table__cell {
            font-size: 12px;
            font-family: "Lato";
            color: #727272;
        }

        .mat-mdc-table {
            border: 1px solid var(--lblue3) !important;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        ::ng-deep {
            .mat-mdc-menu-content {
                padding: 0 !important;
            }

            .mat-mdc-paginator-page-size {
                display: none !important;
            }

            // .mat-mdc-paginator-range-label {
            //     display: none !important;
            // }
            .mat-mdc-icon-button.mat-mdc-button-base {
                width: 25px !important;
                height: 25px !important;
            }

            .mat-mdc-paginator-container {
                display: inherit !important;
                align-items: inherit !important;
                justify-content: inherit !important;
                padding: 4px 8px;
                flex-wrap: wrap-reverse;
                width: 100%;
            }

            .mdc-icon-button {
                padding: 0 !important;
            }
        }

        .pagination {
            display: flex;
            align-items: center;
            justify-content: end;
        }
    }
    .search-option img{
        margin-top: 0px!important;
    }
    ::ng-deep .mdc-data-table__header-cell {
        text-align: center !important;
      }
    
      ::ng-deep .mdc-data-table__cell {
        text-align: center !important;
      }
    }
    @media (max-width: 1030px) {
      .all-transaction {
        .transaction-table {
          overflow-x: auto !important;  
          table {
            width: 100%;
          }
        }
      }
      ::ng-deep .mdc-data-table__header-cell {
        min-width: 150px;
      }
      .all-transaction .transaction-table::-webkit-scrollbar {
        width: 8px;
        height: 4px !important;
      }
      .all-transaction .transaction-table::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      .all-transaction .transaction-table::-webkit-scrollbar-thumb {
        background-color: #ff8400;
      }
    }
    @media (max-width: 714px) {
      .active-transaction {
        .display {
          flex-direction: column !important;
          margin-right: 3% !important;
          .search {
            width: 100%;
          }
          .mt-20mobile {
            margin-top: 20px;
            justify-content: end;
            display: flex;
            margin-right: 3% !important;
            flex-wrap: wrap;
            width: 100%;
          }
        }
      }
    }
    .all-transaction .transaction-table .transactionStatusStyle {
      ::ng-deep .mat-mdc-text-field-wrapper {
        height: 25px;
        align-items: center;
        width: 90px;
      }
      ::ng-deep .mat-mdc-form-field-subscript-wrapper{
        display: none;
      }
        }
        // 
 .pageSizeChange{
  ::ng-deep{
    .mat-mdc-paginator{
      background: none!important;
    }
    .mat-mdc-paginator-range-actions {
      display: none!important;
    }
  }
}