<!-- <div class="d-flex w70 m-auto tabButtons">
    <button mat-stroked-button (click)="postpaid()" [ngClass]="(isPostpaid == true) ? 'isRaised' : 'isStroked'">Postpaid</button>
    <button mat-stroked-button (click)="prepaid()" [ngClass]="(isPrepaid == true) ? 'isRaised' : 'isStroked'">Prepaid</button>
</div>

<div *ngIf="isPostpaid" class="mt-20">
    <div class="subscription" *ngIf="!openSummary && !paymant">
        <div class="row m-auto" style="margin: 20px 0">
            <div class="col-md-6 " *ngFor="let item of filteredPlans;let i=index" (click)="addPlan(i)">
                <div
                class="cart"
                 [ngClass]="{'clicked':selectedPlan==item}">
                    <div class="heading justify-content-between align-items-center px-2" style="word-wrap: break-word;" >
                        <div class="title-head col-7">{{item.planName}}</div>
                        <div class="col-5" style="text-align: right">
                            <button mat-button class="payment-btn"
                            [ngClass]="{'payment-btn-action':selectedPlan==item}"
                            >USD {{item.price}}</button>
                        </div>
                    </div>

                    <div class="mt-10 px-2" *ngIf="item.productBenefits">
                        <span class="f-14 fw-600">Plan benefits</span>
                        <ul class="mt-10">
                            <li *ngFor="let plans of item.productBenefits">

                                <div class="col-7 d-flex f-12" style="opacity:0.6;font: italic normal normal 14px/24px Lato;"><mat-icon>check</mat-icon>{{plans.benefit}}</div>
                                <div class="col-5 fw-600 f-12">{{plans.value}}</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 m-auto text-center f-16 errorMsg" *ngIf="filteredPlans.length==0">No active plans available.</div>
        </div>
        <div class="col-md-8 m-auto" style="padding:0px 10px">
            <div class="submit-btn d-flex aling-items-center justify-content-between px-4 cpointer"   (click)="summary()">
                <div class="">{{planselected?(selectedPlan.currency+" "+selectedPlan?.price):'0.00'}}</div>
                <div class="">BUY NOW</div>
            </div>
        </div>
    </div>

    <div *ngIf="openVASPlans">
        <app-vas-plan [vasPlans]="vasPlans" [vasPlansEdit]="selectedAddons" [subscriptionPlanCurrency]="selectedPlan.currency" (vasSelected)="vasSelected($event)"></app-vas-plan>
    </div>

    <div *ngIf="openSummary && !paymant && !openVASPlans" class="subscription">
        <div class="summary row"  style="margin-top: 20px">
            <div class="col-md-6 m-auto">
                <div class="cart" style="border: none !important;">
                    <div class="heading d-flex align-items-center justify-content-between " style="word-wrap: break-word;" >
                        <div class="title-head col-7">{{selectedPlan.planName}}</div>
                        <div class="col-5" style="text-align: right">
                            <button mat-button class="payment-btn-action">{{selectedPlan.currency+selectedPlan.price}}</button>
                        </div>
                    </div>

                    <div class="mt-10" *ngIf="selectedPlan.productBenefits">
                        <span class="f-14 fw-600">Plan benefits</span>
                        <ul class="mt-10">
                            <li *ngFor="let plans of selectedPlan.productBenefits">

                                <div class="col-7 d-flex f-12" style="opacity:0.6;font: italic normal normal 14px/24px Lato;"><mat-icon>check</mat-icon>{{plans.benefit}}</div>
                                <div class="col-5 f-12 fw-600">{{plans.value}}</div>
                            </li>
                        </ul>
                    </div>
                    <div class="plan-description" *ngIf="selectedAddons.length>0">
                        <div class="title-head mt-10">Advisory services</div>
                        <div class="plans-details mt-10 d-flex align-items-center justify-content-between" *ngFor="let addon of selectedAddons;let v=index">
                            <div class="f-12">{{addon.planName}}<span class="pay">{{addon.currency+addon.price}}</span></div>
                            <div class="btn-style">
                                <div  (click)="deleteVAS(v)"><img src="../../../../../assets/images/customer/close.png" /></div>
                                <div (click)="goBackToVAS()" style="margin-left: 10px;"><img src="../../../../../assets/images/customer/reverse.png" /></div>
                            </div>
                        </div>

                    </div>
                    <div class="mt-10" style="border-top: 1px dashed #c5cbef;">
                        <div class=" mt-10 d-flex align-items-center justify-content-between">
                            <div class="f-12 fw-900">Subtotal</div>
                            <div class=" f-12 fw-900 ">{{selectedPlan.currency}}{{subtotal|number:'1.2-2'}}</div>
                        </div>
                        <div class="row mt-10 code">
                            <div class="col-md-7">
                                <mat-form-field class="w100" appearance="outline">
                                    <mat-label>Coupon code</mat-label>
                                    <input type="text" class="f-14" matInput
                                    [formControl]="couponCode"
                                    />
                                </mat-form-field>
                            </div>
                            <div class="col-md-5">
                                <button mat-button class="Add-btn" style="width: 100% !important;"
                                (click)="applyDiscount()">APPLY</button>
                            </div>
                        </div>
                    </div>
                    <div class="mt-10" style="border-top: 1px dashed #c5cbef;">
                        <div class="d-flex mt-20  justify-content-between align-items-center">
                            <div class=" d-flex f-12 fw-900"><img src="../../../../../assets/images/customer/discount.png" style="margin-right: 5px; width: 20px;" />Discount</div>
                            <div class=" f-12 fw-900 textAlignRight">{{selectedPlan.currency}}{{this.discount?this.discount:0 | number :'1.2-2'}}</div>
                        </div>
                    </div>
                    <div class="mt-20">
                        <div class="d-flex justify-content-between align-items-center mt-10 total">
                            <div class=" f-14 fw-900" style="padding-left: 0;">Grand Total</div>
                            <div class="f-14 fw-900 textAlignRight" style="padding-right: 0;">{{selectedPlan.currency}}{{grandTotal|number:'1.2-2'}}</div>
                        </div>
                    </div>
                    <div class="mt-20 radio-style">
                        <div class="f-14 fw-600">Payment Option</div>


                        <div class="mt-10">
                            <mat-radio-group aria-label="Select a payment option:">
                                <mat-radio-button
                                (change)="onRadioChange($event)"
                                *ngFor="let item of paymentMethods" value="{{item.value}}">{{item.name}}</mat-radio-button>
                              </mat-radio-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" >
            <div class="col-md-6 text-center m-auto"  style="padding:0px 10px;">
                <app-button
                    [name]="'Make Payment'"
                    [class]="'primary-btn f-16 w100'"
                    (click)="payment()"
                ></app-button>
            </div>
        </div>
    </div>
    <div class="paymeny-success subscription" *ngIf="paymant">
        <div class="col-md-6 m-auto d-flex justify-content-between align-items-center" *ngIf="rejectedPayment">
            <div class="f-14 fw-900">Your Payment was rejected.</div>
            <div class="primary-btn f-16 text-center" (click)="repay()">REPAY</div>
        </div>
        <div class="summary row"  style="margin: 20px 0">
            <div class="m-auto" *ngFor="let planOrdered of orderDetails?.orderLines;let i = index;">
                <div class="cart col-md-6 m-auto" style="border: none !important" *ngIf="planOrdered.productDetails['productType']=='SUBSCRIPTION_PLAN'">
                    <div class="rec-update col-md-6 m-auto textCenter">Purchased Plan</div>
                    <div class="heading mt-10" style="display: block">
                        <div class="title-head col-md-6 m-auto textCenter" style="word-wrap: break-word;">{{planOrdered.productDetails['planName']}}</div>
                         <div class="pay col-md-6 m-auto textCenter">for {{planOrdered.productDetails['duration']+" "+planOrdered.productDetails['durationType']}}</div>
                    </div>

                    <div class="mt-10" style="border-top: 1px dashed #c5cbef;" *ngIf="planOrdered.productDetails['productBenefits']">
                        <div class="mt-10">
                            <span class="f-12 fw-600">Plan benefits</span>
                            <ul class="mt-10 ">
                                <li class="d-flex align-items-center justify-content-between" *ngFor="let b of planOrdered.productDetails['productBenefits'];let j=index;">

                                    <div class="f-12 d-flex" style="font: italic normal normal 14px/24px Lato;opacity: 0.6;"><mat-icon>check</mat-icon>{{planOrdered.productDetails['productBenefits'][j].benefit}}</div>
                                    <div class="f-12 fw-600 textAlignRight">{{planOrdered.productDetails['productBenefits'][j].value}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mt-20">
                        <div class="d-flex justify-content-between align-items-center mt-10 total">
                            <div class=" f-14 fw-900" style="padding-left: 0;">Amount paid including tax</div>
                            <div class="f-14 fw-900 textAlignRight" style="padding-right: 0;">{{orderDetails.paymentDetails[0].currency+" "+orderDetails.paymentDetails[0].totalPrice}}</div>
                        </div>
                    </div>
                    <div class="mt-10">
                        <ul>
                            <li class="mt-10 d-flex justify-content-between align-items-center">
                                <div class=" pay-style">Date and time</div>
                                <div class=" textAlignRight ostyle">{{orderDetails.createdOn  | date}}</div>
                            </li>
                            <li class="mt-10 d-flex justify-content-between align-items-center">
                                <div class=" pay-style">Payment tax. ID</div>
                                <div class=" textAlignRight ostyle">{{orderDetails.paymentDetails[0].pid}}</div>
                            </li>
                        </ul>
                    </div>
                    <div class="f-14" style="margin-top: 50px;">
                        A receipt with payment transaction ID has been sent to <span class="yellow-txt">{{email}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="row">
                    <div class="col-md-6 text-center m-auto button-style" *ngIf="orderDetails.status=='COMPLETED'">
                        <div class="mt-10">
                            <button mat-stroked-button class="f-16 w100" (click)="downloadPayment()">Download Payment</button>
                        </div>
                    </div>

                    <div class="col-md-6 text-center m-auto">
                        <div class="mt-10">
                            <app-button
                            [name]="'Next Up - KYC Details'"
                            [class]="'primary-btn f-16 w100'"
                            style="text-transform: uppercase;"
                            (click)="goToKyc()"
                        ></app-button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isPrepaid" class="mt-20">
    <div class="subscription" *ngIf="!openSummary && !paymant">
        <div class="row m-auto" style="margin: 20px 0">
            <div class="col-md-6 " *ngFor="let item of filteredPlans;let i=index" (click)="addPlan(i)">
                <div
                class="cart"
                 [ngClass]="{'clicked':selectedPlan==item}">
                    <div class="heading justify-content-between align-items-center px-2" style="word-wrap: break-word;" >
                        <div class="title-head col-7">{{item.planName}}</div>
                        <div class="col-5" style="text-align: right">
                            <button mat-button class="payment-btn"
                            [ngClass]="{'payment-btn-action':selectedPlan==item}"
                            >USD {{item.price}}</button>
                        </div>
                    </div>

                    <div class="mt-10 px-2" *ngIf="item.productBenefits">
                        <span class="f-14 fw-600">Plan benefits</span>
                        <ul class="mt-10">
                            <li *ngFor="let plans of item.productBenefits">

                                <div class="col-7 d-flex f-12" style="opacity:0.6;font: italic normal normal 14px/24px Lato;"><mat-icon>check</mat-icon>{{plans.benefit}}</div>
                                <div class="col-5 fw-600 f-12">{{plans.value}}</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 m-auto text-center f-16 errorMsg" *ngIf="filteredPlans.length==0">No active plans available.</div>
        </div>
        <div class="col-md-8 m-auto" style="padding:0px 10px">
            <div class="submit-btn d-flex aling-items-center justify-content-between px-4 cpointer"   (click)="summary()">
                <div class="">{{planselected?(selectedPlan.currency+" "+selectedPlan?.price):'0.00'}}</div>
                <div class="">BUY NOW</div>
            </div>
        </div>
    </div>

    <div *ngIf="openVASPlans">
        <app-vas-plan [vasPlans]="vasPlans" [vasPlansEdit]="selectedAddons" [subscriptionPlanCurrency]="selectedPlan.currency" (vasSelected)="vasSelected($event)"></app-vas-plan>
    </div>

    <div *ngIf="openSummary && !paymant && !openVASPlans" class="subscription">
        <div class="summary row"  style="margin-top: 20px">
            <div class="col-md-6 m-auto">
                <div class="cart" style="border: none !important;">
                    <div class="heading d-flex align-items-center justify-content-between " style="word-wrap: break-word;" >
                        <div class="title-head col-7">{{selectedPlan.planName}}</div>
                        <div class="col-5" style="text-align: right">
                            <button mat-button class="payment-btn-action">{{selectedPlan.currency+selectedPlan.price}}</button>
                        </div>
                    </div>

                    <div class="mt-10" *ngIf="selectedPlan.productBenefits">
                        <span class="f-14 fw-600">Plan benefits</span>
                        <ul class="mt-10">
                            <li *ngFor="let plans of selectedPlan.productBenefits">

                                <div class="col-7 d-flex f-12" style="opacity:0.6;font: italic normal normal 14px/24px Lato;"><mat-icon>check</mat-icon>{{plans.benefit}}</div>
                                <div class="col-5 f-12 fw-600">{{plans.value}}</div>
                            </li>
                        </ul>
                    </div>
                    <div class="plan-description" *ngIf="selectedAddons.length>0">
                        <div class="title-head mt-10">Advisory services</div>
                        <div class="plans-details mt-10 d-flex align-items-center justify-content-between" *ngFor="let addon of selectedAddons;let v=index">
                            <div class="f-12">{{addon.planName}}<span class="pay">{{addon.currency+addon.price}}</span></div>
                            <div class="btn-style">
                                <div  (click)="deleteVAS(v)"><img src="../../../../../assets/images/customer/close.png" /></div>
                                <div (click)="goBackToVAS()" style="margin-left: 10px;"><img src="../../../../../assets/images/customer/reverse.png" /></div>
                            </div>
                        </div>

                    </div>
                    <div class="mt-10" style="border-top: 1px dashed #c5cbef;">
                        <div class=" mt-10 d-flex align-items-center justify-content-between">
                            <div class="f-12 fw-900">Subtotal</div>
                            <div class=" f-12 fw-900 ">{{selectedPlan.currency}}{{subtotal|number:'1.2-2'}}</div>
                        </div>
                        <div class="row mt-10 code">
                            <div class="col-md-7">
                                <mat-form-field class="w100" appearance="outline">
                                    <mat-label>Coupon code</mat-label>
                                    <input type="text" class="f-14" matInput
                                    [formControl]="couponCode"
                                    />
                                </mat-form-field>
                            </div>
                            <div class="col-md-5">
                                <button mat-button class="Add-btn" style="width: 100% !important;"
                                (click)="applyDiscount()">APPLY</button>
                            </div>
                        </div>
                    </div>
                    <div class="mt-10" style="border-top: 1px dashed #c5cbef;">
                        <div class="d-flex mt-20  justify-content-between align-items-center">
                            <div class=" d-flex f-12 fw-900"><img src="../../../../../assets/images/customer/discount.png" style="margin-right: 5px; width: 20px;" />Discount</div>
                            <div class=" f-12 fw-900 textAlignRight">{{selectedPlan.currency}}{{this.discount?this.discount:0 | number :'1.2-2'}}</div>
                        </div>
                    </div>
                    <div class="mt-20">
                        <div class="d-flex justify-content-between align-items-center mt-10 total">
                            <div class=" f-14 fw-900" style="padding-left: 0;">Grand Total</div>
                            <div class="f-14 fw-900 textAlignRight" style="padding-right: 0;">{{selectedPlan.currency}}{{grandTotal|number:'1.2-2'}}</div>
                        </div>
                    </div>
                    <div class="mt-20 radio-style">
                        <div class="f-14 fw-600">Payment Option</div>


                        <div class="mt-10">
                            <mat-radio-group aria-label="Select a payment option:">
                                <mat-radio-button
                                (change)="onRadioChange($event)"
                                *ngFor="let item of paymentMethods" value="{{item.value}}">{{item.name}}</mat-radio-button>
                              </mat-radio-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" >
            <div class="col-md-6 text-center m-auto"  style="padding:0px 10px;">
                <app-button
                    [name]="'Make Payment'"
                    [class]="'primary-btn f-16 w100'"
                    (click)="payment()"
                ></app-button>
            </div>
        </div>
    </div>
    <div class="paymeny-success subscription" *ngIf="paymant">
        <div class="col-md-6 m-auto d-flex justify-content-between align-items-center" *ngIf="rejectedPayment">
            <div class="f-14 fw-900">Your Payment was rejected.</div>
            <div class="primary-btn f-16 text-center" (click)="repay()">REPAY</div>
        </div>
        <div class="summary row"  style="margin: 20px 0">
            <div class="m-auto" *ngFor="let planOrdered of orderDetails?.orderLines;let i = index;">
                <div class="cart col-md-6 m-auto" style="border: none !important" *ngIf="planOrdered.productDetails['productType']=='SUBSCRIPTION_PLAN'">
                    <div class="rec-update col-md-6 m-auto textCenter">Purchased Plan</div>
                    <div class="heading mt-10" style="display: block">
                        <div class="title-head col-md-6 m-auto textCenter" style="word-wrap: break-word;">{{planOrdered.productDetails['planName']}}</div>
                         <div class="pay col-md-6 m-auto textCenter">for {{planOrdered.productDetails['duration']+" "+planOrdered.productDetails['durationType']}}</div>
                    </div>

                    <div class="mt-10" style="border-top: 1px dashed #c5cbef;" *ngIf="planOrdered.productDetails['productBenefits']">
                        <div class="mt-10">
                            <span class="f-12 fw-600">Plan benefits</span>
                            <ul class="mt-10 ">
                                <li class="d-flex align-items-center justify-content-between" *ngFor="let b of planOrdered.productDetails['productBenefits'];let j=index;">

                                    <div class="f-12 d-flex" style="font: italic normal normal 14px/24px Lato;opacity: 0.6;"><mat-icon>check</mat-icon>{{planOrdered.productDetails['productBenefits'][j].benefit}}</div>
                                    <div class="f-12 fw-600 textAlignRight">{{planOrdered.productDetails['productBenefits'][j].value}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mt-20">
                        <div class="d-flex justify-content-between align-items-center mt-10 total">
                            <div class=" f-14 fw-900" style="padding-left: 0;">Amount paid including tax</div>
                            <div class="f-14 fw-900 textAlignRight" style="padding-right: 0;">{{orderDetails.paymentDetails[0].currency+" "+orderDetails.paymentDetails[0].totalPrice}}</div>
                        </div>
                    </div>
                    <div class="mt-10">
                        <ul>
                            <li class="mt-10 d-flex justify-content-between align-items-center">
                                <div class=" pay-style">Date and time</div>
                                <div class=" textAlignRight ostyle">{{orderDetails.createdOn  | date}}</div>
                            </li>
                            <li class="mt-10 d-flex justify-content-between align-items-center">
                                <div class=" pay-style">Payment tax. ID</div>
                                <div class=" textAlignRight ostyle">{{orderDetails.paymentDetails[0].pid}}</div>
                            </li>
                        </ul>
                    </div>
                    <div class="f-14" style="margin-top: 50px;">
                        A receipt with payment transaction ID has been sent to <span class="yellow-txt">{{email}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="row">
                    <div class="col-md-6 text-center m-auto button-style" *ngIf="orderDetails.status=='COMPLETED'">
                        <div class="mt-10">
                            <button mat-stroked-button class="f-16 w100" (click)="downloadPayment()">Download Payment</button>
                        </div>
                    </div>

                    <div class="col-md-6 text-center m-auto">
                        <div class="mt-10">
                            <app-button
                            [name]="'Next Up - KYC Details'"
                            [class]="'primary-btn f-16 w100'"
                            style="text-transform: uppercase;"
                            (click)="goToKyc()"
                        ></app-button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="">
    <div class=" px-3 " *ngIf="!openSummary && !paymant && !openVASPlans">
                        <div class="f-16 fw-600 mb-10 mt-10">VALUE PROPOSITION</div>
                        <div class="">
                            <p>
                                Welcome to 360tf, where importers, exporters,
                                and banks unite for seamless trade finance solutions!
                                As the world's largest corporate-to-bank connector,
                                our cutting-edge platform revolutionizes the way you
                                discover trade finance product prices. Say goodbye to
                                inefficiencies and welcome transparency, swift turnaround
                                times, reduced manual effort, and an impeccable audit trail,
                                all thanks to our digital prowess.
                            </p>
                            <p>
                                Wait, there’s more! In addition to our core features,
                                we offer an array of value-added services tailored for
                                both corporates and banks. Get ready for an unparalleled
                                trade finance experience that leaves behind all the hassles.
                                Write to <span class="yellow-txt">
                                    <a href="mailto:tradesupport@360tf.trade" class="yellow-txt" style="color:var(--yellow);text-decoration: none;">tradesupport@360tf.trade</a></span> to learn more about our value added services.
                            </p>
                        </div>
                    </div>
    <div class="d-flex w70 m-auto tabButtons "  *ngIf="!openSummary && !paymant">
        <button mat-stroked-button (click)="postpaid()" [ngClass]="(isPostpaid == true) ? 'isRaised' : 'isStroked'">Postpaid</button>
        <button mat-stroked-button (click)="prepaid()" [ngClass]="(isPrepaid == true) ? 'isRaised' : 'isStroked'">Prepaid</button>
    </div>
    <div  class="mt-20 plan-div">
        <div class="subscription" *ngIf="!openSummary && !paymant">
            <div class="row m-auto" style="margin: 20px 0">
                <div *ngIf="isPostpaid == true " class="postpaid">
                    <div class="postpaidclass">
                        <div class="listyle">Transaction fees will be advised by your respective trade relationship manager.</div>
                        <div class="listyle">All post-paid plans come along with end-to-end monitoring of transactions.</div>
                        <div class="listyle">Fees are levied on acceptance of quote</div>
                         <!-- <div class="listyle">Transaction fees shall be levied at USD 500 Per transaction or 0.25%, higher of the two will be considered.</div>
                         <div class="listyle">For specific transactions your relashipship manager will advise the pricing.</div> -->
                         <!-- <div class="plansStyle">
                            <div class="innerdiv"><mat-icon>check_circle</mat-icon>All post-paid plans come along with end-to-end monitoring of transactions.</div>
                            <div class="innerdiv"><mat-icon>check_circle</mat-icon>Fees are levied on acceptance of quote</div>
                         </div> -->
                    </div>
                    <div>

                    </div>
                </div>
                <div class="row m-auto" style="padding: 0px;" *ngIf="!isPrepaidCheck">
                <div class="col-md-6" *ngFor="let item of filteredPlans;let i=index" (click)="addPlan(i,item.productId)">
                    <div *ngIf="!isPrepaidCheck "
                    class="cart postpaidClass"
                     [ngClass]="{'clicked':selectedSubscription==item}">
                        <div class="heading justify-content-between align-items-center px-2" style="word-wrap: break-word;" >
                            <div class="title-head col-7">{{item.planName}}</div>
                            <div class="col-5" style="text-align: right"

                                *ngIf="!isPostpaid">
                                <button mat-button class="payment-btn"
                                [ngClass]="{'payment-btn-action':selectedSubscription==item}"
                                >USD {{item.price}}</button>
                            </div>
                        </div>

                        <div class="mt-10 px-2" *ngIf="item.productBenefits">
                            <span class="f-14 fw-600">Plan benefits</span>
                            <ul class="mt-10">
                                <li *ngFor="let plans of item.productBenefits">

                                    <div class="col-7 d-flex f-12" style="opacity:0.6;font: italic normal normal 14px/24px Lato;"><mat-icon>check</mat-icon>{{plans.benefit}}</div>
                                    <div class="col-5 fw-600 f-12">{{plans.value}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row m-auto" style="padding: 0px;" *ngIf="isPrepaidCheck">
                <div class="col-md-6" *ngFor="let item of filteredPlans;let i=index" (click)="addPlan(i,item.productId)">
                  <div *ngIf="isPrepaidCheck"
                  class="cart prepaidClass"
                   [ngClass]="{'clicked':selectedSubscription==item}">
                      <div class="heading justify-content-between align-items-center px-2" style="word-wrap: break-word;" >
                          <div class="title-head col-7">{{item.planName}}</div>
                          <div class="col-5" style="text-align: right">
                              <button mat-button class="payment-btn"
                              [ngClass]="{'payment-btn-action':selectedSubscription==item}"
                              >USD {{item.price}}</button>
                          </div>
                      </div>

                      <div class="mt-10 px-2" *ngIf="item.productBenefits">
                          <span class="f-14 fw-600">Plan benefits</span>
                          <ul class="mt-10">
                              <li *ngFor="let plans of item.productBenefits">

                                    <div class="col-7 d-flex f-12" style="opacity:0.6;font: italic normal normal 14px/24px Lato;"><mat-icon>check</mat-icon>{{plans.benefit}}</div>
                                    <div class="col-5 fw-600 f-12">{{plans.value}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>

                <div class="col-md-6 m-auto text-center f-16 errorMsg" *ngIf="filteredPlans.length==0">No active plans available.</div>
            </div>
            <div class="col-md-8 m-auto" style="padding:0px 10px" [ngClass]="(isPostpaid == true) ? 'col-md-8-modified': 'col-md-8'">
                <div class="submit-btn d-flex aling-items-center justify-content-between px-4 cpointer"   (click)="summary()">
                    <div class="" *ngIf="isPostpaid == false">{{selectedSubscription?(selectedSubscription?.currency+" "+selectedSubscription?.price):'0.00'}}</div>
                    <div class="">BUY NOW</div>
                </div>
            </div>
        </div>

        <div *ngIf="openVASPlans">
            <div class="back">
                <span class="f-14 fontBold yellow-txt cpointer back" (click)="goBacktoPayment()">
                    <mat-icon>keyboard_backspace</mat-icon> Back
                </span>
            </div>
            <app-vas-plan [vasPlans]="getFiltered(vasPlans)" [vasPlansEdit]="selectedAddons" [subscriptionPlanCurrency]="selectedSubscription?.currency" (vasSelected)="vasSelected($event)" [postpaidValue]="checkPostpaidValue"></app-vas-plan>
        </div>

        <div *ngIf="openSummary && !paymant && !openVASPlans" class="subscription">
            <div class="back">
                <span class="f-14 fontBold yellow-txt cpointer back" (click)="backToVAS()">
                    <mat-icon>keyboard_backspace</mat-icon> Back
                </span>
            </div>
            <div class="summary row"  style="margin-top: 20px">
                <div class="col-md-6 m-auto">
                    <div class="cart" style="border: none !important;">
                        <div class="heading d-flex align-items-center justify-content-between " style="word-wrap: break-word;" >
                            <div class="title-head col-7">{{selectedSubscription.planName}}</div>
                            <div class="col-5" style="text-align: right">
                                <button mat-button class="payment-btn-action">{{selectedSubscription.currency+selectedSubscription.price}}</button>
                            </div>
                        </div>

                        <div class="mt-10" *ngIf="selectedSubscription.productBenefits">
                            <span class="f-14 fw-600">Plan benefits</span>
                            <ul class="mt-10">
                                <li *ngFor="let plans of selectedSubscription.productBenefits">

                                    <div class="col-7 d-flex f-12" style="opacity:0.6;font: italic normal normal 14px/24px Lato;"><mat-icon>check</mat-icon>{{plans.benefit}}</div>
                                    <div class="col-5 f-12 fw-600">{{plans.value}}</div>
                                </li>
                            </ul>
                        </div>
                        <div class="plan-description" *ngIf="selectedAddons.length>0">
                            <div class="title-head mt-10">Advisory services</div>
                            <div class="plans-details mt-10 d-flex align-items-center justify-content-between" *ngFor="let addon of selectedAddons;let v=index">
                                <div class="f-12">{{addon.planName}}<span class="pay">{{addon.currency+addon.price}}</span></div>
                                <div class="btn-style">
                                    <div  (click)="deleteVAS(v)"><img src="../../../../../assets/images/customer/close.png" /></div>
                                    <div (click)="goBackToVAS()" style="margin-left: 10px;"><img src="../../../../../assets/images/customer/reverse.png" /></div>
                                </div>
                            </div>

                        </div>
                        <div class="mt-10" style="border-top: 1px dashed #c5cbef;">
                            <div class=" mt-10 d-flex align-items-center justify-content-between">
                                <div class="f-12 fw-900">Subtotal</div>
                                <div class=" f-12 fw-900 ">{{selectedSubscription.currency}}{{subtotal|number:'1.2-2'}}</div>
                            </div>
                            <div class="row mt-10 code">
                                <div class="col-md-7">
                                    <mat-form-field class="w100" appearance="outline">
                                        <mat-label>Coupon code</mat-label>
                                        <input type="text" class="f-14" matInput
                                        [formControl]="couponCode"
                                        (input)="couponCodeHandler($event)"
                                        />
                                        <span matSuffix *ngIf="couponSuccessMessage" (click)="removeCoupon()" >
                                            <img style="width:30px;height:30px;margin:7px" src="../../../../../assets/images/customer/close.png" />
                                        </span>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <button mat-button class="Add-btn" style="width: 100% !important;"
                                    [disabled]="enableCouponButton"
                                    (click)="applyDiscount()">APPLY</button>
                                </div>
                            </div>
                            <div class="row mt-10" *ngIf="couponSuccessMessage">Coupon applied successfully.</div>
                        </div>
                        <div class="mt-10" style="border-top: 1px dashed #c5cbef;">
                            <div class="d-flex mt-20  justify-content-between align-items-center">
                                <div class=" d-flex f-12 fw-900"><img src="../../../../../assets/images/customer/discount.png" style="margin-right: 5px; width: 20px;" />Discount</div>
                                <div class=" f-12 fw-900 textAlignRight">{{selectedSubscription.currency}}{{this.discount?this.discount:0 | number :'1.2-2'}}</div>
                            </div>
                        </div>
                        <div class="mt-20">
                            <div class="d-flex justify-content-between align-items-center mt-10 total">
                                <div class=" f-14 fw-900" style="padding-left: 0;">Grand Total</div>
                                <div class="f-14 fw-900 textAlignRight" style="padding-right: 0;">{{selectedSubscription.currency}}{{grandTotal|number:'1.2-2'}}</div>
                            </div>
                        </div>
                        <div class="mt-20 radio-style">
                            <div class="f-14 fw-600">Payment Option</div>


                            <div class="mt-10">
                                <mat-radio-group aria-label="Select a payment option:">
                                    <mat-radio-button
                                    (change)="onRadioChange($event)"
                                    *ngFor="let item of paymentMethods" value="{{item.value}}">{{item.name}}</mat-radio-button>
                                  </mat-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="min-height: 20px;">
                <div class="f-14 fw-400 text-center" style="color:red"
                    *ngIf="showPaymentMethodSelectionError"
                >Please select payment mode</div>
            </div>
            <div class="col-md-12" >

                <div class="col-md-6 text-center m-auto"  style="padding:0px 10px;">
                    <app-button
                        [name]="'Make Payment'"
                        [class]="'primary-btn f-16 w100'"
                        (click)="payment()"
                    ></app-button>
                </div>
            </div>
        </div>
        <div class="paymeny-success subscription" *ngIf="paymant">
            <div class="col-md-6 m-auto d-flex justify-content-between align-items-center" *ngIf="rejectedPayment">
                <div class="f-14 fw-900">Your Payment was rejected.</div>
                <div class="primary-btn f-16 text-center" (click)="repay()">REPAY</div>
            </div>
            <div class="summary row"  style="margin: 20px 0">
                <div class="m-auto" *ngFor="let planOrdered of orderDetails?.orderLines;let i = index;">
                    <div class="cart col-md-6 m-auto" style="border: none !important" *ngIf="planOrdered.productDetails['productType']=='SUBSCRIPTION_PLAN'">
                        <div class="rec-update col-md-6 m-auto textCenter">Purchased Plan</div>
                        <div class="heading mt-10" style="display: block">
                            <div class="title-head col-md-6 m-auto textCenter" style="word-wrap: break-word;">{{planOrdered.productDetails['planName']}}</div>
                             <!-- <div class="pay col-md-6 m-auto textCenter"
                             *ngIf="planOrdered.productDetails['planType']!=='POSTPAID'"
                             >for {{planOrdered.productDetails['duration']+" "+planOrdered.productDetails['durationType']}}</div> -->
                        </div>

                        <div class="mt-10" style="border-top: 1px dashed #c5cbef;" *ngIf="planOrdered.productDetails['productBenefits']">
                            <div class="mt-10">
                                <span class="f-12 fw-600">Plan benefits</span>
                                <ul class="mt-10 ">
                                    <li class="d-flex align-items-center justify-content-between" *ngFor="let b of planOrdered.productDetails['productBenefits'];let j=index;">

                                        <div class="f-12 d-flex" style="font: italic normal normal 14px/24px Lato;opacity: 0.6;"><mat-icon>check</mat-icon>{{planOrdered.productDetails['productBenefits'][j].benefit}}</div>
                                        <div class="f-12 fw-600 textAlignRight">{{planOrdered.productDetails['productBenefits'][j].value}}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="mt-20" *ngIf="orderedVASPlans?.length>0">
                            <div class="mt-10">
                                <span class="f-12 fw-600">VAS Plans</span>
                                <div class="" *ngFor="let plan of orderedVASPlans">
                                    <div class="title-head">{{plan?.productDetails?.planName}}</div>
                                    <span class="f-12 fw-600">Plan benefits</span>
                                    <ul class="mt-10 ">
                                        <li class="d-flex align-items-center justify-content-between" *ngFor="let b of plan?.productDetails?.productBenefits
                                        ;let j=index;">

                                            <div class="f-12 d-flex" style="font: italic normal normal 14px/24px Lato;opacity: 0.6;"><mat-icon>check</mat-icon>{{b?.benefit}}</div>
                                            <div class="f-12 fw-600 textAlignRight">{{b?.value}}</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="mt-20"
                             *ngIf="planOrdered.productDetails['planType']!=='POSTPAID'">
                            <div class="d-flex justify-content-between align-items-center mt-10 total">
                                <div class=" f-14 fw-900" style="padding-left: 0;">Amount paid including tax</div>
                                <div class="f-14 fw-900 textAlignRight" style="padding-right: 0;">{{orderDetails.paymentDetails[0].currency+" "+(orderDetails.paymentDetails[0].totalPrice | number :'1.2-2')}}</div>
                            </div>
                        </div>
                        <div class="mt-10">
                            <ul>
                                <li class="mt-10 d-flex justify-content-between align-items-center">
                                    <div class=" pay-style">Date</div>
                                    <div class=" textAlignRight ostyle">{{orderDetails.createdOn  | date}}</div>
                                </li>
                                <li class="mt-10 d-flex justify-content-between align-items-center">
                                    <div class=" pay-style">Payment Transaction ID</div>
                                    <div class=" textAlignRight ostyle">{{orderDetails?.orderId}}</div>
                                </li>
                            </ul>
                        </div>
                        <div class="f-14" style="margin-top: 50px;" *ngIf="orderDetails?.paymentDetails[0]?.modeOfPayment==='WIRE_TRANSFER'">

                            The account details where the payment needs to be made has been sent to your registered email ID. Kindly make the payment and wait for the approval. It usually takes up 48 hours to approve the payment. For more clarification contact us at
                            <span class="yellow-txt">
                                <a href="mailto:tradesupport@360tf.trade" class="yellow-txt" style="color:var(--yellow);text-decoration: none;">tradesupport@360tf.trade</a>
                            </span>

                            <!-- A receipt with payment transaction ID has been sent to <span class="yellow-txt">{{email}}</span> -->
                        </div>
                        <div class="f-14" style="margin-top: 50px;" *ngIf="orderDetails?.paymentDetails[0]?.modeOfPayment==='PAYPAL'">
                            A receipt with payment transaction ID has been sent to <span class="yellow-txt">{{email}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 m-auto">
                    <div class="row">
                        <div class="col-md-6 text-center m-auto button-style" *ngIf="orderDetails?.status=='COMPLETED'">
                            <div class="mt-10">
                                <button mat-stroked-button class="f-16 w100 isStroked" [disabled]="isPostpaid" (click)="downloadPayment()">Download Reciept/Invoice</button>
                            </div>
                        </div>

                        <div class="col-md-6 text-center m-auto" *ngIf="!getRejectedStatus()">
                            <div class="mt-10">
                                <app-button
                                [name]="'Next Up - KYC Details'"
                                [class]="'primary-btn f-16 w100'"
                                style="text-transform: uppercase;"
                                (click)="goToKyc()"
                            ></app-button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
